@use "src/styles/abstracts" as abstracts;

.c-object-detail-page-metadata-rights {
	&__content {
		display: flex;
		flex-direction: column;
		gap: abstracts.$spacer-xs;
	}

	&__label {
		display: flex;
		align-items: center;
		gap: abstracts.$spacer-xs;
		font-size: abstracts.$font-size-base;
		line-height: abstracts.$line-height-1xl;
	}

	&__label-icon {
		display: inline-flex;
		flex-shrink: 0;
		align-items: center;
		width: abstracts.$font-size-1xl;
		height: abstracts.$font-size-1xl;
		line-height: 1;
		text-decoration: none;

		:global([class*="c-icon"]) {
			font-size: abstracts.$font-size-1xl;
			line-height: 1;
		}
	}

	&__label-text {
		color: inherit;

		&--link {
			text-decoration: underline;
			text-underline-offset: 0.2rem;
		}
	}

	&__metadata-item {
		display: flex;
		flex-direction: column;

		strong {
			color: abstracts.$black;
			padding-top: abstracts.$spacer-sm;
			padding-bottom: abstracts.$spacer-xxs;
		}
	}
}
