@use "styles/abstracts" as *;

.c-button {
	display: inline-block;
	height: 4.8rem;
	padding: 1.4rem $button-horizontal-whitespace;
	border: 1px solid $teal;
	font-family: $font-family-primary;
	font-size: $font-size-base;
	font-weight: $font-weight-bold;
	line-height: 1.125;
	background-color: $teal;
	border-radius: 4rem;
	color: $white;
	cursor: pointer;
	outline: 2px solid transparent;
	transition: all $animate-default;

	&:hover {
		background-color: $shade;
		border-color: $shade;
	}

	&:active {
		background-color: $teal;
		border-color: $teal;
	}

	&:not(:active,:hover):focus {
		outline: 2px solid $black;
	}
}

/**
 * Elements
 */

.c-button__content {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.c-button__icon {
	display: inline-flex;
	font-size: $font-size-md;

	&--start {
		margin-right: 4px;
	}

	&--end {
		margin-left: 4px;
	}
}

/**
 * Modifiers
 */

// Colors
.c-button--black {
	background-color: $black;
	border-color: $black;

	&:not(:active,:hover):focus {
		outline: 2px solid $teal;
	}
}

// White
.c-button--white {
	background-color: $white;
	border-color: $white;
	color: $black;

	&:hover {
		background-color: $silver;
		border-color: $silver;
	}

	&:active {
		background-color: $teal;
		border-color: $teal;
		color: $white;
	}

	&:not(:active,:hover):focus {
		outline: 2px solid $teal;
	}
}

// Silver
.c-button--silver {
	background-color: $silver;
	border-color: $silver;
	color: $black;

	&:not(:active,:hover):focus {
		outline: 2px solid $teal;
	}
}

//  Sizes
.c-button--block {
	display: block;
	width: 100%;
}

.c-button--sm {
	height: 3.6rem;
	padding: 0.9rem 2rem;
	font-size: $font-size-sm;
	font-weight: $font-weight-normal;
	line-height: $line-height-base;
}

// Variants
.c-button--outline {
	background-color: $white;
	border-color: $black;
	color: $black;

	&:hover {
		background-color: $silver;
	}

	&:active {
		background-color: $teal;
		border-color: $teal;
		color: $white;
	}

	&:not(:active,:hover):focus {
		border-color: transparent;
		outline: 2px solid $teal;
	}
}

.c-button--text {
	font-weight: $font-weight-normal;
	background-color: transparent;
	border-color: transparent;
	color: $black;

	&:hover {
		background-color: transparent;
		border-color: transparent;
		color: $neutral;
	}

	&:active {
		color: $teal;
	}

	&:not(:active,:hover):focus {
		outline: 1px solid $teal;
	}

	&.c-button--neutral {
		font-size: $font-size-sm;
		color: $neutral;

		&:hover {
			color: $shade;
		}

		&:active {
			color: $teal;
		}
	}

	&.c-button--underline {
		text-decoration: underline;
	}
}

.c-button--icon {
	width: 4.8rem;
	padding: 0;
	border-radius: 50%;

	.c-button__icon {
		font-size: $font-size-lg;
	}

	&.c-button--sm {
		width: 3.6rem;
	}

	&.c-button--xs {
		width: 3.2rem;
		height: 3.2rem;
		box-shadow: 0 0 12px rgb(0 0 0 / 29%);
	}

	&.c-button--xxs {
		width: 2.2rem;
		height: 2.2rem;

		.c-button__icon {
			font-size: 2.2rem;
			transform: translateX(-0.1rem); // adjust for visual mismatch
		}
	}
}

// States
.c-button--disabled {
	background-color: $silver;
	border-color: $silver;
	color: $zinc;
	cursor: not-allowed;
	outline: none;

	&:active,
	&:hover {
		background-color: $silver;
		border-color: $silver;
	}

	&:not(:active,:hover):focus {
		outline: none;
	}

	&.c-button--white {
		color: $zinc;
	}

	&.c-button--outline {
		background-color: $white;
		border-color: $zinc;
		color: $zinc;

		&:not(:active,:hover):focus {
			border-color: $zinc;
		}
	}

	&.c-button--text {
		background-color: transparent;
		border-color: transparent;
		color: $zinc;
	}
}
