@use "src/styles/abstracts" as *;

.c-button {
	display: inline-block;
	padding: 1.4rem $button-horizontal-whitespace;
	border: 1px solid $teal-dark;
	font-family: $font-family-primary;
	font-size: $font-size-base;
	font-weight: $font-weight-bold;
	line-height: 1.125;
	text-align: center;
	background-color: $teal-dark;
	border-radius: 4rem;
	color: $white;
	cursor: pointer;
	outline: 2px solid transparent;
	transition: color $animate-default, background-color $animate-default, border-color $animate-default;

	&:hover {
		background-color: $shade;
		border-color: $shade;
	}

	&:active {
		background-color: $teal-extra-dark;
		border-color: $teal-extra-dark;
	}

	/**
	* Cross-browser styles for explicit focus via
	* keyboard-based (eg Tab) navigation or the
	* .focus-visible utility class.
	*/
	&:focus,
	.focus-visible:focus:not(:focus-visible) {
		outline: 2px solid $black;
	}

	/**
* Remove focus styles for non-keyboard focus.
*/
	&:focus:not(:focus-visible) {
		outline: 0;
		box-shadow: none;
	}
}

/**
 * Elements
 */

.c-button__content {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	white-space: nowrap;
}

.c-button__icon {
	display: inline-flex;
	font-size: $font-size-md;

	&--start {
		margin-right: 4px;
	}

	&--end {
		margin-left: 4px;
	}
}

/**
 * Modifiers
 */

// Colors
.c-button--black {
	background-color: $black;
	border-color: $black;

	/**
	* Cross-browser styles for explicit focus via
	* keyboard-based (eg Tab) navigation or the
	* .focus-visible utility class.
	*/
	&:focus,
	.focus-visible:focus:not(:focus-visible) {
		outline: 2px solid $teal;
	}
}

// White
.c-button--white {
	background-color: $white;
	border-color: $white;
	color: $black;

	&:hover {
		background-color: $silver;
		border-color: $silver;
	}

	&:active {
		background-color: $teal-dark;
		border-color: $teal-dark;
		color: $white;
	}

	/**
	* Cross-browser styles for explicit focus via
	* keyboard-based (eg Tab) navigation or the
	* .focus-visible utility class.
	*/
	&:focus,
	.focus-visible:focus:not(:focus-visible) {
		outline: 2px solid $teal;
	}
}

// Silver
.c-button--silver {
	background-color: $silver;
	border-color: $silver;
	color: $black;

	&:hover {
		background-color: $shade;
		border-color: $shade;
		color: $white;
	}

	&:active {
		background-color: $teal-dark;
		border-color: $teal-dark;
		color: $white;
	}

	/**
	* Cross-browser styles for explicit focus via
	* keyboard-based (eg Tab) navigation or the
	* .focus-visible utility class.
	*/
	&:focus,
	.focus-visible:focus:not(:focus-visible) {
		outline: 2px solid $teal;
	}
}

// Silver
.c-button--platinum {
	background-color: $platinum;
	border-color: $platinum;
	color: $black;

	&:hover {
		background-color: $shade;
		border-color: $shade;
		color: $white;
	}

	&:active {
		background-color: $teal-dark;
		border-color: $teal-dark;
		color: $white;
	}

	&:not(:active, :hover):focus {
		outline: 2px solid $teal;
	}
}

//  Sizes
.c-button--block {
	display: block;
	width: 100%;
}

.c-button--sm {
	@include generate-button-small;
}

.c-button--md {
	height: 4.8rem;
}

// Variants
.c-button--outline {
	background-color: $white;
	border-color: $black;
	color: $black;

	&:hover {
		background-color: $silver;
	}

	&:active {
		background-color: $teal-dark;
		border-color: $teal-dark;
		color: $white;
	}

	/**
	* Cross-browser styles for explicit focus via
	* keyboard-based (eg Tab) navigation or the
	* .focus-visible utility class.
	*/
	&:focus,
	.focus-visible:focus:not(:focus-visible) {
		border-color: transparent;
		outline: 2px solid $teal;
	}

	&:focus:not(:focus-visible) {
		border-color: $black;
	}
}

.c-button--text {
	font-weight: $font-weight-normal;
	background-color: transparent;
	border-color: transparent;
	color: $black;

	&:hover {
		background-color: transparent;
		border-color: transparent;
		color: $neutral;
	}

	&:active {
		color: $teal-dark;
		background-color: transparent;
		border-color: transparent;
	}

	/**
	* Cross-browser styles for explicit focus via
	* keyboard-based (eg Tab) navigation or the
	* .focus-visible utility class.
	*/
	&:focus,
	.focus-visible:focus:not(:focus-visible) {
		outline: 2px solid $teal;
	}

	&.c-button--neutral {
		font-size: $font-size-sm;
		color: $neutral;

		&:hover {
			color: $shade;
		}

		&:active {
			color: $teal;
		}
	}

	&.c-button--underline {
		text-decoration: underline;

		div {
			text-decoration: underline;
		}
	}

	&.c-button--white {
		color: $white;
	}
}

.c-button--icon {
	width: 4.8rem;
	height: 4.8rem;
	padding: 0;
	border-radius: 50%;

	.c-button__icon {
		font-size: $font-size-lg;
		text-align: left;
	}

	&.c-button--sm {
		width: 3.6rem;
		height: 3.6rem;
	}

	&.c-button--xs {
		width: 3.2rem;
		height: 3.2rem;
		box-shadow: 0 0 12px rgb(0 0 0 / 29%);
	}

	&.c-button--xxs {
		width: 2.2rem;
		height: 2.2rem;

		.c-button__icon {
			font-size: 2.2rem;
			transform: translateX(-0.1rem); // adjust for visual mismatch
		}
	}
}

.c-button--fill {
	border-radius: 0;
	height: auto;
}

.c-button--light {
	&:hover {
		border: 0.1rem solid $zinc;
		color: $zinc;
	}
}

.c-button--dark {
	background-color: $black;
	color: $white;

	&:hover {
		border: 0.1rem solid $zinc;
		background-color: $white;
		color: $zinc;
	}
}

.c-button--inputCopy {
	background-color: $white;
	color: $black;
	border: 0.1rem solid $zinc;
	border-left: none;
	border-radius: 0;
	font-size: $font-size-base;
	font-weight: $font-weight-normal;
	height: 4.8rem;
	outline: 0.1rem solid transparent;
	padding: 1.4rem $spacer-sm;

	&:focus {
		border: 0.1rem solid $teal;
		outline: 0.1rem solid transparent;
	}

	&:hover {
		background-color: $zinc;
		border-color: $zinc;
	}
}

.c-button--info {
	border: 0.1rem solid $black;
	font-weight: lighter;
	background-color: $white;
	color: $black;

	&:hover {
		background-color: $white;
		border-color: $zinc;
		color: $zinc;
	}
}

// States
.c-button--disabled {
	background-color: $silver;
	border-color: $silver;
	color: $zinc;
	cursor: not-allowed;
	outline: none;

	&:active,
	&:hover {
		background-color: $silver;
		border-color: $silver;
		color: $zinc;
	}

	/**
	* Cross-browser styles for explicit focus via
	* keyboard-based (eg Tab) navigation or the
	* .focus-visible utility class.
	*/
	&:focus,
	.focus-visible:focus:not(:focus-visible) {
		outline: none;
	}

	&.c-button--outline {
		background-color: $white;
		border-color: $zinc;
		color: $zinc;

		&:not(:active, :hover):focus {
			border-color: $zinc;
		}

		&:focus:not(:focus-visible) {
			border-color: $zinc;
		}
	}

	&.c-button--text {
		background-color: transparent;
		border-color: transparent;
		color: $zinc;
	}
}
