@use "src/styles/abstracts" as abstracts;

.c-button {
	display: inline-block;
	padding: 1.4rem abstracts.$button-horizontal-whitespace;
	border: 1px solid abstracts.$teal-dark;
	font-family: abstracts.$font-family-primary;
	font-size: abstracts.$font-size-base;
	font-weight: abstracts.$font-weight-bold;
	line-height: 1.125;
	text-align: center;
	background-color: abstracts.$teal-dark;
	border-radius: 4rem;
	color: abstracts.$white;
	cursor: pointer;
	outline: 2px solid transparent;
	transition:
		color abstracts.$animate-default,
		background-color abstracts.$animate-default,
		border-color abstracts.$animate-default;

	&:hover {
		background-color: abstracts.$shade;
		border-color: abstracts.$shade;
	}

	&:active {
		background-color: abstracts.$teal-extra-dark;
		border-color: abstracts.$teal-extra-dark;
	}

	/**
	* Cross-browser styles for explicit focus via
	* keyboard-based (eg Tab) navigation or the
	* .focus-visible utility class.
	*/
	&:focus,
	.focus-visible:focus:not(:focus-visible) {
		outline: 2px solid abstracts.$black;
	}

	/**
* Remove focus styles for non-keyboard focus.
*/
	&:focus:not(:focus-visible) {
		outline: 0;
		box-shadow: none;
	}
}


/**
 * Elements
 */

.c-button.u-text-ellipsis {
	.c-button__content {
		max-width: 100%;
	}

	.c-button__label {
		@include abstracts.text-ellipsis(false);

		max-width: 100%;
	}
}

.c-button__content {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	white-space: nowrap;
}

.c-button__icon {
	display: inline-flex;
	font-size: abstracts.$font-size-md;

	&--start {
		margin-right: 4px;
	}

	&--end {
		margin-left: 4px;
	}
}

/**
 * Modifiers
 */

// Colors
.c-button--black {
	background-color: abstracts.$black;
	border-color: abstracts.$black;

	/**
	* Cross-browser styles for explicit focus via
	* keyboard-based (eg Tab) navigation or the
	* .focus-visible utility class.
	*/
	&:focus,
	.focus-visible:focus:not(:focus-visible) {
		outline: 2px solid abstracts.$teal;
	}
}

// White
.c-button--white {
	background-color: abstracts.$white;
	border-color: abstracts.$white;
	color: abstracts.$black;

	&:hover {
		background-color: abstracts.$silver;
		border-color: abstracts.$silver;
	}

	&:active {
		background-color: abstracts.$teal-dark;
		border-color: abstracts.$teal-dark;
		color: abstracts.$white;
	}

	/**
	* Cross-browser styles for explicit focus via
	* keyboard-based (eg Tab) navigation or the
	* .focus-visible utility class.
	*/
	&:focus,
	.focus-visible:focus:not(:focus-visible) {
		outline: 2px solid abstracts.$teal;
	}
}

// Silver
.c-button--silver {
	background-color: abstracts.$silver;
	border-color: abstracts.$silver;
	color: abstracts.$black;

	&:hover {
		background-color: abstracts.$shade;
		border-color: abstracts.$shade;
		color: abstracts.$white;
	}

	&:active {
		background-color: abstracts.$teal-dark;
		border-color: abstracts.$teal-dark;
		color: abstracts.$white;
	}

	/**
	* Cross-browser styles for explicit focus via
	* keyboard-based (eg Tab) navigation or the
	* .focus-visible utility class.
	*/
	&:focus,
	.focus-visible:focus:not(:focus-visible) {
		outline: 2px solid abstracts.$teal;
	}
}

// Silver
.c-button--platinum {
	background-color: abstracts.$platinum;
	border-color: abstracts.$platinum;
	color: abstracts.$black;

	&:hover {
		background-color: abstracts.$shade;
		border-color: abstracts.$shade;
		color: abstracts.$white;
	}

	&:active {
		background-color: abstracts.$teal-dark;
		border-color: abstracts.$teal-dark;
		color: abstracts.$white;
	}

	&:not(:active):not(:hover):focus {
		outline: 2px solid abstracts.$teal;
	}
}

//  Sizes
.c-button--block {
	display: block;
	width: 100%;
}

.c-button--sm {
	@include abstracts.generate-button-small;
}

.c-button--md {
	height: abstracts.$button-height;
}

// Variants
.c-button--outline {
	background-color: abstracts.$white;
	border-color: abstracts.$black;
	color: abstracts.$black;

	&:hover {
		background-color: abstracts.$silver;
	}

	&:active {
		background-color: abstracts.$teal-dark;
		border-color: abstracts.$teal-dark;
		color: abstracts.$white;
	}

	/**
	* Cross-browser styles for explicit focus via
	* keyboard-based (eg Tab) navigation or the
	* .focus-visible utility class.
	*/
	&:focus,
	.focus-visible:focus:not(:focus-visible) {
		border-color: transparent;
		outline: 2px solid abstracts.$teal;
	}

	&:focus:not(:focus-visible) {
		border-color: abstracts.$black;
	}
}

.c-button--text {
	font-weight: abstracts.$font-weight-normal;
	background-color: transparent;
	border-color: transparent;
	color: abstracts.$black;

	&:hover {
		background-color: transparent;
		border-color: transparent;
		color: abstracts.$neutral;
	}

	&:active {
		color: abstracts.$teal-dark;
		background-color: transparent;
		border-color: transparent;
	}

	/**
	* Cross-browser styles for explicit focus via
	* keyboard-based (eg Tab) navigation or the
	* .focus-visible utility class.
	*/
	&:focus,
	.focus-visible:focus:not(:focus-visible) {
		outline: 2px solid abstracts.$teal;
	}

	&.c-button--neutral {
		font-size: abstracts.$font-size-sm;
		color: abstracts.$neutral;

		&:hover {
			color: abstracts.$shade;
		}

		&:active {
			color: abstracts.$teal;
		}
	}

	&.c-button--underline {
		text-decoration: underline;

		div {
			text-decoration: underline;
		}
	}

	&.c-button--white {
		color: abstracts.$white;
	}
}

.c-button--icon {
	width: abstracts.$button-height;
	height: abstracts.$button-height;
	padding: 0;
	border-radius: 50%;

	.c-button__icon {
		font-size: abstracts.$font-size-lg;
		text-align: left;
	}

	&.c-button--sm {
		width: 3.6rem;
		height: 3.6rem;
	}

	&.c-button--xs {
		width: 3.2rem;
		height: 3.2rem;
		box-shadow: 0 0 12px rgb(0 0 0 / 29%);
	}

	&.c-button--xxs {
		width: 2.2rem;
		height: 2.2rem;

		.c-button__icon {
			font-size: 2.2rem;
			transform: translateX(-0.1rem); // adjust for visual mismatch
		}
	}
}

.c-button--fill {
	border-radius: 0;
	height: auto;
}

.c-button--light {
	&:hover {
		border: 0.1rem solid abstracts.$zinc;
		color: abstracts.$zinc;
	}
}

.c-button--dark {
	border-color: abstracts.$black;
	background-color: abstracts.$black;
	color: abstracts.$white;

	&:hover {
		border: 0.1rem solid abstracts.$zinc;
		background-color: abstracts.$white;
		color: abstracts.$zinc;
	}
}

.c-button--inline-input {
	background-color: abstracts.$black;
	color: abstracts.$white;
	border: 0.1rem solid abstracts.$zinc;
	border-left: none;
	border-radius: 0;
	font-size: abstracts.$font-size-base;
	font-weight: abstracts.$font-weight-normal;
	height: abstracts.$button-height;
	outline: 0.1rem solid transparent;
	padding: 1.4rem abstracts.$spacer-sm;

	&:focus {
		border: 0.1rem solid abstracts.$teal;
		outline: 0.1rem solid transparent;
	}

	&:hover {
		background-color: abstracts.$zinc;
		border-color: abstracts.$zinc;
	}
}

.c-button--info {
	border: 0.1rem solid abstracts.$black;
	font-weight: abstracts.$font-weight-light;
	background-color: abstracts.$white;
	color: abstracts.$black;

	&:hover {
		background-color: abstracts.$white;
		border-color: abstracts.$zinc;
		color: abstracts.$zinc;
	}
}

// States
.c-button--disabled {
	background-color: abstracts.$silver;
	border-color: abstracts.$silver;
	color: abstracts.$zinc;
	cursor: not-allowed;
	outline: none;

	&:active,
	&:hover {
		background-color: abstracts.$silver;
		border-color: abstracts.$silver;
		color: abstracts.$zinc;
	}

	/**
	* Cross-browser styles for explicit focus via
	* keyboard-based (eg Tab) navigation or the
	* .focus-visible utility class.
	*/
	&:focus,
	.focus-visible:focus:not(:focus-visible) {
		outline: none;
	}

	&.c-button--outline {
		background-color: abstracts.$white;
		border-color: abstracts.$zinc;
		color: abstracts.$zinc;

		&:not(:active):not(:hover):focus {
			border-color: abstracts.$zinc;
		}

		&:focus:not(:focus-visible) {
			border-color: abstracts.$zinc;
		}
	}

	&.c-button--text {
		background-color: transparent;
		border-color: transparent;
		color: abstracts.$zinc;
	}
}
