@use "sass:map";
@use "sass:math";
@use "src/styles/abstracts" as abstracts;

// Mixins

@mixin c-card-image-overflow {
	// Spill the image over the border if it's not padded and the card has a border
	&.c-card--padded-content {
		&:not(.c-card--edge-none) {
			.c-card__image-wrapper {
				margin: -#{abstracts.$card-edge-size};
				@content;
			}
		}
	}
}

@mixin m-card-horizontal {
	flex-direction: row;

	.c-card__top-wrapper {
		display: flex;
	}

	.c-card__bottom-wrapper {
		flex-grow: 1;
		min-width: 0;
		display: flex;
		flex-direction: column;
	}

	.c-card__children-wrapper {
		flex-grow: 1;
	}

	.c-card__image-wrapper {
		flex-grow: 1;
		min-width: 0;
	}

	@include c-card-image-overflow {
		margin-right: 0;
	}

	&.c-card--padded-both {
		.c-card__image-wrapper {
			margin-bottom: abstracts.$spacer-sm;
		}

		.c-card__title-wrapper,
		.c-card__subtitle-wrapper,
		.c-card__children-wrapper {
			margin-left: 0;
		}
	}
}

@mixin m-card-vertical {
	flex-direction: column;

	@include c-card-image-overflow {
		margin-bottom: 0;
	}
}

// Placeholders

%s-card-horizontal-whitespace {
	margin-left: abstracts.$spacer-sm;
	margin-right: abstracts.$spacer-sm;
}

%s-card-content-whitespace {
	// Note: I shouldn't let whitespace be influenced by color mode but this saves us a lot of className exposure
	&.c-card--mode-dark {
		.c-card {
			&__header-wrapper {
				margin-bottom: math.div(abstracts.$spacer-md, 2);
				margin-top: abstracts.$spacer-sm;

				@media (min-width: abstracts.$breakpoint-md) {
					margin-bottom: abstracts.$spacer-sm * 2;
					margin-top: abstracts.$spacer-lg + abstracts.$spacer-xs;
				}
			}

			&__children-wrapper {
				margin-bottom: abstracts.$spacer-md;
				color: abstracts.$zinc;

				@media (min-width: abstracts.$breakpoint-md) {
					margin-right: abstracts.$spacer-lg;
				}
			}
		}
	}

	.c-card {
		&__header-wrapper {
			margin-bottom: abstracts.$spacer-xs;
			margin-top: abstracts.$spacer-sm;
		}

		&__title-wrapper,
		&__subtitle-wrapper,
		&__toolbar-wrapper,
		&__children-wrapper {
			@extend %s-card-horizontal-whitespace;
		}

		&__toolbar-wrapper {
			margin-left: 0;
		}

		&__children-wrapper {
			margin-bottom: abstracts.$spacer-sm;
		}
	}
}

// Component

.c-card {
	display: flex;

	&[role="button"] {
		cursor: pointer;
	}

	// Elements

	&__top-wrapper {
		position: relative;
	}

	&__tags-wrapper {
		position: absolute;
		left: 0;
		right: 0;
		z-index: abstracts.get-z-layer("foreground");
		text-align: right;
	}

	&__header-wrapper {
		display: flex;
		flex-flow: row nowrap;
		min-width: 0;
	}

	&__title-wrapper {
		flex-grow: 1;
		min-width: 0;
		overflow-wrap: break-word;
		line-height: abstracts.$line-height-1xl;
	}

	&__toolbar-wrapper {
		flex-grow: 0;
		width: auto;
	}

	&__subtitle,
	&__children {
		&-wrapper {
			font-size: abstracts.$font-size-sm;
			line-height: abstracts.$line-height-4xl;
			color: abstracts.$neutral;
		}
	}

	// Mutators

	&--edge {
		&-zinc {
			border: abstracts.$card-edge-size solid abstracts.$zinc-40;
		}
	}

	&--padded {
		&-both {
			@extend %s-card-content-whitespace;

			.c-card {
				&__image-wrapper,
				&__tags-wrapper {
					@extend %s-card-horizontal-whitespace;

					margin-top: abstracts.$spacer-sm;
				}

				&__tags-wrapper {
					padding: abstracts.$spacer-xs;
				}
			}
		}

		&-content {
			@extend %s-card-content-whitespace;
		}

		&-vertical {
			.c-card {
				&__header-wrapper {
					margin-bottom: math.div(abstracts.$spacer-md, 2);
					margin-top: math.div(abstracts.$spacer-md, 2);

					@media (min-width: abstracts.$breakpoint-md) {
						margin-bottom: abstracts.$spacer-sm;
						margin-top: abstracts.$spacer-sm * 1.5;
					}
				}

				&__children-wrapper {
					margin-bottom: abstracts.$spacer-sm;
				}
			}
		}
	}

	// Orientation must be below Padded
	// Only define a few responsive variants to avoid bloat
	&--orientation {
		&-horizontal {
			@include m-card-horizontal;

			&--at-md {
				@media (max-width: abstracts.$breakpoint-md) {
					@include m-card-vertical;
				}

				@media (min-width: abstracts.$breakpoint-md) {
					@include m-card-horizontal;
				}
			}
		}

		&-vertical {
			@include m-card-vertical;

			&--at-md {
				@media (max-width: abstracts.$breakpoint-md) {
					@include m-card-horizontal;
				}

				@media (min-width: abstracts.$breakpoint-md) {
					@include m-card-vertical;
				}
			}
		}
	}

	&--mode {
		&-light {
			background-color: abstracts.$white;
		}

		&-dark {
			background-color: abstracts.$black;

			.c-card {
				&__title,
				&__toolbar {
					&-wrapper {
						color: abstracts.$white;
					}
				}
			}
		}
	}

	&--offset {
		margin-left: abstracts.$card-offset * 0.8;
		margin-top: abstracts.$card-offset * 0.8;

		&.c-card--orientation-horizontal {
			.c-card {
				&__image {
					&-wrapper {
						align-self: flex-start;
						box-shadow: abstracts.$shadow-24-black-24;
						transform: translate(-(abstracts.$card-offset * 0.8), -(abstracts.$card-offset * 0.8));
					}
				}
			}
		}

		@media (max-width: abstracts.$breakpoint-md) {
			&.c-card--orientation-horizontal {
				.c-card {
					&__image {
						&-wrapper {
							margin-right: 0 - abstracts.$card-offset * 0.8;
						}
					}
				}
			}
		}

		@media (min-width: abstracts.$breakpoint-md) {
			margin-left: abstracts.$card-offset;
			margin-top: abstracts.$card-offset;

			&.c-card--orientation-horizontal {
				.c-card {
					&__image {
						&-wrapper {
							transform: translate(-#{abstracts.$card-offset}, -#{abstracts.$card-offset});
						}
					}
				}
			}
		}
	}

	&--shadow {
		box-shadow: abstracts.$shadow-24-black-04;
	}
}
