.c-iiif-viewer__iiif__close-fullscreen {
	display: none;
}

.fullpage .c-iiif-viewer__iiif__close-fullscreen {
	display: block;
	font-family: meemoo-icons-light, sans-serif;
	right: calc(50vw);
	bottom: 2rem;
	position: fixed;
}
