.c-iiif-viewer__iiif__close-fullscreen {
	display: none;
}

.fullpage .c-iiif-viewer__iiif__close-fullscreen {
	display: block;
	font-family: meemoo-icons-light, sans-serif;
	margin-right: 50vw;
	margin-bottom: 2rem;
	transform: translateX(50%);
}
