@use "src/styles/abstracts" as *;

.c-pagination-bar.c-pagination-bar--back-to-top {
	flex-direction: row;
	align-content: center;
	align-items: center;

	@media (max-width: $breakpoint-md) {
		justify-content: center !important;
	}

	@media (min-width: $breakpoint-sm) {
		justify-content: space-between !important;
	}

	.c-pagination-bar__progress {
		.c-pagination-progress {
			color: $neutral;
		}

		@media (max-width: $breakpoint-md) {
			display: none;
		}
	}

	.c-pagination {
		gap: $spacer-xs;
		align-items: center;

		.c-pagination__pages {
			gap: $spacer-xs;
		}

		.c-button {
			width: 3.2rem;
			height: 3.2rem;
			padding: 0;
			background-color: transparent;
			color: $neutral;
			font-weight: normal;
			border: 0;

			&.c-pagination__page-button--active {
				background-color: $teal-dark;
				color: $white;
			}

			&.c-pagination-bar__back-to-top {
				color: $neutral;
			}
		}
	}

	.c-pagination-bar__back-to-top-wrapper {
		@media (max-width: $breakpoint-md) {
			display: none;
		}
	}
}
