@use "src/styles/abstracts" as abstracts;

.c-rich-text-editor {
	.c-rich-text-editor__headings-popup .c-rich-text-editor__headings-option--h1 {
		display: none; // Hide h1 option in headings dropdown
	}

	.c-rich-text-editor__toolbar {
		background-color: abstracts.$teal-30;

		.c-rich-text-editor__separator {
			background-color: abstracts.$zinc;
		}
	}

	.c-rich-text-editor__content {
		font-family: SofiaPro, sans-serif;

		a {
			color: abstracts.$teal;
		}

		pre,
		textarea {
			border: 1px solid abstracts.$zinc !important;
		}
	}
}

