@use "sass:math";
@use "../abstracts" as *;

/**
* Elements
*/

.c-search-bar.c-tags-input {
	.c-tags-input__control {
		border-radius: 2.4rem;
		background-color: $silver;
		border-color: $silver;

		&--is-focused,
		&--is-focused:hover {
			border-color: $teal;
		}
	}

	.c-tags-input__value-container {
		padding-left: $spacer-md;
	}

	.c-tags-input__indicators {
		padding-right: 1.4rem;
	}
}


.c-search-bar__value-placeholder {
	color: $neutral;
	margin-right: 1.4rem;

	@include respond-to(md) {
		display: none;
	}
}

.c-search-bar__clear-label {
	text-decoration: underline;
}

/**
 * Modifiers
 */

.c-search-bar--lg.c-tags-input {
	.c-tags-input__control {
		min-height: 4.8rem;
		border-radius: 2.4rem;

		@include respond-at(md) {
			min-height: 6.4rem;
			border-radius: 3.2rem;
		}
	}

	.c-tags-input__value-container {
		padding-left: $spacer-sm;

		@include respond-at(md) {
			padding-left: $spacer-lg;
		}

		&--is-multi.c-tags-input__value-container--has-value {
			@include respond-to(md) {
				padding-left: $spacer-xs;
			}
		}
	}

	.c-tags-input__indicators {
		padding-right: math.div($spacer-md, 2);

		@include respond-at(md) {
			padding-right: $spacer-md;
		}
	}
}

.c-search-bar--has-value-placeholder.c-tags-input {
	.c-tags-input__value-container {
		&--has-value {
			display: flex;
		}
	}
}
