@use "../abstracts/" as *;

.c-tab {
	display: inline-flex;
	align-items: center;
	min-height: 3.4rem;
	padding: $spacer-xs 1.2rem;
	background-color: $black;
	color: $white;
	cursor: pointer;
	transition: background-color $animate-default, color $animate-default;

	@include respond-to("md") {
		font-size: $font-size-sm;
	}
	@include respond-at("md") {
		min-height: 5.6rem;
		padding: $spacer-sm $spacer-md;
	}
}

/**
 * Elements
 */

.c-tab__icon {
	display: inline-flex;
	font-size: $font-size-base;
	margin-right: $spacer-xs;

	@include respond-at("md") {
		font-size: $font-size-lg;
	}
}

/**
 * Modifiers
 */

.c-tab--active {
	background-color: $white;
	color: $black;
}

