@use "../abstracts/" as *;

.c-tabs {
	display: flex;

	/**
	* Elements
	*/

	&__item {
		&:not(:last-child) {
			@include respond-at("md") {
				margin-right: $spacer-md;
			}
		}
	}

	/**
	* Modifiers
	*/

	&--dark {
		background-color: $black;
	}

	&--light {
		background-color: $white;
	}

	&--rounded {
		@include tabs-border-radius;

		padding: 0 $tabs-rounded-size;
		border-radius: $tabs-rounded-size;
	}

	&--bordered {
		border: $tabs-border-width solid $zinc;
	}
}
