@use "sass:map";
@use "sass:math";
@use "styles/abstracts" as *;

$c: "c-table";
$c-table-border: 1px solid $silver;

.#{$c} {
	width: 100%;
	max-width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	display: table;
	overflow-x: auto;

	&__scroller {
		max-width: 100%;
		overflow-x: scroll;

		// Note: desktop resolutions will rarely need to hide overflow, disable to allow the shadow
		@include respond-at("lg") {
			overflow: initial;
		}
	}

	&__wrapper {
		&--body {
			background-color: $white;
			border-bottom: $c-table-border;
			border-top: $c-table-border;

			@include respond-at("lg") {
				box-shadow: $shadow-24-black-08;
			}
		}
	}

	&__row {
		border-bottom: $c-table-border;
	}

	&__footer {
		padding-right: $spacer-xs;
		padding-left: $spacer-md;
	}

	&__cell {
		text-align: left;
		padding: $spacer-sm $spacer-md;

		&:last-child {
			text-align: right;
			padding-right: $spacer-xs;
		}

		&--body {
			font-size: $font-size-sm;
			line-height: $font-size-base;
		}

		&--header {
			@include text-ellipsis;

			position: relative;
			font-weight: $font-weight-bold;
			font-size: $font-size-xs;
			line-height: $line-height-2xl;
			color: $neutral;
			user-select: none;

			&.#{$c} {
				&__cell--active {
					color: $black;
				}
			}

			.#{$c} {
				&__icon {
					font-size: $font-size-base;
					position: absolute; // This is enough to correctly position it
				}
			}
		}
	}
}
