@use "../abstracts/" as *;

$c: "c-tab";

.#{$c} {
	display: inline-flex;
	align-items: center;
	min-height: $tab-min-height;
	padding: $tab-vertical-padding 1.2rem;
	cursor: pointer;
	transition: background-color $animate-default, color $animate-default;

	@include respond-to("md") {
		font-size: $font-size-sm;
	}

	@include respond-at("md") {
		min-height: $tab-min-height-md;
		padding: $tab-vertical-padding-md $spacer-md;
	}

	/**
	* Elements
	*/

	&__icon {
		display: inline-flex;
		font-size: $font-size-base;
		margin-right: $spacer-xs;
	
		@include respond-at("md") {
			font-size: $font-size-lg;
		}
	}

	/**
	* Modifiers
	*/

	&--dark {
		background-color: $black;
		color: $white;

		&.#{$c} {
			&--active {
				background-color: $platinum;
				color: $black;
			}
		}
	}

	&--light {
		color: $neutral;

		&.#{$c} {
			&--active {
				color: $black;
				font-weight: $font-weight-bold;
			}
		}
	}
}