@use "sass:color";

@use "../abstracts" as *;

// Wrap everything for higher specificity
.c-tags-input {
	/**
	 * Elements
	 */

	 @include react-select-base("c-tags-input");

	.c-tags-input__multi-value {
		margin: $spacer-xxs $spacer-xs $spacer-xxs 0;
		font-size: $font-size-sm;

		@include respond-at(md) {
			margin: $spacer-xxs $spacer-sm $spacer-xxs 0;
		}
	}

	.c-tags-input__indicator {
		display: inline-flex;
		padding: 0.6rem;
	}

	.c-tags-input__clear-indicator,
	.c-tags-input__dropdown-indicator {
		cursor: pointer;

		&:hover {
			color: color.adjust($black, $alpha: -0.5);
		}
	}

	.c-tags-input__indicator-icon {
		font-size: $font-size-lg;
		transition: color $animate-sm-in;
	}
}
