@use "sass:color";
@use "../abstracts" as abstracts;

.c-tag {
	display: flex;
	align-items: center;
	height: 3.2rem;
	padding: abstracts.$spacer-xs abstracts.$spacer-sm;
	border-radius: 1.6rem;
	background-color: abstracts.$teal-66;
	color: abstracts.$black;
}

/**
 * Elements
 */

.c-tag__close {
	border: none;
	background: none;
	color: inherit;
	display: flex;
	text-decoration: none;
	padding: abstracts.$spacer-xxs;
	margin: 0 1.2rem 0 abstracts.$spacer-xxs;
	font-size: abstracts.$font-size-md;
	cursor: pointer;
	transition: color abstracts.$animate-sm-in;

	&:hover {
		color: color.adjust(abstracts.$black, $alpha: -0.3);
	}
}

/**
 * Modifiers
 */

.c-tag--closable {
	height: auto;
	padding: abstracts.$spacer-xs 0 abstracts.$spacer-xs 1.2rem;
	border-radius: 1.8rem;
	background-color: abstracts.$teal-40;
	font-size: abstracts.$font-size-sm;
	line-height: 2rem;

	.c-tag__close {
		padding: 0;
		font-size: abstracts.$font-size-base;
	}
}

// Colors
.c-tag--black {
	background-color: abstracts.$black;
	color: abstracts.$white;
}

.c-tag--silver {
	background-color: abstracts.$silver;
}

// Sizes
.c-tag--medium,
.c-tag--small {
	font-size: abstracts.$font-size-xs;
	font-weight: abstracts.$font-weight-bold;

	.c-tag__close {
		font-size: abstracts.$font-size-sm;
	}
}

.c-tag--medium {
	height: 2.4rem;
	border-radius: 1.2rem;
	padding: abstracts.$spacer-xxs abstracts.$spacer-xs;

	.c-tag__close {
		padding: abstracts.$spacer-xxs abstracts.$spacer-xs abstracts.$spacer-xxs abstracts.$spacer-xxs;
	}
}

.c-tag--small {
	height: 1.5rem;
	padding: 0 abstracts.$spacer-xs;
	border-radius: 0.75rem;

	.c-tag__close {
		padding: 0 abstracts.$spacer-xxs;
	}
}

// interaction
.c-tag--clickable {
	transition:
		background-color abstracts.$animate-default,
		color abstracts.$animate-default,
		outline abstracts.$animate-default;

	&:not(.c-tag--disabled) {
		&:hover {
			background-color: abstracts.$shade;
			color: abstracts.$white;
		}

		&:active {
			background-color: abstracts.$teal-66;
			color: abstracts.$black;
		}

		&:not(:active):not(:hover):focus {
			outline: 2px solid abstracts.$black;
		}

		&.c-tag--medium,
		&.c-tag--small {
			&:hover {
				background-color: abstracts.$shade;
				color: abstracts.$white;
			}

			&:active {
				background-color: abstracts.$seagreen;
				color: abstracts.$white;
			}

			&:not(:active):not(:hover):focus {
				outline: 2px solid abstracts.$teal-66;
			}
		}
	}
}

.c-tag--disabled {
	background-color: abstracts.$silver;
	color: abstracts.$zinc;
}
