@use "src/styles/abstracts" as abstracts;

.c-tooltip-component {
	background-color: abstracts.$black;
	border: 1px solid abstracts.$black;
	max-width: 19rem !important;
	padding: 0.5rem;
	color: abstracts.$white;
	font-size: 1.3rem;
	font-weight: abstracts.$font-weight-light;
	line-height: 1.428; // 20px equivalent

	p {
		font-size: inherit;
		line-height: inherit;
	}

	&-trigger {
		display: inline-block !important;
	}

	&__arrow {
		fill: abstracts.$black;
	}

	&--show {
		opacity: 1;
		transition-delay: 0s;
	}
}
