@use "sass:map";
@use "sass:math";
@use "sass:color";
@use "src/styles/abstracts" as *;

$component: "c-block-enclosed-content";

.#{$component} {
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: $spacer-sm;

		p {
			margin-top: $spacer-xs;
			padding: 0 !important;
			color: $neutral;
		}
	}

	&__cards {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		row-gap: $spacer-md;
		flex-wrap: wrap;

		@include respond-at("sm") {
			gap: $spacer-lg;
		}

		@include respond-at("xl") {
			grid-template-columns: repeat(4, 1fr);
		}

		&__card {
			a {
				text-decoration: none;
			}

			background-color: $white;
			border: 1px solid #adadad66;
			display: flex;
			padding: 1.6rem;
			flex-direction: row;
			width: 100%;

			@include respond-at("sm") {
				width: calc(50% - #{$spacer-md});
			}

			@include respond-at("md") {
				width: calc(33.3% - #{$spacer-md});
			}

			@include respond-at("lg") {
				width: calc(25% - #{$spacer-md});
			}

			&__meta {
				display: flex;
				flex-direction: column-reverse;
				margin-top: 0.4rem;
				font-size: $font-size-sm;
				line-height: 2.2rem;
				color: $neutral;
			}

			&__image {
				position: relative;
				background-size: cover;
				background-position: center;
				padding: $spacer-sm;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: $platinum;
				color: $teal;
				max-width: unset;
				margin-right: unset;
				max-height: unset;
				min-height: 13rem;
				width: 100%;

				&__icon {
					position: absolute;
					left: 0;
					top: 0;
					padding: $spacer-xs $spacer-xs 0.5rem $spacer-xs;
					background-color: $white;
					color: $blue;
				}
			}

			&__title {
				$title-spacer: $spacer-xxs * 3;

				font-size: $font-size-base;
				line-height: math.div($font-size-md, 9) * 10; // 2rem
				margin: $title-spacer 0 $title-spacer 0;
				font-weight: $font-weight-bold;

				@include respond-at("md") {
					-webkit-line-clamp: 2;
				}
			}

			&__wrapper {
				display: flex;
				flex-direction: column;
			}

			&__description-wrapper {
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				display: -webkit-box;

				@include respond-at("md") {
					-webkit-line-clamp: 2;
				}
			}

			&__description {
				color: $neutral;
				font-size: $font-size-xs;
				line-height: $line-height-lg;

				@include respond-at("md") {
					font-size: $font-size-sm;
					line-height: math.div($font-size-md, 9) * 10; // 2rem;
				}

				p {
					color: $neutral;
					font-size: $font-size-xs;
					line-height: $line-height-lg;

					@include respond-at("md") {
						font-size: $font-size-sm;
						line-height: math.div($font-size-md, 9) * 10; // 2rem;
					}
				}
			}
		}
	}
}
