@use "src/styles/abstracts" as *;

.c-block-het-archief-image-text-background {
	max-width: 100vw;

	@media (max-width: $breakpoint-md) {
		width: 100% !important;
	}

	.c-block-het-archief-image-text-background__image-wrapper {
		@media (max-width: $breakpoint-md) {
			height: 21.7rem; // Default height of the images used on the homepage of hetarchief
		}
	}
}
