@use "src/styles/abstracts" as *;

$component: "c-block-three-clickable-tiles";

.#{$component} {
	display: flex;
	flex-direction: column;

	@include respond-at("lg") {
		flex-direction: row;
	}

	&__term {
		width: 33%;
	}

	&__tile {
		display: flex;
		flex-direction: column;
		margin: $spacer-sm;

		&:hover {
			span {
				outline: 0.1rem solid $teal;
			}
		}

		&-image {
			display: flex;
			width: 100%;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			flex-wrap: wrap;
			aspect-ratio: 1 / 1;
		}

		&-subtitle {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1.5rem 0;

			h5 {
				font-size: medium;
				padding-right: 0.5rem;
			}

			span {
				display: flex;
				justify-content: center;
				align-items: center;
				min-width: 2.8rem;
				height: 2.8rem;
				font-size: large;
				background-color: $silver;
				border-radius: 50%;
			}
		}
	}

	&__link {
		text-decoration: none;
	}
}
