@use "src/styles/abstracts" as *;

$badge-font-size: 1rem;

.c-material-request-center {
	position: relative;
	margin-left: $spacer-xs;

	&:hover,
	&--active {
		background-color: $shade-darker !important;
	}

	&__icon-container {
		&-badge {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $black;
			font-weight: 700;
			font-size: $badge-font-size;
			border-radius: 0.8rem;
			top: 0.5rem;
			left: 2.5rem;
			width: 2rem;
			height: 1.6rem;
			background-color: $coral;
			transition: all 0.5s;

			&--animated {
				background-color: red;
				color: white;
				border-color: transparent;
				box-shadow: 0 0 10px 2px darken(red, 10%);
				animation-name: flash-pill;
				animation-duration: 0.5s;
				animation-iteration-count: 7;
				animation-timing-function: ease-in;
				animation-direction: alternate;
				transition: all 0.5s;
			}
		}
	}
}

@keyframes flash-pill {
	0% {
		box-shadow: 0 0 2px 2px darken(red, 10%);
	}

	50% {
		box-shadow: 0 0 20px 4px darken(red, 10%);
	}

	100% {
		box-shadow: 0 0 2px 2px darken(red, 10%);
	}
}
