@use "src/styles/abstracts" as abstracts;

.c-filter-menu-mobile {
	position: fixed;
	inset: 0;
	z-index: abstracts.get-z-layer("filter-menu-mobile");
	background-color: abstracts.$black;
	color: abstracts.$white;
	overflow-y: auto;

	:global(.c-tag-list) {
		margin: abstracts.$spacer-sm 0 abstracts.$spacer-md;
	}

	:global(.c-tag-list__tag--large) {
		background-color: abstracts.$teal;
		color: abstracts.$black;
	}
}

/**
 * Elements
 */

.c-filter-menu-mobile__nav {
	justify-content: flex-start;
}

.c-filter-menu-mobile__back {
	margin-left: -#{abstracts.$spacer-md};
	font-size: abstracts.$font-size-md;

	span {
		color: abstracts.$white;
	}
}

.c-filter-menu-mobile__tags {
	:global(.c-tag) {
		padding-right: 0;
		background-color: abstracts.$teal;
	}
}

.c-filter-menu-mobile__filters {
	.c-filter-menu__filter {
		width: 100%;
		padding-right: abstracts.$spacer-sm;
		font-weight: abstracts.$font-weight-normal;
		text-align: left;
		border-radius: 0;
		border-top: 1px solid rgb(255 255 255 / 10%);

		&:active {
			border-color: black;
		}

		:global(.c-button__content) {
			display: flex;
			justify-content: space-between;
		}

		:global(.c-button__icon) {
			font-size: abstracts.$font-size-lg;
		}

		&--active {
			background-color: abstracts.$white;
			border-color: abstracts.$white;
			color: abstracts.$black;

			&:hover {
				background-color: abstracts.$white;
				border-color: abstracts.$white;
			}

			&:not(:active):not(:hover):focus {
				outline: none;
			}
		}
	}
}

.c-filter-menu-mobile__form {
	height: calc(100% - #{abstracts.$c-navigation-height-md});
}

.c-filter-menu-mobile__option {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		background-color: abstracts.$teal;
		width: 0.8rem;
		transform: scaleX(0);
		transition: transform abstracts.$animate-default;
		z-index: abstracts.get-z-layer("filter");
	}
}

/**
 * Modifiers
 */

.c-filter-menu-mobile--inline {
	border: 0.1rem solid rgb(255 255 255 / 10%);
}

.c-filter-menu-mobile--active {
	background-color: abstracts.$white;
	color: abstracts.$black;
}

.c-filter-menu-mobile__option--operative {
	&::before {
		transform: scaleX(1);
	}
}
