Configure how versions of packages installed to a package.json file via --save or --save-dev get
prefixed. For example if a package has version 1.2.3, by default its version is set to ^1.2.3 which
allows minor upgrades for that package, but after npm config set save-prefix='~' it would be set to
~1.2.3 which only allows patch upgrades.
save-prefix=""

@viaa:registry="http://do-prd-mvn-01.do.viaa.be:8081/repository/npm-viaa/"
