@use "src/styles/abstracts" as *;

.c-tag-search-bar-info {
	position: absolute;
	right: $spacer-lg;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: $font-size-lg;
	padding: 0.6rem;
	border-radius: 100%;
	margin-left: 0;
	color: $neutral;
	cursor: pointer;

	@media (min-width: $breakpoint-md) {
		position: relative;
		right: unset;
		color: $white;
		margin-left: 0.8rem;
		border: 0.1rem solid $shade;
	}

	&--open {
		outline: 0.4rem solid $teal;
	}

	&__icon {
		user-select: none;
	}

	&__content {
		position: absolute;
		top: 100%;
		right: 0;
		width: 75vw;
		font-size: $font-size-sm;
		color: $black;
		padding: $spacer-sm;
		background-color: $white;
		box-shadow: $shadow-24-black-12;
		z-index: get-z-layer("foreground");
		transition: opacity $animate-default;

		@media (min-width: $breakpoint-md) {
			width: 38.4rem;
		}
	}
}
