@use "../../../../styles/abstracts" as *;

$minimum-rich-text-editor-height: 21rem;

.c-request-material-status-update {
	&__content {
		dt, dd {
			margin-left: 0;
		}

		dl {
			margin-top: 0;
		}

		&-label {
			font-weight: $font-weight-bold;
			margin-bottom: $spacer-sm;
		}

		&-value {
			margin-left: 0;

			&-length {
				color: $grey;
				margin-left: auto;
			}
		}
	}

	&__motivation-input {
		textarea {
			min-height: $minimum-rich-text-editor-height !important;
			resize: none;
		}
	}
}
