@use "../../../../styles/abstracts" as *;

$minimum-rich-text-editor-height: 21rem;

.c-request-material-status-update {
	&__content {
		dt, dd {
			margin-left: 0;
		}

		dl {
			margin-top: 0;
		}

		&-label {
			margin-bottom: $spacer-sm;
		}

		&-value {
			margin-left: 0;
		}

		:global(.c-form-control__label) {
			font-weight: $font-weight-normal;
			font-size: $font-size-base;
			line-height: $font-size-lg;
			margin-bottom: 0;
		}
	}

	&__motivation-input {
		textarea {
			min-height: $minimum-rich-text-editor-height !important;
			resize: none;
		}
	}
}
