@use "sass:map";
@use "styles/abstracts" as *;

$c: "c-card";

.#{$c} {
    display: block;

    // Elements

    // &__title {
    //     &-wrapper {
    //     }
    // }

    // Mutators

    &--edge {
        &-zinc {
            border: 1px solid $zinc
        }
    }

    &--padded {
        &-both {
            .#{$c}__image-wrapper {
                padding-left: $spacing;
                padding-right: $spacing;
                padding-top: $spacing;
                margin-bottom: $spacing;
            }
        }
    }
}