@use "sass:math";
@use "src/styles/abstracts" as *;

.c-report-blade {
	:global(.c-input--textarea .c-input__field) {
		@media (max-width: $breakpoint-sm) {
			min-height: 10rem;
		}
	}

	&__input--disabled {
		input {
			color: $zinc;
		}
	}
}
