@use "sass:math";
@use "src/styles/abstracts" as abstracts;

.c-report-blade {
	:global(.c-input--textarea .c-input__field) {
		@media (max-width: abstracts.$breakpoint-sm) {
			min-height: 10rem;
		}
	}

	&__input--disabled {
		input {
			color: abstracts.$zinc;
		}
	}

	&__radio-button {
		margin-bottom: abstracts.$spacer-sm;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	&__divider {
		border: none;
		border-top: abstracts.$divider-grey;
		margin: abstracts.$spacer-md 0;
	}

	&__subtitle {
		font-size: abstracts.$font-size-base;
		font-weight: abstracts.$font-weight-bold;
		line-height: 20px;
		margin-bottom: abstracts.$spacer-sm;
	}

	&__hyperlink {
		display: flex;
		align-items: center;
		justify-content: space-between;

		a {
			color: abstracts.$jade;
		}

		&-text {
			margin: auto 0;
			font-size: abstracts.$font-size-base;
			font-weight: abstracts.$font-weight-normal;
			line-height: 24px;
		}
	}
}
