@use "sass:map";
@use "styles/abstracts" as *;

.c-list-navigation {
	&__list {
		@extend %reset-list;
	}

	&__link {
		display: block;
		padding: $spacer-sm;
		padding-left: $spacer-lg;
		text-decoration: none;

		&:hover {
			background-color: $silver;
		}

		&--active {
			background-color: $black;
			color: white;
			font-weight: 700;

			&:hover {
				background-color: $black;
			}
		}

		&:not(:active,:hover):focus {
			outline: 1px solid $teal;
		}
	}

	&__button {
		height: auto;
		padding: $spacer-sm;
		padding-left: $spacer-md;
	}

	&__divider {
		height: 0.1rem;
		margin: $spacer-md;
		background-color: $silver;
	}

}
