@use "sass:map";
@use "sass:color";
@use "styles/abstracts" as *;

$teal-24: color.adjust($teal, $alpha: -0.76);

.c-list-navigation {
	&__list {
		@extend %reset-list;
	}

	&__link {
		display: block;
		padding: $spacer-sm;
		padding-left: $spacer-lg;
		text-decoration: none;

		&:hover {
			background-color: $silver;
		}

		&--active {
			font-weight: 700;
		}

		&:not(:active,:hover):focus {
			outline: 1px solid $teal;
		}
	}

	&__button {
		height: auto;
		padding: $spacer-sm;
		padding-left: $spacer-md;
	}

	&__divider {
		height: 0.1rem;
		margin: $spacer-md;
		background-color: $silver;
	}

	&--primary {
		.c-list-navigation__link--active {
			background-color: $teal-24;
			border-right: 0.4rem solid $teal;

			&:hover {
				background-color: $teal-24;
			}
		}
	}

	&--secondary {
		/* stylelint-disable-next-line no-descending-specificity */
		.c-list-navigation__link--active {
			background-color: $black;
			color: white;

			&:hover {
				background-color: $black;
			}
		}
	}
}
