@use "src/styles/abstracts" as *;

$component: "c-cp-settings";

.#{$component} {
	&__site-settings {
		display: flex;
		gap: $spacer-sm;

		&-input {
			flex-grow: 1;

			label {
				display: block;
				font-weight: 700;
			}
		}
	}

	&__content-block {
		padding-bottom: 4.8rem;
	}

	&__box {
		padding: $spacer-sm;
		background-color: white;

		@include respond-at("md") {
			padding: $spacer-lg;
		}
	}

	&__title {
		font-size: $font-size-lg;
		padding-bottom: $spacer-sm;
	}

	&__description {
		padding-bottom: $spacer-lg;
		color: $neutral;
		font-size: $font-size-sm;
		line-height: $line-height-3xl;
	}

	&__cancel-save {
		grid-column: 1 / 2;
		text-align: right;
	}

	&__bezoekersruimte {
		&-controls {
			display: grid;
			column-gap: $spacer-lg;
			row-gap: 2rem;
			grid-template-rows: repeat(3, auto) 4.8rem;
		}

		&-color-picker {
			.c-color-picker {
				max-width: 20.4rem;
			}
		}

		&-image-buttons {
			display: flex;
			flex-wrap: wrap;
			gap: $spacer-sm;
		}
	}

	&__rich-text {
		&--no-heading {
			.c-rich-text-editor {
				.headings-dropdown {
					display: none; // Hide h1 option in headings dropdown
				}
			}
		}
	}

	@include respond-at("lg") {
		&__cancel-save {
			grid-column: 1 / 3;
		}

		&__bezoekersruimte-controls {
			grid-template-columns: 2fr 3fr;
			grid-template-rows: repeat(2, auto) 4.8rem;
		}

		&__bezoekersruimte-image {
			grid-row: 1 / 3;
		}
	}
}
