@use "src/styles/abstracts" as *;

.c-admin__header {
	display: flex;
	flex-direction: row;
	padding-top: 6.4rem;
	padding-bottom: $spacer-1xl;

	@include respond-to(md) {
		flex-direction: column;
	}
}

.c-admin__page-title {
	flex-grow: 1;
	max-width: 70%;

	label {
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.c-admin__actions {
	@include respond-to(md) {
		margin-top: $spacer-md;
	}

	> :global(*) {
		&:not(:last-child) {
			margin-right: 0.8rem;
		}
	}
}
