@use "../../../../styles/abstracts" as abstracts;
@use "../../../../styles/components/blade" as blade;

.p-material-request-detail {
	@media (min-width: abstracts.$breakpoint-md) {
		:global(.c-blade__title){
			padding-bottom: 0;
		}

		&__tabs {
			margin-right: auto;

			:global(.c-tab) {
				display: flex;
				justify-content: center;
				padding-bottom: abstracts.$spacer-md;
				color: abstracts.$neutral;
				border-bottom: 3px solid transparent;

				@include abstracts.focus-outline;

				&:global(.c-tab--active) {
					color: abstracts.$black;
					font-weight: abstracts.$font-weight-bold;
					border-bottom: 3px solid abstracts.$teal;
				}
			}
		}
	}

	@media (max-width: abstracts.$breakpoint-md) {
		&__tabs {
			:global(.c-tabs__item) {
				display: flex;
				justify-content: center;
				flex-grow: 1;
				width: 100%;
			}

			:global(.c-tab){
				@include abstracts.focus-outline;

				display: flex;
				justify-content: center;
				color: abstracts.$zinc;
				font-weight: abstracts.$font-weight-normal;
				padding: abstracts.$spacer-sm;

				:global(.c-tab__icon) {
					font-size: abstracts.$font-size-lg;
					margin-right: 0;
				}

				&:global(.c-tab__label) {
					display: none;
				}

				&:global(.c-tab--active) {
					color: abstracts.$black;
					font-weight: abstracts.$font-weight-bold;
				}
			}
		}
	}

	// Disable padding for this blade, since we need the conversation history to span the whole blade content
	// And the history needs to be scrollable separate from the rich text input field
	// The individual tabs in this blade restore the padding using a mixing: @include blade.blade-content-padding;
	:global([class*="Blade_c-blade__body-wrapper--content"]) {
		padding: 0;
	}

	&__content-wrapper {
		> * {
			border-bottom: 1px solid abstracts.$silver;

			&:last-child {
				border-bottom: none;
			}
		}

		&:global(.p-material-request-detail__content-wrapper--simple-flow) {
			@include blade.blade-content-padding;
		}
	}

	&__title{
		> :last-child {
			margin-top: abstracts.$spacer-xs;
		}

		@media (min-width: abstracts.$breakpoint-md) {
			padding-bottom: abstracts.$spacer-md;
			display: flex;
			flex-direction: row;

			> :last-child {
				margin-top: 0;
			}
		}


		&--text{
			@include abstracts.blade-title-styling;

			margin-right: abstracts.$spacer-md;
		}
	}

	&__action-bar {
		display: flex;
		flex-direction: row;
		align-items: baseline;
		justify-content: space-between;

		@media (max-width: abstracts.$breakpoint-md) {
			align-items: center;

			&:has(.p-material-request-detail__download-message) {
				flex-direction: column;
				align-items: start;
			}
		}
	}

	&__evaluator-dropdown-flyout {
		max-width: 35rem;

		:global(.c-menu) {
			padding: 0;
		}
	}

	&__download-message {
		color: abstracts.$grey;
		font-size: abstracts.$font-size-base;
	}
}
