@use "../../../../styles/abstracts" as *;

.p-account-my-material-requests {
	&__table {
		cursor: pointer;
	}

	&__title {
		padding: 0 $spacer-lg;
		margin-bottom: 0;
	}

	&__content-wrapper {
		> * {
			border-bottom: 1px solid $silver;

			&:last-child {
				border-bottom: none;
			}
		}
	}

	&__content {
		padding: 0 $spacer-md $spacer-sm;

		&-block {
			padding: $spacer-sm 0;
			display: flex;
			flex-direction: column;
			border-bottom: 1px solid $silver;

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
			}

			dt, dd {
				margin: 0;
			}

			&-title {
				font-size: $font-size-md;
				line-height: $font-size-base;
				font-weight: $font-weight-bold;
				padding-bottom: $spacer-xs;
			}

			&-subtitle {
				font-size: $font-size-base;
				line-height: $font-size-lg;
				padding-bottom: $spacer-xxs;
			}

			&-value {
				color: $grey;
				padding: 0;
				font-size: $font-size-sm;
				line-height: $font-size-base;
			}
		}
	}

	&__close-button-container {
		padding: $spacer-lg;
	}

	&__close-button {
		background-color: $black;
		color: $white;

		&:hover {
			border: 0.1rem solid $zinc;
		}
	}
}
