@use "../../../../styles/abstracts" as abstracts;

.p-material-request-detail__content-info {
	display: flex;
	flex-direction: row;
	gap: abstracts.$spacer-lg;

	@media (max-width: abstracts.$breakpoint-md) {
		flex-direction: column-reverse;
		gap: abstracts.$spacer-sm;
	}

	&--archived {
		flex-direction: column;
		gap: abstracts.$spacer-sm;

		.p-material-request-detail__content-info__general-information {
			width: 100%;
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	&__reuse-form {
		width: 50%;

		@media (max-width: abstracts.$breakpoint-md) {
			width: 100%;
		}
	}

	&__general-information {
		width: 50%;

		@media (max-width: abstracts.$breakpoint-md) {
			padding-bottom: abstracts.$spacer-sm;
			border-bottom: 1px solid abstracts.$silver;
			width: 100%;
		}
	}

	&__content-block {
		padding: abstracts.$spacer-sm 0;
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid abstracts.$silver;
		margin-block: 0;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}

		dt, dd {
			margin: 0;
		}

		&-title {
			font-size: abstracts.$font-size-md;
			line-height: abstracts.$font-size-base;
			font-weight: abstracts.$font-weight-bold;
			padding-bottom: abstracts.$spacer-xs;
		}

		&-subtitle {
			color: abstracts.$grey;
			font-size: abstracts.$font-size-base;
			line-height: abstracts.$font-size-lg;
			padding-bottom: abstracts.$spacer-xxs;
		}

		&-value {
			color: abstracts.$grey;
			padding: 0;
			font-size: abstracts.$font-size-base;
			line-height: abstracts.$font-size-lg;
		}

		&-media {
			width: 100%;
			aspect-ratio: 16/9;
			object-fit: cover;
			object-position: center;
		}
	}
}
