@use "../../../../styles/abstracts" as abstracts;

.p-material-request-detail__documents {
	padding: 2.4rem 3.2rem;

	&--centered {
		color: abstracts.$neutral;
		text-align: center;
		padding: abstracts.$spacer-lg 0;
	}

	&__table {
		overflow: auto;

		:global(.c-table__cell) {
			font-size: abstracts.$font-size-base;
			line-height: abstracts.$line-height-base;
			text-align: left;

			@media (max-width: abstracts.$breakpoint-md) {
				padding: abstracts.$spacer-sm 0;
			}
		}

		&-cell {
			&-document {
				transition: color abstracts.$animate-default;

				@include abstracts.text-ellipsis(false);

				&:hover,
				&:focus {
					cursor: pointer;
					color: abstracts.$teal;
				}
			}

			&-date {
				color: abstracts.$neutral;
			}
		}
	}
}
