@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";
@use "sass:string";

@use "variables" as *;
@use "functions" as *;

/**
 * Media queries
 */

@mixin respond-at($_min) {
	$min-bp: map.get($breakpoints, $_min);

	@if not $min-bp {
		/* stylelint-disable-next-line block-no-empty */
		@if map-property-not-found($_min, $breakpoints) {}
	}

	@media screen and (min-width: $min-bp) {
		@content;
	}
};

@mixin respond-to($_max) {
	$max-bp: map.get($breakpoints, $_max);

	@if not $max-bp {
		/* stylelint-disable-next-line block-no-empty */
		@if map-property-not-found($_max, $breakpoints) {}
	}

	@media screen and (max-width: calc($max-bp - 1px)) {
		@content;
	}
};

@mixin respond-between($_min, $_max) {
	$min-bp: map.get($breakpoints, $_min);
	$max-bp: map.get($breakpoints, $_max);

	@if not $min-bp {
		/* stylelint-disable-next-line block-no-empty */
		@if map-property-not-found($_min, $breakpoints) {}
	}

	@if not $max-bp {
		/* stylelint-disable-next-line block-no-empty */
		@if map-property-not-found($_max, $breakpoints) {}
	}

	@if $min-bp >= $max-bp {
		@error "Min width can not be higher than or equal to max width.";
	}

	@media screen and (min-width: $min-bp) and (max-width: calc($max-bp - 1px)) {
		@content;
	}
};

/**
 * Generators
 */

@mixin generate-properties($_properties, $_value) {
	@if meta.type-of($_properties) == string {
		#{$_properties}: $_value !important;
	} @else {
		@each $_prop in $_properties {
			#{$_prop}: $_value !important;
		}
	}
};

/**
 * Utility class generator
 *
 * usage:
	// Value list
	$align: ('left', 'right', 'center');
	@include generate-utils('text', 'text-align', $align);
	// output: u-text-left, u-text-right, u-text-center

	// Value map
	$spacers: (
		'8': $spacer-xs,
		'16': $spacer-sm,
	);
	$mx-props: ('margin-left', 'margin-right');
	@include generate-utils('mx', $mx-props, $spacers);
	// output: u-mx-8, u-mx-16

	// With responsive utils
	// Important! add breakpoints from small to large for mobile-first approach
	// The keys are the same as used for the respond- mixins
	$align: ('left');
	@include generate-utils('text', 'text-align', $align, ("sm", "xl"));
	// output: u-text-left, u-text-left:sm, u-text-left:xl
 */


@mixin generate-utils($_name, $_properties, $_values, $_bps: null) {
	@each $_key, $_value in $_values {
		$key: $_key;
		$value: $_value;
		$bps: $_bps;

		// If $_values is a list and not a map the key is also the value
		@if not $value {
			$value: $_key;
		}

		.u-#{$_name}-#{$key} {
			@include generate-properties($_properties, $value);
		}

		// A single item in a list returns string with type-of for some reason
		// This way we support a single string
		@if meta.type-of($_bps) == string {
			$bps: ($_bps);
		}

		@if $bps and list.length($bps) > 0 {
			@each $_bp-key in $_bps {
				.u-#{$_name}-#{$key}\:#{$_bp-key} {
					@include respond-at($_bp-key) {
						@include generate-properties($_properties, $value);
					}
				}
			}
		}
	}
}

/**
 * Others
 */

@mixin aspect-ratio($width, $height) {
	&::before {
		content: "";
		width: 1px;
		margin-left: -1px;
		float: left;
		height: 0;
		padding-top: $height / $width * 100%;
	  }

	  &::after { /* to clear float */
		content: "";
		display: table;
		clear: both;
	  }
}

@mixin text-ellipsis($block: false) {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	@if $block {
		display: block;
	}
}

/**
 * Button
 */

@mixin generate-button-small {
	height: 3.6rem;
	padding: 0.9rem 2rem;
	font-size: $font-size-sm;
	font-weight: $font-weight-normal;
	line-height: $line-height-base;
}


/**
 * Inputs
 */

@mixin generate-checkbox-radio-styling($type) {
	.c-#{$type} {
		position: relative;
		display: inline-block;
		min-width: $c-check-radio-size;
		min-height: $c-check-radio-size;
		font-size: $font-size-base;
		cursor: pointer;

		&:focus-within {
			.c-#{$type}__check-icon {
				&::before {
					background-color: color.adjust($black, $alpha: -0.71);
					transform: translate(-50%, -50%) scale(3.25);
				}
			}
		}

		&:hover {
			.c-#{$type}__check-icon {
				&::before {
					background-color: color.adjust($black, $alpha: -0.86);
					transform: translate(-50%, -50%) scale(3.25);
				}
			}
		}

		&:active {
			.c-#{$type}__check-icon {
				&::before {
					background-color: color.adjust($seagreen, $alpha: -0.6);
				}
			}
		}
	}

	/**
	* Elements
	*/

	.c-#{$type}__input {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		white-space: nowrap;
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		opacity: 0;
	}

	.c-#{$type}__check-icon {
		position: absolute;
		top: 1px;
		left: 0;
		width: $c-check-radio-size;
		height: $c-check-radio-size;
		border: 2px solid $black;
		background-color: $white;
		color: $white;
		transition: background-color $animate-default;
		@if $type == "radio-button" {
			border-radius: 50%;
		}

		&::after,
		> span {
			opacity: 0;
			transition: opacity $animate-default;
		}

		&::before,
		&::after,
		> span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}


		// Background hover
		&::before {
			content: "";
			z-index: get-z-layer("background");
			width: 100%;
			height: 100%;
			border-radius: 50%;
			transition: transform $animate-default;

			// transform-origin: center;
		}

		// Radio button icon
		&::after {
			@if $type == "radio-button" {
				content: ""
			}

			z-index: get-z-layer("foreground");
			display: inline-flex;
			width: 0.6rem;
			height: 0.6rem;
			font-size: $font-size-sm;
			background-color: white;
			border-radius: 50%;
			color: $white;
		}
	}

	.c-#{$type}__label {
		display: inline-block;
		padding-left: $c-check-radio-size + 1.8rem;
	}

	/**
	* Modifiers
	*/

	.c-#{$type}--checked {
		.c-#{$type}__check-icon {
			background-color: $black;

			&::after,
			> span  {
				opacity: 1;
			}
		}
	}

	.c-#{$type}--disabled {
		cursor: not-allowed;

		.c-#{$type}__check-icon {
			border-color: $zinc;

			&::before {
				content: none;
			}
		}


		&.c-#{$type}--checked {
			.c-#{$type}__check-icon {
				background-color: $zinc;
			}
		}
	}
}

/**
 * Tabs
 */

@mixin tabs-border-radius() {
	border-radius: math.div(math.max(
		$tab-line-size + ($tab-vertical-padding * 2),
		$tab-min-height
	), 2);

	@include respond-at("md") {
		border-radius: math.div(math.max(
			$tab-line-size-md + ($tab-vertical-padding-md * 2),
			$tab-min-height-md
		), 2);
	}
}
