/**
 * Colors
 */

$white: #FFF;
$black: #000;
$teal: #00C8AA;
$seagreen: #009690;
$cherry: #D60039;
$shade: #505050;
$neutral: #727272;
$zinc: #ADADAD;
$silver: #E6E6E6;
$platinum: #F8F8F8;

/**
 * Spacers
 */

 $spacer-xs: .8rem;
 $spacer-sm: 1.6rem;
 $spacer-md: 2.4rem;
 $spacer-lg: 3.2rem;

/**
 * Typography
 */

// Font families
$font-family-primary: "SofiaPro";
$font-family-icons-light: meemoo-icons-light;
$font-family-icons-solid: meemoo-icons-solid;

// Sizes
$font-size-4xl: 6.4rem;
$font-size-3xl: 4.8rem;
$font-size-2xl: 4.0rem;
$font-size-1xl: 3.2rem;
$font-size-lg: 2.4rem;
$font-size-md: 1.8rem;
$font-size-base: 1.6rem;
$font-size-sm: 1.4rem;
$font-size-xs: 1.2rem;

// Weights
$font-weight-bold: 700;
$font-weight-normal: 400;

// Line heights
$line-height-4xl: 1.5;
$line-height-3xl: 1.4;
$line-height-2xl: 1.3;
$line-height-1xl: 1.25;
$line-height-lg: 1.2;
$line-height-md: 1.1;
$line-height-base: 1;
$line-height-sm: 0.625;

/**
 * Breakpoints
 */

 $breakpoints: (
	"sm": 576px,
	"md": 768px,
	"lg": 992px,
	"xl": 1200px,
);

/**
 * Z-index layers
 * ---
 * Keep a list of all z-indexes used throughout the app
 */

$z-layers: (
	"foreground": 1,
	"base": 0,
	"background": -1,
);

/**
 * Modal
 */
$modal-close-size: 24px;
$modal-close-margin: 32px;
$modal-title-margin-left: $modal-close-size + ($modal-close-margin * 2);

/**
 * Dividers
 */

 $divider-grey: solid 1px rgb(0 0 0 / 20%);
 $divider-white: solid 1px rgb(255 255 255 / 20%);

/**
 * Animations
 * ---
 * Inspiration: https://material.io/design/motion/speed.html#controlling-speed
 */

// Duration
$timing-xslow: 300ms;
$timing-slow: 250ms;
$timing-default: 200ms;
$timing-fast: 100ms;
$timing-sm: $timing-fast;
$timing-md-in: $timing-slow;
$timing-md-out: $timing-default;
$timing-lg-in: $timing-xslow;
$timing-lg-out: $timing-slow;

// Easings
$ease-default: cubic-bezier(0.4, 0.0, 0.2, 1);
$ease-in: cubic-bezier(0.0, 0.0, 0.2, 1);
$ease-out: cubic-bezier(0.4, 0.0, 1, 1);

// Combinations
$animate-default: $timing-default $ease-default;
$animate-sm-in: $timing-sm $ease-in;
$animate-sm-out: $timing-sm $ease-out;
$animate-md-in: $timing-md-in $ease-in;
$animate-md-out: $timing-md-out $ease-out;
$animate-lg-in: $timing-lg-in $ease-in;
$animate-lg-out: $timing-lg-out $ease-out;
