@use "src/styles/abstracts" as abstracts;

:global(.p-admin-vertalingen) .c-translations-overview {
	:global(.c-input) {
		padding: 0;
		background-color: transparent;
		border: 0;

		:global(.c-input__field) {
			margin: 0;
			height: 5.6rem;
			border-radius: abstracts.$input-border-radius;
		}
	}

	:global(.c-translations-content__no-results) {
		padding: abstracts.$spacer-sm;
		display: block;
		color: abstracts.$neutral;
	}

	:global(table) {
		margin-top: abstracts.$spacer-md;

		:global(.c-table__cell--header) {
			text-align: left;
			padding-left: abstracts.$spacer-md;
		}

		:global(.c-table__row > td:first-child) {
			width: 40%;
			padding-left: abstracts.$spacer-md;
		}

		:global(.c-table__row > td:not(:first-child)) {
			width: 30%;
			padding: 0;

			> button {
				padding: abstracts.$spacer-md;
				min-height: 10rem;
				font-family: SofiaPro, sans-serif;
				font-size: abstracts.$font-size-sm;

				&:global(:hover) {
					background-color: abstracts.$platinum;
					cursor: pointer;
				}

				p {
					font-size: abstracts.$font-size-sm;
				}
			}
		}

		:global(.u-text-muted) {
			color: abstracts.$neutral;
		}
	}

	:global(.c-table__with-row-focus) {
		:global(.c-table__row > td:first-child) {
			min-width: abstracts.$focus-cell-width;
			max-width: abstracts.$focus-cell-width;
			width: abstracts.$focus-cell-width;
		}

		:global(.c-table__row > td:nth-child(2)) {
			width: 40%;
			padding-left: abstracts.$spacer-md;
		}

		:global(.c-table__row > td:not(:first-child):not(:nth-child(2))) {
			width: 30%;
			padding: 0;
		}
	}
}

.c-translations-overview__blade-body {
	:global(.c-rich-text-editor) {
		margin-top: abstracts.$spacer-md;
	}

	:global(.c-translation-overview__textarea) {
		width: 100%;
		min-height: 40rem;
		border: 1px solid abstracts.$zinc;
		border-radius: 0;
		padding: 1.5rem;
		font-family: SofiaPro, sans-serif;
		font-size: abstracts.$font-size-base;
		outline: none;

		&:global(:focus-visible),
		&:global(:active) {
			border: 1px solid abstracts.$teal;
		}
	}

	:global(.c-button--copy-to-clipboard) {
		margin-left: -#{abstracts.$spacer-md};

		:global(.c-button__content) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			white-space: initial;
			text-align: left;
		}

		:global(.c-button__content > div:first-child) {
			margin-bottom: abstracts.$spacer-xs;
		}
	}
}

.c-translations-overview__blade-footer :global(.c-button:first-child) {
	margin-bottom: abstracts.$spacer-xs;
}
