@use "src/styles/abstracts" as *;

.c-translations-overview {
	:global(.c-input) {
		padding: 0;
		background-color: transparent;
		border: 0;

		:global(.c-input__field) {
			margin: 0;
			height: 5.6rem;
			border-radius: $input-border-radius;
		}
	}

	:global(.c-translations-content__no-results) {
		padding: $spacer-sm;
		display: block;
		color: $neutral;
	}

	:global(table) {
		margin-top: $spacer-md;

		:global(.c-table__cell--header) {
			text-align: left;
			padding-left: $spacer-md;
		}

		:global(.c-table__row) {
			:global(> td:first-child) {
				width: 40%;
				padding-left: $spacer-md;
			}

			:global(> td:not(:first-child)) {
				width: 30%;
				padding: 0;

				> button {
					padding: $spacer-md;
					min-height: 10rem;
					font-family: SofiaPro, sans-serif;
					font-size: $font-size-sm;

					&:global(:hover) {
						background-color: $platinum;
						cursor: pointer;
					}

					p {
						font-size: $font-size-sm;
					}
				}
			}
		}

		:global(.u-text-muted) {
			color: $neutral;
		}
	}

	:global(.c-table__with-row-focus) {
		:global(.c-table__row) {
			:global(> td:first-child) {
				min-width: $focus-cell-width;
				max-width: $focus-cell-width;
				width: $focus-cell-width;
			}

			:global(> td:nth-child(2)) {
				width: 40%;
				padding-left: $spacer-md;
			}

			:global(> td:not(:first-child, :nth-child(2))) {
				width: 30%;
				padding: 0;
			}
		}
	}
}

.c-translations-overview__blade-body {
	:global(.c-rich-text-editor) {
		margin-top: $spacer-md;
	}

	:global(.c-translation-overview__textarea) {
		width: 100%;
		min-height: 40rem;
		border: 1px solid $zinc;
		border-radius: 0;
		padding: 1.5rem;
		font-family: SofiaPro, sans-serif;
		font-size: $font-size-base;
		outline: none;

		&:global(:focus-visible),
		&:global(:active) {
			border: 1px solid $teal;
		}
	}

	:global(.c-button--copy-to-clipboard) {
		margin-left: -$spacer-md;

		:global(.c-button__content) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			white-space: initial;
			text-align: left;

			:global(> div:first-child) {
				margin-bottom: $spacer-xs;
			}
		}
	}
}

.c-translations-overview__blade-footer :global(.c-button:first-child) {
	margin-bottom: $spacer-xs;
}
