@use "../../abstracts" as *;

$component: "p-account-my-history";

.#{$component} {
	tr {
		@media (max-width: $breakpoint-lg) {
			td,
			th {
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(5) {
					display: none;
				}
			}
		}

		@media (min-width: $breakpoint-lg) {
			td,
			th {
				&:nth-child(4) {
					display: none;
				}
			}
		}

		// Action
		td:nth-last-child(1) {
			padding: 0;
			border-left: 1px solid $silver;
		}
	}
}
