@use "../../abstracts" as *;

$component: "p-account-my-collections";

.#{$component} {
	&__export--label {
		@include respond-to("xl") {
			display: none;
		}
	}

	&__export--icon {
		@include respond-at("xl") {
			display: none;
		}
	}

	&__toggle {
		@include respond-to("md") {
			display: none;
		}
	}

	&__search {
		&.c-tag-search-bar.c-tags-input.c-tag-search-bar--light .c-tags-input__control {
			border-color: $zinc-66;
		}
	}

	&__card-description {
		p {
			font-size: $font-size-xs;
			line-height: $line-height-4xl;
		}
	}

	// Hide links active state on mobile
	&__link {
		padding-right: $spacer-md;

		// Hide icon on desktop
		span {
			visibility: hidden;
		}

		@include respond-to("md") {
			background-color: $platinum;
			color: $black;
			font-weight: 400;
			display: flex;
			align-items: center;
			justify-content: space-between;

			span {
				visibility: visible;
			}
		}
	}

	// Avoid clicks on container triggering events
	.c-content-input__icon--end {
		pointer-events: none;

		& > button {
			pointer-events: all;
		}
	}

	@include respond-to("lg") {
		// Hide top-level sidebar a bit earlier
		// > :global(.l-sidebar__navigation) {
		> div:first-child {
			display: none;
		}
	}
}
