@use "../../../../styles/abstracts" as abstracts;

.c-material-request-additional-conditions-resolution-blade {
	&__radio-subtext {
		font-style: italic;
		font-size: abstracts.$font-size-sm;
		color: abstracts.$shade;
		margin: abstracts.$spacer-xxs 0 abstracts.$spacer-md abstracts.$spacer-lg;
	}
}
