@use "src/styles/abstracts" as abstracts;$button-size: 3.6rem;

.c-content-overview__table {
	.c-content-overview__table__translated_pages {
		display: flex;
		gap: abstracts.$spacer-xs;

		.c-content-overview__table__translated_pages__page {
			width: $button-size;
			height: $button-size;
			text-align: center;
			background-color: abstracts.$silver;
			display: inline-block;
			line-height: $button-size;
			border-radius: 50%;
			visibility: hidden;

			&--exists {
				visibility: visible;
			}

			&--published {
				color: abstracts.$white;
				background-color: abstracts.$teal-dark;
			}
		}
	}

	tr > td:last-child {
		gap: abstracts.$spacer-xs;

		> .c-button,
		.c-actions-dropdown > .c-button {
			border-radius: 50%;
			width: $button-size;
			height: $button-size;
			border: 0;
			background-color: transparent;
		}

		.c-actions-dropdown {
			margin: 0;

			> button {
				&:hover {
					background-color: abstracts.$silver;
				}
			}
		}

		.c-actions-dropdown-flyout .c-menu {
			display: flex;
			flex-direction: column;
			align-items: stretch;

			> a,
			> button {
				width: 100%;
				text-decoration: none;

				&:hover {
					background-color: abstracts.$silver;
				}
			}

			button {
				padding: abstracts.$spacer-xs abstracts.$spacer-sm;
				width: 100%;
				border: 0;
				background-color: transparent;
				display: flex;
				place-content: flex-start flex-start;
				align-items: flex-start;
				max-height: none;

				.c-button__content {
					justify-content: flex-start;

					.c-button__label {
						line-height: 4rem;
					}

					span {
						font-size: 1.8rem;
						margin-right: abstracts.$spacer-xs;
					}
				}
			}
		}
	}
}
