@use "../abstracts" as *;

/**
 * Color
 */

.u-bg-black {
	background-color: $black;
}

.u-bg-platinum {
	background-color: $platinum;
}

.u-bg-white {
	background-color: $white;
}

.u-bg-silver {
	background-color: $silver;
}

.u-bg-mustard {
	background-color: $mustard;
}

.u-bg-lila {
	background-color: $lila;
}

.u-bg-shade {
	background-color: $shade;
}
