@use "../abstracts" as *;

/**
 * Color
 */

$bg: (
	"black": $black,
	"platinum": $platinum,
	"white": $white,
	"silver": $silver,
	"mustard": $mustard,
	"lila": $lila,
	"shade": $shade,
);
@include generate-utils("bg", "background-color", $bg);
