@use "../abstracts" as *;

/**
 * Color
 */

$color: (
	"black": $black,
	"white": $white,
	"neutral": $neutral,
	"teal": $teal,
);

@include generate-utils("color", "color", $color, ("md", "lg", "xxl"));

.u-color-neutral {
	color: $neutral;
}

.u-color-zinc {
	color: $neutral;
}

.u-color-silver {
	color: $neutral;
}
