@use "../abstracts" as *;

/**
 * Color
 */

.u-color-black {
	color: $black;
}

.u-color-white {
	color: $white;
}

.u-color-neutral {
	color: $neutral;
}

.u-color-teal {
	color: $teal;
}

.u-color-zinc {
	color: $neutral;
}

.u-color-silver {
	color: $neutral;
}

@media (min-width: $breakpoint-md) {
	.u-color-black-md {
		color: $black;
	}

	.u-color-white-md {
		color: $white;
	}

	.u-color-neutral-md {
		color: $neutral;
	}

	.u-color-teal-md {
		color: $teal;
	}
}

@media (min-width: $breakpoint-lg) {
	.u-color-black-lg {
		color: $black;
	}

	.u-color-white-lg {
		color: $white;
	}

	.u-color-neutral-lg {
		color: $neutral;
	}

	.u-color-teal-lg {
		color: $teal;
	}
}

@media (min-width: $breakpoint-xxl) {
	.u-color-black-xxl {
		color: $black;
	}

	.u-color-white-xxl {
		color: $white;
	}

	.u-color-neutral-xxl {
		color: $neutral;
	}

	.u-color-teal-xxl {
		color: $teal;
	}
}
