@use "../abstracts" as *;

.u-flex {
	display: flex;
}

.u-flex-shrink {
	flex-shrink: 1;
}

.u-flex-grow {
	flex-grow: 1;
}

.u-flex-space-between {
	justify-content: space-between;
}

.u-flex-items-center {
	align-items: center;
}

.u-gap-md {
	gap: $spacer-md;
}

.u-gap-sm {
	gap: $spacer-sm;
}

.u-gap-xs {
	gap: $spacer-xs;
}

/**
 * Direction
 */

.u-flex-col {
	flex-direction: column;
}

.u-flex-row {
	flex-direction: row;
}

@media (min-width: $breakpoint-md) {
	.u-flex-col-md {
		flex-direction: column;
	}

	.u-flex-row-md {
		flex-direction: row;
	}
}

/**
 * Align
 */

.u-align-center {
	align-items: center;
}

@media (min-width: $breakpoint-md) {
	.u-align-center-md {
		align-items: center;
	}
}

/**
 * Justify
 */

.u-justify-center {
	justify-content: center;
}

.u-justify-between {
	justify-content: space-between;
}

@media (min-width: $breakpoint-md) {
	.u-justify-center-md {
		justify-content: center;
	}

	.u-justify-between-md {
		justify-content: space-between;
	}
}
