@use "sass:math";

@use "../abstracts" as *;

$spacer-12: math.div($spacer-md, 2);
$spacer-20: math.div($spacer-1xl, 2);
$spacer-48: $spacer-md * 2;
$spacer-64: $spacer-lg * 2;

/**
 * Padding
 */

$p: (
	"0": 0,
	"20": $spacer-20,
	"24": $spacer-md,
	"32": $spacer-lg,
);
@include generate-utils("p", "padding", $p);

// Top
$pt: (
	"8": $spacer-xs,
	"12": math.div($spacer-md, 2),
	"32": $spacer-lg,
	"80": $spacer-2xl,
);
@include generate-utils("pt", "padding-top", $pt, ("md"));

// Bottom
$pb: (
	"8": $spacer-xs,
	"24": $spacer-md,
	"48": $spacer-48,
	"80": $spacer-2xl,
);
@include generate-utils("pb", "padding-bottom", $pb, ("md"));

// Left
$pl: (
	"8": $spacer-xs,
	"24": $spacer-md,
);
@include generate-utils("pl", "padding-left", $pl, ("sm"));

// Right
$pr: (
	"8": $spacer-xs,
	"24": $spacer-md,
);
@include generate-utils("pr", "padding-right", $pr, ("sm"));

// Top / Bottom
$py: (
	"16": $spacer-sm,
	"24": $spacer-md,
	"48": $spacer-md * 2,
);
@include generate-utils("py", ("padding-top", "padding-bottom"), $py, ("md"));

// Left / Right
$px: (
	"12": $spacer-12,
	"20": $spacer-20,
	"24": $spacer-md,
	"32": $spacer-lg,
);
@include generate-utils("px", ("padding-left", "padding-right"), $px, ("md"));

/**
 * Margin
 */

// Top
$mt: (
	"16": $spacer-sm,
	"24": $spacer-md,
	"32": $spacer-lg,
	"64": $spacer-64,
	"80": $spacer-2xl,
);
@include generate-utils("mt", "margin-top", $mt, ("md"));

// Bottom
$mb: (
	"16": $spacer-sm,
	"24": $spacer-md,
	"32": $spacer-lg,
	"40": $spacer-1xl,
	"48": $spacer-md * 2,
	"64": $spacer-lg * 2,
	"80": $spacer-2xl,
);
@include generate-utils("mb", "margin-bottom", $mb, ("md"));


// Left
$ml: (
	"4": $spacer-xxs,
	"8": $spacer-xs,
	"-12": - $spacer-12,
);
@include generate-utils("ml", "margin-left", $ml);

// Right
$mr: (
	"8": $spacer-xs,
);
@include generate-utils("mr", "margin-right", $mr);
