@use "../abstracts" as *;

/**
 * Padding
 */

// Top / Bottom
$py: (
	"48": 4.8rem,
);
@include generate-utils("py", ("padding-top", "padding-bottom"), $py);

/**
 * Margin
 */

// Left / Right
$ml: (
	"8": $spacer-xs,
);
@include generate-utils("ml", "margin-left", $ml);

$mr: (
	"8": $spacer-xs,
);
@include generate-utils("mr", "margin-right", $mr);

$mb: (
	"64": $spacer-lg * 2,
	"80": $spacer-2xl,
);
@include generate-utils("mb", ("margin-bottom"), $mb);