
@use "../abstracts" as *;

.u-text-ellipsis {
	@include text-ellipsis;
}

/**
 * Alignment
 *
 * usage: u-text-left
 */

$align: (left, right, center);
@include generate-utils("text", "text-align", $align);

/**
 * Size
 */

 $size: (
	"14": $font-size-sm,
	"24": $font-size-lg,
 );
 @include generate-utils("font-size", "font-size", $size);

/**
 * Weight
 */

 $weight: (
	"400": $font-weight-normal,
 );
 @include generate-utils("font-weight", "font-weight", $weight);

 /**
 * Line-height
 */

 $height: (
	"13": $line-height-2xl,
 );
 @include generate-utils("line-height", "line-height", $height);

/**
 * Whitespace
 */

$whitespace: (nowrap);
@include generate-utils("whitespace", "white-space", $whitespace);
