@use "styles/abstracts" as *;

$component: "c-related-objects-blade";

.#{$component} {
	max-height: 6.5rem;
	background-color: $black;
	transition: max-height $animate-default;

	@include respond-at("md") {
		max-height: 8.8rem;
	}

	&__toggle {
		cursor: pointer;
		display: flex;
		align-items: center;
		width: 100%;
		padding: 2rem;
		border: none;
		color: $white;
		border-bottom: $divider-white;
		background-color: transparent;

		&:focus-visible {
			outline: 0.2rem solid $teal;
			outline-offset: -0.2rem;
		}

		@include respond-at("md") {
			padding: $spacer-lg;
		}
	}

	&__icon {
		font-size: $font-size-lg;
		margin-right: 1rem;
	}

	&__title {
		font-size: $font-size-md;
	}

	&__arrow {
		margin-left: auto;
		font-size: $font-size-md;
	}

	&__list {
		@extend %reset-list;

		display: flex;
		flex-flow: column;
		row-gap: $spacer-sm;
		padding: $spacer-lg;
	}

	&--open {
		max-height: 100vh;
	}
}
