@use "src/styles/abstracts" as *;

$component: "c-metadatadescription";

.#{$component} {
	padding: $spacer-lg 0 $spacer-lg $spacer-lg;

	&__title {
		padding-bottom: $spacer-lg;
	}

	&__read-more {
		cursor: pointer;
		font-size: $font-size-sm;
		text-decoration: underline;
		color: $neutral;
		transition: opacity $animate-default;
		margin-top: $spacer-xs;

		&:hover,
		&:focus {
			opacity: 0.8;
		}
	}

	[class^="Blade_c-blade__body-wrapper"] {
		padding-right: $spacer-lg;
	}
}
