@use "src/styles/abstracts" as *;

$l-container-padding: $spacer-sm;
$l-container-padding-xs: 2rem;

.c-content-page-preview {
	.c-content-page-preview .c-content-block-preview {
		padding: 0;
	}

	.c-content-block-preview .o-container {
		width: auto;
	}

	// Mobile titles

	@include respond-to("md") {
		h1 {
			font-size: 2.8rem;
		}

		h2 {
			font-size: 2.5rem;
		}

		h3 {
			font-size: 2.3rem;
		}

		h4 {
			font-size: 2.1rem;
		}

		h5 {
			font-size: 1.8rem;
		}

		h6 {
			font-size: 1.6rem;
		}
	}

	// accordion

	.c-accordion {
		border: none;
		border-bottom: 0.1rem solid $silver;

		& + .c-accordion {
			margin-top: 0;
		}

		&:first-of-type {
			margin-top: $spacer-1xl;

			@include respond-at("lg") {
				margin-top: $spacer-2xl;
			}
		}
	}

	.c-accordion__header {
		padding: $spacer-md 0;
	}

	.c-accordion__header-title {
		color: $black;
		font-weight: 700;
	}

	.c-accordion__body {
		padding-bottom: $spacer-md;
		color: $neutral !important;
		border-top: none;

		p,
		b,
		a,
		i {
			line-height: $line-height-3xl;
		}
	}

	.c-accordion__item {
		padding: 0;
	}

	// intro

	.o-container-vertical-intro__intro {
		padding-top: $spacer-md;
		color: $neutral;
	}

	.c-content-block-preview > .o-container {
		padding: 0 $spacer-sm;
	}

	div[style*="background-color: transparent"].content-block-preview-0:not(.c-content-page-preview .c-content-page-preview div[style*="background-color: transparent"].content-block-preview-0) {
		background-color: $platinum !important; // override inline style
		display: grid;
		grid-template-columns: auto;
		min-height: 24rem;
		align-items: center;

		@include respond-at("lg") {
			grid-template-columns: minmax($l-container-padding, 1fr) minmax(auto, 99.2rem) minmax($l-container-padding, 1fr);
		}

		.c-content-block-preview {
			padding-bottom: $spacer-sm !important;
			grid-column-start: 2;

			@include respond-at("lg") {
				padding-left: 0;
			}
		}

		&::after {
			content: "";
			display: block;
			height: auto;
			grid-column-start: 3;
			top: 0;
			right: 0;
			background-color: $platinum;

			@include respond-at("lg") {
				height: 32rem;
				background-image: radial-gradient(circle at 16rem, $platinum 16rem, $white 16rem);
			}
		}
	}

	// Image with copyright and description
	.a-block-image__annotation {
		h3 {
			font-size: 1.8rem;
			line-height: 3rem;
		}

		.a-block-image__text {
			font-size: 1.6rem;
		}
	}

	// USP Block, Image grid block
	.c-block-grid {
		.c-block-grid__text-wrapper {
			h3,
			p {
				color: black;
			}
		}

		a {
			text-decoration: none;
		}
	}

	[class*="c-button--content-page-button--"] {
		max-height: none !important;
		border-radius: 4rem;
		border-style: solid !important;
	}

	.c-button--content-page-button--silver {
		background-color: $silver !important;
		border-color: $silver !important;
		color: $black !important;

		.o-svg-icon svg * {
			fill: $black !important;
		}

		&:hover {
			background-color: $shade !important;
			border-color: $shade !important;
			color: $white !important;

			.o-svg-icon svg * {
				fill: $white !important;
			}
		}

		&:active {
			background-color: $teal-dark !important;
			border-color: $teal-dark !important;
			color: $white !important;
		}

		&:focus,
		.focus-visible:focus:not(:focus-visible) {
			outline: 2px solid $teal;
		}
	}

	.c-button--content-page-button--teal {
		background-color: $teal !important;
		border-color: $teal !important;
		color: $white !important;

		.o-svg-icon svg * {
			fill: $white !important;
		}

		&:hover {
			background-color: $shade !important;
			border-color: $shade !important;
			color: $white !important;

			.o-svg-icon svg * {
				fill: $white !important;
			}
		}

		&:active {
			background-color: $teal-dark !important;
			border-color: $teal-dark !important;
			color: $white !important;
		}

		&:focus,
		.focus-visible:focus:not(:focus-visible) {
			outline: 2px solid $teal;
		}
	}

	.c-button--content-page-button--white {
		background-color: $white !important;
		border-color: $white !important;
		color: $black !important;

		&:hover {
			background-color: $silver !important;
			border-color: $silver !important;
		}

		&:active {
			background-color: $teal-dark !important;
			border-color: $teal-dark !important;
			color: $white !important;
		}

		&:focus,
		.focus-visible:focus:not(:focus-visible) {
			outline: 2px solid $teal !important;
		}
	}

	.c-button--content-page-button--red {
		background-color: $cherry !important;
		border-color: $cherry !important;
		color: $white !important;

		&:hover {
			background-color: $cherry-light !important;
			border-color: $cherry-light !important;
		}

		&:active {
			background-color: $cherry-pale !important;
			border-color: $cherry-pale !important;
		}

		&:focus,
		.focus-visible:focus:not(:focus-visible) {
			outline: 2px solid $cherry !important;
		}
	}

	.c-button--content-page-button--link {
		font-weight: $font-weight-normal !important;
		background-color: transparent !important;
		border-color: transparent !important;
		color: $teal !important;
		text-decoration: underline;

		&:hover {
			background-color: transparent !important;
			border-color: transparent !important;
			color: $teal-light !important;
		}

		&:active {
			color: $teal-dark !important;
			background-color: transparent !important;
			border-color: transparent !important;
		}

		&:focus,
		.focus-visible:focus:not(:focus-visible) {
			outline: 2px solid $teal !important;
		}
	}

	.c-button--content-page-button--black {
		background-color: $black !important;
		border-color: $black !important;
		color: $white !important;

		&:hover {
			background-color: $black-light !important;
		}

		&:active {
			background-color: $black-pale !important;
		}

		&:focus,
		.focus-visible:focus:not(:focus-visible) {
			outline: 2px solid $teal !important;
		}
	}

	.c-button--content-page-button--outline {
		background-color: $white !important;
		border-color: $black !important;
		color: $black !important;

		&:hover {
			background-color: $silver !important;
		}

		&:active {
			background-color: $teal-dark !important;
			border-color: $teal-dark !important;
			color: $white !important;
		}

		&:focus,
		.focus-visible:focus:not(:focus-visible) {
			border-color: transparent !important;
			outline: 2px solid $teal !important;
		}

		&:focus:not(:focus-visible) {
			border-color: $black !important;
		}
	}

	.c-button--content-page-button--text {
		font-weight: $font-weight-normal !important;
		background-color: transparent !important;
		border-color: transparent !important;
		color: $black !important;

		&:hover {
			background-color: transparent !important;
			border-color: transparent !important;
			color: $neutral !important;
		}

		&:active {
			color: $teal-dark !important;
			background-color: transparent !important;
			border-color: transparent !important;
		}

		&:focus,
		.focus-visible:focus:not(:focus-visible) {
			outline: 2px solid $teal !important;
		}
	}
}
