@use "../../../styles/abstracts" as abstracts;

%filters-input-with-icon {
	.c-input-with-icon {
		position: relative;

		.c-input {
			@include abstracts.reset-input-field;

			background-color: abstracts.$white;
			border: 1px solid abstracts.$zinc;
			font-size: abstracts.$font-size-base;
			outline: 1px solid transparent;
			padding: 1.4rem 1.6rem !important;
			height: 5.6rem;
			width: 100%;
			border-radius: abstracts.$input-border-radius;

			&:focus {
				border-color: abstracts.$teal;
			}

			&:disabled {
				cursor: not-allowed;
				color: abstracts.$zinc;
				border-color: abstracts.$silver;
			}
		}

		.o-svg-icon {
			position: absolute;
			right: 2rem;
			top: calc(50% - 1rem) !important;
		}
	}
}

@include abstracts.module-class-selector("SidebarLayout", "l-sidebar__main") {
	@extend %filters-input-with-icon;
}

.c-modal__body {
	@extend %filters-input-with-icon;
}
