@use "src/styles/abstracts" as *;

$page: "p-admin-material-requests";

.#{$page} {
	&__header {
		display: flex;
		justify-content: space-between;
		flex-direction: row;

		@media (max-width: $breakpoint-xl) {
			flex-direction: column;
		}

		&-dropdowns {
			display: flex;
			flex-direction: row;

			@media (max-width: $breakpoint-xl) {
				flex-direction: column;
			}
		}
	}

	&__dropdown {
		margin-right: $spacer-sm;
		margin-bottom: 0;

		@media (max-width: $breakpoint-xl) {
			margin-right: 0;
			margin-bottom: $spacer-xs;
		}

		&--open {
			box-shadow: $shadow-24-black-08;
		}

		&-no-dividers {
			.c-multi-select__checkbox-list-item {
				border-top: none !important;
			}
		}
	}
}
