@use "src/styles/abstracts" as *;

$page: "p-admin-material-requests";

.#{$page} {
	&__header {
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		@media (min-width: $breakpoint-md) {
			flex-direction: row;
		}

		&-dropdowns {
			display: flex;
			flex-direction: column;

			@media (min-width: $breakpoint-md) {
				flex-direction: row;
			}
		}
	}

	&__dropdown {
		margin-bottom: $spacer-xs;

		@media (min-width: $breakpoint-md) {
			margin-right: $spacer-sm;
			margin-bottom: 0;
		}

		&--open {
			box-shadow: $shadow-24-black-08;
		}

		&-no-dividers {
			.c-multi-select__checkbox-list-item {
				border-top: none;
			}
		}
	}
}
