@use "styles/abstracts" as *;

$page: "p-admin-reading-rooms";

.#{$page} {
	&__header {
		height: 5.6rem;
		display: flex;
	}

	&__search {
		width: 100%;
	}

	&__error {
		&__error {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $neutral;
		}
	}
}
