@use "styles/abstracts" as *;

$c-table-border: 1px solid $silver;

// Table

table[class*="c-table--styled"] {
	thead {
		th{
			@include text-ellipsis;

			padding: 1.6rem 2.4rem;
			position: relative;
			text-align: left;
			font-weight: 700;
			font-size: 1.2rem;
			line-height: 1.3;
			color: #727272;
			user-select: none;
		}

		.o-svg-icon {
			width: 1.6rem;
			height: 1.6rem;
		}
	}
}

.c-filter-table {
	table {
		border-spacing: 0;
		border-collapse: collapse;
	}

	tbody {
		background-color: $white;
		border-bottom: $c-table-border;
		border-top: $c-table-border;

		@include respond-at("lg") {
			box-shadow: $shadow-24-black-08;
		}

		td {
			text-align: left;
			padding: $spacer-sm $spacer-md;
			font-size: $font-size-sm;
			line-height: $font-size-base;
		}
	}

	tr {
		border-bottom: $c-table-border;
	}

	.c-button-toolbar {
		button {
			width: 3.6rem;
			height: 3.6rem;
			border-radius: 1.8rem;
			background-color: $silver;
			color: $black;
			border: none;

			&:hover {
				background-color: $shade;
				border-color: $shade;
				color: $white;
			}

			&:active {
				background-color: $teal-dark;
				border-color: $teal-dark;
				color: $white;
			}

			&:focus,
			.focus-visible:focus:not(:focus-visible) {
				outline: 2px solid $teal;
			}

			&:disabled {
				border: none;
				background-color: $silver;
				color: $zinc;
			}
		}
	}
}

// Pagination

div[class*="c-pagination"]:not(div[class*="c-pagination__btn"]) {
	justify-content: flex-end;
}

div[class*="c-pagination__btn"] {
	color: $zinc;

	&:hover {
		color: $shade;
		background-color: transparent;
	}
}

div[class*="c-pagination__btn--active"] {
	background-color: #009690;
	color: #fff;
    font-weight: 700;
    border-radius: 50%;

	&:hover {
		background-color: #009690;
		color: $white;
	}
}

// Buttons
.c-content-block-form-group button[class*="c-button"],
.c-file-upload-button-and-input button[class*="c-button"],
.c-admin__actions button[class*="c-button"],
.c-filter-table button[class*="c-button--primary"],
button[class*="c-button"].c-checkbox-dropdown-modal__trigger,
.c-accordion__item > .u-spacer-bottom button[class*="c-button"],
.c-modal .c-toolbar button[class*="c-button"] {
	display: inline-block;
	padding: 1.4rem $button-horizontal-whitespace;
	border: 1px solid $teal-dark;
	font-family: $font-family-primary;
	font-size: $font-size-base;
	font-weight: $font-weight-bold;
	line-height: 1.125;
	text-align: center;
	border-radius: 4rem;
	cursor: pointer;
	outline: 2px solid transparent;
	transition: color $animate-default, background-color $animate-default,
	border-color $animate-default;

	.c-button__label, div[class*="c-button__label"] {
		font-weight: 400;
	}
}

button[class*="c-button"].c-checkbox-dropdown-modal__trigger {
	border-color: $zinc;
	background-color: $white;
	color: $black;

	&:hover {
		background-color: $silver;
	}

	&:active {
		background-color: $teal-dark;
		border-color: $teal-dark;
		color: $white;
	}

	/**
	* Cross-browser styles for explicit focus via
	* keyboard-based (eg Tab) navigation or the
	* .focus-visible utility class.
	*/
	&:focus,
	.focus-visible:focus:not(:focus-visible) {
		border-color: transparent;
		outline: 2px solid $teal;
	}

	&:focus:not(:focus-visible) {
		border-color: $zinc;
	}
}

.c-admin__actions button[class*="c-button--primary"],
.c-filter-table button[class*="c-button--primary"] {
	max-height: 5.6rem;
	background-color: $teal-dark;
	color: $white;
	border-radius: 2.8rem;

	&:hover {
		background-color: $shade;
		border-color: $shade;
	}

	&:active {
		background-color: $teal-dark;
		border-color: $teal-dark;
	}

	/**
		* Cross-browser styles for explicit focus via
		* keyboard-based (eg Tab) navigation or the
		* .focus-visible utility class.
		*/
	&:focus,
	.focus-visible:focus:not(:focus-visible) {
		outline: 2px solid $black;
	}

	/**
	* Remove focus styles for non-keyboard focus.
	*/
	&:focus:not(:focus-visible) {
		outline: 0;
		box-shadow: none;
	}
}

.c-admin__actions button[class*="c-button--secondary"],
.c-accordion__item button[class*="c-button--secondary"],
.c-content-block-form-group button[class*="c-button--secondary"],
.c-file-upload-button-and-input button[class*="c-button--secondary"],
.c-admin__actions button[class*="c-button--tertiary"] {
	max-height: 5.6rem;
	background-color: $silver;
	border-color: $silver;
	color: $black;

	&:hover {
		background-color: $shade;
		border-color: $shade;
		color: $white;
	}

	&:active {
		background-color: $teal-dark;
		border-color: $teal-dark;
		color: $white;
	}

	/**
	* Cross-browser styles for explicit focus via
	* keyboard-based (eg Tab) navigation or the
	* .focus-visible utility class.
	*/
	&:focus,
	.focus-visible:focus:not(:focus-visible) {
		outline: 2px solid $teal;
	}
}

// inputs
.c-filter-table .o-form-group-layout  {
	align-items: center;

	.c-content-filters__search {
		max-width: none;

		.c-input-with-icon {
			position: relative;

			.c-input {
				@include reset-input-field;

				background-color: $white;
				border: 1px solid $zinc;
				font-size: $font-size-base;
				outline: 1px solid transparent;
				padding: 1.4rem 1.6rem;
				height: 5.6rem;
				border-radius: 2.8rem;

				&:focus {
					border-color: $teal;
				}
			}

			.o-svg-icon {
				position: absolute;
				top: calc(50% - 1rem);
				right: 2rem;
			}
		}
	}

	.u-text-muted {
		color: $neutral;
	}
}

// modal

.c-modal {
	.c-toolbar {
		.c-modal__title {
			font-size: $font-size-3xl;
			font-weight: 700;
		}

		button[class*="c-button"] {
			padding: $spacer-xxs $spacer-md;
			border: none;
		}

		.c-apply-filter-button {
			background-color: $black;
			border-color: $black;

			&:focus,
			.focus-visible:focus:not(:focus-visible) {
				outline: 2px solid $teal;
			}
		}

		button[class*="c-button--secondary"] {
			background-color: $silver;
			border-color: $silver;
			color: $black;

			&:hover {
				background-color: $shade;
				border-color: $shade;
				color: $white;
			}

			&:active {
				background-color: $teal-dark;
				border-color: $teal-dark;
				color: $white;
			}

			/**
			* Cross-browser styles for explicit focus via
			* keyboard-based (eg Tab) navigation or the
			* .focus-visible utility class.
			*/
			&:focus,
			.focus-visible:focus:not(:focus-visible) {
				outline: 2px solid $teal;
			}
		}
	}

	.c-checkbox-group {
		display: flex;
		flex-direction: column;
		row-gap: $spacer-sm;
		padding-top: $spacer-xs;
	}

	.c-checkbox {
		color: $black;

		label {
			display: flex;
			align-items: center;
		}

		input {
			margin-right: $spacer-xs;
		}
	}
}

// dropdowns

.c-filter-table__toolbar {
	.c-dropdown__menu {
		.o-form-group__label {
			font-size: $font-size-sm;
			color: $neutral;
		}

		.c-checkbox-group,
		.c-radio-group--inline,{
			display: flex;
			flex-direction: column;
			row-gap: $spacer-sm;
			padding-top: $spacer-xs;
			color: $black;
		}

		.c-checkbox,
		.c-radio {
			color: $black;

			label {
				display: flex;
				align-items: center;
			}

			input {
				margin-right: $spacer-xs;
			}
		}

		.o-grid {
			padding-top: $spacer-xs;

			input {
				@include reset-input-field;

				background-color: $white;
				border: 1px solid $zinc;
				font-size: $font-size-base;
				outline: 1px solid transparent;
				padding: $spacer-xs;
				height: 2.8rem;
				border-radius: 1.4rem;

				&:focus {
					border-color: $teal;
				}
			}
		}

		.c-content-picker {
			.c-select__control {
				height: 3.6rem;
				border-radius: 1.8rem;
			}

			.c-select__menu {
				color: $black;

				.c-select__option:hover {
					background-color: $silver;
				}
			}
		}

		.o-form-group__controls .c-apply-filter-button {
			background-color: $black;
			border-color: $black;

			&:focus,
			.focus-visible:focus:not(:focus-visible) {
				outline: 2px solid $teal;
			}

			&:disabled {
				background-color: $silver;
				color: $zinc;
				border-color: $silver;
			}
		}
	}
}

// other

.c-form-help-text {
	padding-top: $spacer-xs;
}

.c-form-help-text--error {
	color: $cherry;
}
