@use "sass:math";
/* stylelint-disable no-descending-specificity */
@use "src/styles/abstracts" as abstracts;

$c-table-border: 1px solid abstracts.$silver;

// Table

table[class*="c-table--styled"] {
	thead {
		th {
			@include abstracts.text-ellipsis;

			padding: 1.6rem 2.4rem;
			position: relative;
			text-align: left;
			font-weight: abstracts.$font-weight-bold;
			font-size: 1.2rem;
			line-height: abstracts.$line-height-1xl;
			color: #727272;
			user-select: none;
		}

		.o-svg-icon {
			width: 1.6rem;
			height: 1.6rem;
		}
	}
}

.c-filter-table,
.c-admin__content {
	table {
		border-spacing: 0;
		border-collapse: collapse;
	}

	tbody {
		background-color: abstracts.$white;
		border-bottom: $c-table-border;
		border-top: $c-table-border;

		@media (min-width: abstracts.$breakpoint-lg) {
			box-shadow: abstracts.$shadow-24-black-08;
		}

		td {
			text-align: left;
			padding: abstracts.$spacer-sm abstracts.$spacer-md;
			font-size: abstracts.$font-size-sm;
			line-height: abstracts.$line-height-lg;
		}
	}

	tr {
		border-bottom: $c-table-border;
	}
}

.c-filter-table {
	.c-button-toolbar {
		button {
			width: 3.6rem;
			height: 3.6rem;
			border-radius: 1.8rem;
			background-color: abstracts.$silver;
			color: abstracts.$black;
			border: none;

			&:hover {
				background-color: abstracts.$shade;
				border-color: abstracts.$shade;
				color: abstracts.$white;
			}

			&:active {
				background-color: abstracts.$teal-dark;
				border-color: abstracts.$teal-dark;
				color: abstracts.$white;
			}

			&:focus,
			.focus-visible:focus:not(:focus-visible) {
				outline: 2px solid abstracts.$teal;
			}

			&:disabled {
				border: none;
				background-color: abstracts.$silver;
				color: abstracts.$zinc;
			}
		}
	}
}

.c-admin__content {
	:not(.Table-module_c-table--styled__H4Ms4) tbody td:first-child,
		// tables with row focus will add an additional column for the focus so we need to add the padding on the second child
	:has(.c-table__with-row-focus) tbody td:nth-child(2){
		padding-left: abstracts.$spacer-md;
	}

	:not(.Table-module_c-table--styled__H4Ms4) tbody td:last-child {
		padding-right: abstracts.$spacer-md;
	}
}

// Pagination

div[class*="c-pagination"]:not([class*="c-pagination__btn"]) {
	justify-content: flex-end;
}

div[class*="c-pagination__btn"] {
	color: abstracts.$zinc;

	&:hover {
		color: abstracts.$shade;
		background-color: transparent;
	}
}

div[class*="c-pagination__btn--active"] {
	background-color: #009690;
	color: #fff;
	font-weight: abstracts.$font-weight-bold;
	border-radius: 50%;

	&:hover {
		background-color: #009690;
		color: abstracts.$white;
	}
}

// Buttons
.c-button-toolbar button[class*="c-button"],
.c-content-block-form-group button[class*="c-button"],
.c-file-upload-button-and-input button[class*="c-button"],
.c-admin__actions button[class*="c-button"],
.c-filter-table button[class*="c-button--primary"],
button[class*="c-button"].c-checkbox-dropdown-modal__trigger,
.c-accordion__item > .u-spacer-bottom button[class*="c-button"],
.c-modal .c-toolbar button[class*="c-button"] {
	display: inline-block;
	padding: 1.4rem abstracts.$button-horizontal-whitespace;
	border: 1px solid abstracts.$teal-dark;
	font-family: abstracts.$font-family-primary;
	font-size: abstracts.$font-size-base;
	font-weight: abstracts.$font-weight-bold;
	line-height: 1.125;
	text-align: center;
	border-radius: 4rem;
	cursor: pointer;
	outline: 2px solid transparent;
	transition:
		color abstracts.$animate-default,
		background-color abstracts.$animate-default,
		border-color abstracts.$animate-default;

	.c-button__label,
	div[class*="c-button__label"] {
		font-weight: abstracts.$font-weight-normal;
	}
}

.c-modal .c-toolbar button[class*="c-button"].c-button--icon.c-button--borderless {
	width: fit-content;
}


button[class*="c-button"].c-checkbox-dropdown-modal__trigger {
	border-color: abstracts.$zinc;
	background-color: abstracts.$white;
	color: abstracts.$black;

	&:hover {
		background-color: abstracts.$silver;
	}

	&:active {
		background-color: abstracts.$teal-dark;
		border-color: abstracts.$teal-dark;
		color: abstracts.$white;
	}

	/**
* Cross-browser styles for explicit focus via
* keyboard-based (eg Tab) navigation or the
* .focus-visible utility class.
*/

	&:focus,
	.focus-visible:focus:not(:focus-visible) {
		border-color: transparent;
		outline: 2px solid abstracts.$teal;
	}

	&:focus:not(:focus-visible) {
		border-color: abstracts.$zinc;
	}

	// Filter table filters with values inside
	.c-tag-list {
		margin: 6px 0 6px 6px;

		.c-tag {
			background-color: abstracts.$teal-medium;
		}
	}
}

.c-admin__actions button[class*="c-button--primary"],
.c-admin__content button[class*="c-button--primary"],
.c-filter-table button[class*="c-button--primary"],
.c-button-toolbar button[class*="c-button--primary"] {
	max-height: 5.6rem;
	background-color: abstracts.$teal-dark;
	color: abstracts.$white;
	border-radius: abstracts.$input-border-radius;

	&:hover {
		background-color: abstracts.$shade;
		border-color: abstracts.$shade;
	}

	&:active {
		background-color: abstracts.$teal-dark;
		border-color: abstracts.$teal-dark;
	}

	/**
* Cross-browser styles for explicit focus via
* keyboard-based (eg Tab) navigation or the
* .focus-visible utility class.
*/

	&:focus,
	.focus-visible:focus:not(:focus-visible) {
		outline: 2px solid abstracts.$black;
	}

	/**
* Remove focus styles for non-keyboard focus.
*/

	&:focus:not(:focus-visible) {
		outline: 0;
		box-shadow: none;
	}
}

.c-admin__actions .c-button-toolbar {
	.c-button__icon.o-svg-icon svg {
		height: abstracts.$button-icon-size;
		width: abstracts.$button-icon-size;
	}
}

.c-admin__actions button[class*="c-button--secondary"],
.c-admin__content button[class*="c-button--borderless"],
.c-accordion__item button[class*="c-button--secondary"],
.c-content-block-form-group button[class*="c-button--secondary"],
.c-file-upload-button-and-input button[class*="c-button--secondary"],
.c-admin__actions button[class*="c-button--tertiary"],
.c-button-toolbar button[class*="c-button--tertiary"] {
	max-height: 5.6rem;
	background-color: abstracts.$silver;
	border-color: abstracts.$silver;
	color: abstracts.$black;

	&:hover {
		background-color: abstracts.$shade;
		border-color: abstracts.$shade;
		color: abstracts.$white;
	}

	&:active {
		background-color: abstracts.$teal-dark;
		border-color: abstracts.$teal-dark;
		color: abstracts.$white;
	}

	/**
* Cross-browser styles for explicit focus via
* keyboard-based (eg Tab) navigation or the
* .focus-visible utility class.
*/

	&:focus,
	.focus-visible:focus:not(:focus-visible) {
		outline: 2px solid abstracts.$teal;
	}
}

.c-button-toolbar button[class*="c-button"]:disabled {
	background-color: abstracts.$silver;
	color: abstracts.$zinc;
	border-color: abstracts.$silver;
	pointer-events: none;
}

.c-admin__content .c-content-picker .c-button--borderless {
	padding: 1.9rem;
	border-radius: 50%;
}

// inputs
.c-filter-table .o-form-group-layout,
.c-modal .o-form-group__controls {
	align-items: center;

	.c-content-filters__search {
		max-width: none;
	}

	.u-text-muted {
		color: abstracts.$neutral;
	}
}

// modal

.c-modal {
	.c-toolbar {
		.c-modal__title {
			font-size: abstracts.$font-size-1xl;
			font-weight: abstracts.$font-weight-bold;
		}

		button[class*="c-button"] {
			padding: abstracts.$spacer-xxs abstracts.$spacer-md;
			border: none;
		}

		.c-apply-filter-button {
			background-color: abstracts.$black;
			border-color: abstracts.$black;

			&:focus,
			.focus-visible:focus:not(:focus-visible) {
				outline: 2px solid abstracts.$teal;
			}
		}

		button[class*="c-button--secondary"] {
			background-color: abstracts.$silver;
			border-color: abstracts.$silver;
			color: abstracts.$black;

			&:hover {
				background-color: abstracts.$shade;
				border-color: abstracts.$shade;
				color: abstracts.$white;
			}

			&:active {
				background-color: abstracts.$teal-dark;
				border-color: abstracts.$teal-dark;
				color: abstracts.$white;
			}

			/**
* Cross-browser styles for explicit focus via
* keyboard-based (eg Tab) navigation or the
* .focus-visible utility class.
*/

			&:focus,
			.focus-visible:focus:not(:focus-visible) {
				outline: 2px solid abstracts.$teal;
			}
		}
	}

	.c-checkbox-group {
		display: flex;
		flex-direction: column;
		row-gap: abstracts.$spacer-sm;
		padding-top: abstracts.$spacer-xs;
	}

	.c-checkbox {
		color: abstracts.$black;

		label {
			display: flex;
			align-items: center;
		}

		input {
			margin-right: abstracts.$spacer-xs;
		}

		input[type="checkbox"]::after {
			width: 1.5rem;
			height: 1.5rem;
			top: -0.2rem;
			left: -0.1rem;
			position: relative;
			background-color: abstracts.$white;
			content: "";
			display: inline-block;
			visibility: visible;
			border: 0.2rem solid abstracts.$black;
		}

		input[type="checkbox"]:checked::after {
			width: 1.5rem;
			height: 1.5rem;
			top: -0.2rem;
			left: -0.1rem;
			position: relative;
			background-color: abstracts.$white;
			content: "";
			display: inline-block;
			visibility: visible;
			border: 0.5rem solid abstracts.$black;
		}
	}

	.c-modal__body {
		.o-form-group {
			.c-radio-group {
				display: flex;
				flex-direction: column;
				row-gap: abstracts.$spacer-sm;
				padding-top: abstracts.$spacer-xs;
				color: abstracts.$black;
			}

			.c-radio {
				label {
					display: flex;
					align-items: center;
				}

				input {
					margin-right: abstracts.$spacer-xs;
				}

				input[type="radio"]::after {
					width: 1.5rem;
					height: 1.5rem;
					border-radius: 0.75rem;
					top: -0.2rem;
					left: -0.1rem;
					position: relative;
					background-color: abstracts.$white;
					content: "";
					display: inline-block;
					visibility: visible;
					border: 0.2rem solid abstracts.$black;
				}

				input[type="radio"]:checked::after {
					width: 1.5rem;
					height: 1.5rem;
					border-radius: 0.75rem;
					top: -0.2rem;
					left: -0.1rem;
					position: relative;
					background-color: abstracts.$white;
					content: "";
					display: inline-block;
					visibility: visible;
					border: 0.5rem solid abstracts.$black;
				}
			}
		}

		.o-form-group-layout--standard {
			margin-top: abstracts.$spacer-xs;
		}

		.c-content-page-publish-modal__display-date {
			.o-form-group__label {
				display: block;
				padding-bottom: abstracts.$spacer-xs;
			}

			.u-spacer {
				margin: 0 !important; // override current important flag

				.c-input-with-icon {
					.o-svg-icon {
						right: 4rem;
					}
				}

				.c-tooltip-trigger {
					height: 2rem;
					top: calc(50% - 1rem);
					right: 1.2rem;

					.a-info-icon {
						display: block;
						width: 100%;
						height: 100%;
					}
				}

				.c-tooltip {
					background-color: abstracts.$white;
					border: 0.1rem solid abstracts.$zinc;

					&--right {
						margin-left: abstracts.$spacer-xs;
					}

					&__arrow {
						visibility: hidden;
					}
				}
			}
		}
	}
}

// dropdowns

.c-filter-table__toolbar {
	.c-dropdown__trigger,
	.c-checkbox-dropdown__trigger {
		.c-checkbox-dropdown-modal__trigger {
			padding: 0 abstracts.$spacer-md;
		}

		[class*="TagList-module_c-tag-list"] {
			margin: 0;
			padding: 0;
		}
	}

	.c-dropdown__menu {
		.o-form-group__label {
			font-size: abstracts.$font-size-sm;
			color: abstracts.$neutral;
		}

		.c-checkbox-group,
		.c-radio-group--inline {
			display: flex;
			flex-direction: column;
			row-gap: abstracts.$spacer-sm;
			padding-top: abstracts.$spacer-xs;
			color: abstracts.$black;
		}

		.c-checkbox,
		.c-radio {
			color: abstracts.$black;

			label {
				display: flex;
				align-items: center;
			}

			input {
				margin-right: abstracts.$spacer-xs;
			}

			input[type="radio"]::after,
			input[type="radio"]:checked::after,
			input[type="checkbox"]::after,
			input[type="checkbox"]:checked::after {
				width: 1.5rem;
				height: 1.5rem;
				top: -0.2rem;
				left: -0.1rem;
				position: relative;
				background-color: abstracts.$white;
				content: "";
				display: inline-block;
				visibility: visible;
			}

			input[type="radio"]::after {
				border-radius: 0.75rem;
				border: 0.2rem solid abstracts.$black;
			}

			input[type="radio"]:checked::after {
				border-radius: 0.75rem;
				border: 0.5rem solid abstracts.$black;
			}

			input[type="checkbox"]::after {
				border: 0.2rem solid abstracts.$black;
			}

			input[type="checkbox"]:checked::after {
				border: 0.5rem solid abstracts.$black;
			}
		}

		.o-grid {
			padding-top: abstracts.$spacer-xs;

			input {
				@include abstracts.reset-input-field;

				background-color: abstracts.$white;
				border: 1px solid abstracts.$zinc;
				font-size: abstracts.$font-size-base;
				outline: 1px solid transparent;
				padding: abstracts.$spacer-xs;
				height: 2.8rem;
				border-radius: 1.4rem;

				&:focus {
					border-color: abstracts.$teal;
				}
			}
		}

		.c-content-picker {
			.c-select__control {
				height: 3.6rem;
				border-radius: 1.8rem;
			}

			.c-select__menu {
				color: abstracts.$black;

				.c-select__option:hover {
					background-color: abstracts.$silver;
				}
			}
		}

		.o-form-group__controls .c-apply-filter-button {
			background-color: abstracts.$black;
			border-color: abstracts.$black;

			&:focus,
			.focus-visible:focus:not(:focus-visible) {
				outline: 2px solid abstracts.$teal;
			}

			&:disabled {
				background-color: abstracts.$silver;
				color: abstracts.$zinc;
				border-color: abstracts.$silver;
			}
		}
	}
}

// Select
.c-select__element {
	display: block;
	height: 5.6rem;
	border-radius: math.div(5.6rem, 2);
	background-color: #fff;
	box-shadow: inset 0 0 0.3rem #0000001a;
	border: 1px solid #bac7d1;
	font-size: inherit;
	min-height: 3.6rem;
	width: 100%;
	appearance: none;
	transition: all 0.15s ease-in-out;
	padding-left: 1.8rem;
}

// quote

.c-content-block-preview {
	.c-quote__text {
		font-size: abstracts.$font-size-1xl;
	}

	.c-quote__author {
		color: abstracts.$neutral;

		.c-avatar {
			width: auto;
			height: auto;

			.o-svg-icon {
				display: none;
			}
		}
	}
}

// other

.c-form-help-text {
	padding-top: abstracts.$spacer-xs;
}

.c-form-help-text--error {
	color: abstracts.$cherry;
}

.u-clickable {
	cursor: pointer;
}
