@use "src/styles/abstracts" as abstracts;

.p-admin-vertalingen {
	table {
		border-spacing: 0;
		border-collapse: collapse;
	}

	tbody {
		background-color: abstracts.$white;

		@media (min-width: abstracts.$breakpoint-lg) {
			box-shadow: abstracts.$shadow-24-black-08;
		}
	}

	.c-keyvalue-label.c-keyvalue-path {
		font-size: abstracts.$font-size-sm;
		color: abstracts.$neutral;
	}

	.c-input {
		resize: none !important;

		@include abstracts.reset-input-field;

		background-color: abstracts.$white;
		border: 1px solid abstracts.$silver;
		font-size: abstracts.$font-size-base;
		outline: 1px solid transparent;
		padding: 1.4rem 1.6rem;

		&:focus {
			border-color: abstracts.$teal;
		}
	}

	textarea[class*="c-input"] {
		border: none;
		font-size: abstracts.$font-size-sm;
	}

	.c-toolbar {
		padding-bottom: abstracts.$spacer-1xl;

		.c-toolbar__right {
			width: 100%;
			display: block;

			.c-input {
				height: 5.6rem;
				border-radius: abstracts.$input-border-radius;
			}

			.o-svg-icon {
				position: absolute;
				top: calc(50% - 1rem);
				right: 2rem;

				svg {
					width: 2.4rem;
					height: 2.4rem;
				}
			}
		}
	}
}
