@use "styles/abstracts" as *;

$metadata-expanded-width: 72vw;
$metadata-collapsed-width: 36vw;

.p-object-detail {
	flex-grow: 1;
	min-height: 0;
	display: flex;
	flex-flow: column;

	&__wrapper {
		flex-grow: 1;
		min-height: 0;
		display: grid;

		@include respond-at(md) {
			grid-template-columns: 1fr min-content;
		}
	}

	&__nav {
		flex-shrink: 0;

		&::after {
			content: "";
			position: absolute;
			z-index: get-z-layer("foreground");
			bottom: 0;
			left: 2rem;
			right: 2rem;
			height: 1px;
			background-color: $shade;
			opacity: 0.64;
		}
	}

	&__tabs {
		flex-shrink: 0;

		&-tab {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			background-color: $platinum;

			.c-tab {
				justify-content: center;
				height: 8rem;
				font-size: $font-size-md;

				&__icon {
					font-size: $font-size-lg;
				}

				&.c-tab--active {
					background-color: $white;
				}
			}
		}

		@include respond-at(md) {
			display: none;
		}
	}

	&__flowplayer {
		height: min-content;
    	align-self: center;

		&-fullscreen-button {
			z-index: get-z-layer("modal"); // Current highest
			position: absolute;
			bottom: $spacer-md;
			right: $spacer-md;

			&--exit {
				display: none;
				bottom: $spacer-lg;
				right: $spacer-lg;

				.c-button__icon {
					color: $black;
				}
			}
		}

		& .is-fullscreen &-fullscreen-button--exit{
			display: block;
		}

		& .is-hovered &-fullscreen-button--exit,
		& .is-paused &-fullscreen-button--exit{
			bottom: calc($spacer-lg + 5.8rem); // Add height of controls bar
		}
	}

	&__video {
		display: grid;
		position: relative;
	}

	&__metadata {
		overflow-y: scroll;
		box-shadow: $shadow-24-black-12;

		@include respond-at(md) {
			// Use width for toggle because grid-template-column animation is only supported on Firefox
			width: $metadata-collapsed-width;
			transition: width $animate-default;

			&--expanded {
				width: $metadata-expanded-width;
			}
		}
	}

	&__wrapper--metadata {
		.p-object-detail__video {
			display: none;
		}
	}

	&__wrapper--video {
		.p-object-detail__metadata {
			display: none;
		}
	}

	@include respond-at(md) {
		.p-object-detail__metadata {
			display: block;
		}

		.p-object-detail__video {
			display: grid;
		}
	}

	&__expand-button {
		visibility: hidden;
		z-index: get-z-layer("foreground");
		position: absolute;
		width: 3.2rem;
		height: 3.2rem;
		right: $metadata-collapsed-width;
		transform: translate(50%, 3.5rem);
		box-shadow: $shadow-12-black-16;
		transition: right $animate-default;

		&--expanded {
			right: $metadata-expanded-width;
		}

		@include respond-at(md) {
			visibility: visible;
		}
	}

	&__actions {
		display: grid;
		grid-auto-flow: row;
		column-gap: 1rem;
		grid-template-columns: minmax(auto, min-content) 1fr;
	}

	&__export {
		min-width: 0;

		.c-button__content {
			width: 100%;
		}
	}
}
