@use "../abstracts/" as *;

@function calc-filter-menu-width($_gutter, $_cols) {
	@return calc((100% - ($_gutter * ($_cols - 1))) / $_cols)
}

$reading-room-grid-gutter-lg: $spacer-md;
$reading-room-grid-cols-lg: 3;
$reading-room-grid-gutter-xl: $spacer-lg;
$reading-room-grid-cols-xl: 4;

.p-reading-room__contact-button {
	@include respond-to(md) {
		.c-button__icon {
			margin: 0;
		}

		.c-button__label {
			visibility: hidden;
			font-size: 0;
		}
	}
}


.p-reading-room__results {
	&--placeholder {
		.l-container {
			display: flex;

			@include respond-to("md") {
				flex-direction: column;
			}
		}
	}
}

.p-reading-room__placeholder {
	width: 100%;
}
