@use "../abstracts" as *;

.p-visitor-space {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

.p-visitor-space__results {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;

	&--placeholder {
		.l-container {
			display: flex;
			flex: 1 1 auto;

			@include respond-to("md") {
				flex-direction: column;
			}
		}

		.p-visitor-space__filter-menu {
			flex-shrink: 0;

			@include respond-at("md") {
				width: calc(100% / 3 - 2.2rem);
			}
			@include respond-at("lg") {
				width: calc(25% - 2.4rem);
			}
		}
	}
}

.p-visitor-space__placeholder {
	margin: $spacer-lg * 2 0 $spacer-lg * 4;

	@include respond-at("md") {
		margin: 64px 0 0;
		margin-left: $spacer-md;
	}
}
