@use "../abstracts" as *;
@use "sass:math";

$page: "p-visit-requested";
$page-breakpoint: "md";
$page-padding: $spacer-md + $spacer-lg;
$image-size: 16rem;
$image-size-md: 56.1rem;

.#{$page} {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	overflow: hidden;

	&__content {
		display: flex; // this also centers
		flex-grow: 1;
	}

	&__grid {
		display: grid;
	}

	&__bottom {
		position: relative;

		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0 - $page-padding;
			transform-origin: top;
			transform: scale(5);
			background: $platinum;
			z-index: -1;
		}
	}

	&__description {
		@include respond-at($page-breakpoint) {
			min-height: 23rem; // magic value; minimum height required for __image to reach its max-height;
		}
	}

	@include respond-to($page-breakpoint) {
		&__grid {
			grid-template-rows: minmax($page-padding, auto) min-content min-content min-content minmax(
					$page-padding,
					auto
				);
			grid-template-columns: 1fr;
		}

		&__top {
			grid-row: 2;
			margin-bottom: $spacer-1xl;
		}

		&__image {
			grid-row: 3;
			z-index: 1;

			> div {
				height: $image-size;
				margin-bottom: ($image-size / 2) * -1;
			}
		}

		&__bottom {
			padding-top: ($image-size / 2) + $spacer-1xl;
			grid-row: 4;

			// z-index: 0;
		}
	}

	@include respond-at($page-breakpoint) {
		&__grid {
			grid-template-rows: minmax($page-padding, auto) min-content auto minmax(
					$page-padding,
					auto
				);
			grid-template-columns: 38.4rem 1fr;
		}

		&__top,
		&__bottom {
			padding-left: $spacer-lg * 2;
			padding-right: $spacer-lg * 2;
		}

		&__image {
			grid-row: 2 / 4;
			grid-column: 1;

			> div {
				height: 100%;
				max-height: $image-size-md;
			}
		}

		&__top {
			grid-row: 2 / 3;
			grid-column: 2;
		}

		&__bottom {
			grid-row: 3 / 4;
			grid-column: 2;
		}
	}

	// Typography

	&__title {
		font-size: $font-size-1xl;
		line-height: $line-height-lg;
		text-align: center;

		@include respond-at($page-breakpoint) {
			font-size: $font-size-3xl;
			line-height: $line-height-lg;
			text-align: initial;
		}
	}

	&__instructions {
		font-size: $font-size-sm;
		line-height: $line-height-3xl;
		text-align: center;

		@include respond-at($page-breakpoint) {
			font-size: $font-size-base;
			line-height: $line-height-1xl;
			text-align: initial;
		}
	}

	&__info {
		font-size: $font-size-base;
		line-height: $line-height-3xl;

		@include respond-at($page-breakpoint) {
			font-size: $font-size-md;
			line-height: $line-height-md;
		}
	}
}
