@use "src/styles/abstracts" as abstracts;

.c-ai-entity-portrait {
	display: inline-flex;
	flex: none;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: 50%;
	background-color: abstracts.$zinc;
	font-weight: 800;
	line-height: 2rem;
	text-align: center;

	&--sm {
		width: 4rem;
		height: 4rem;
		font-size: abstracts.$font-size-sm;
	}

	&--lg {
		width: 6.4rem;
		height: 6.4rem;
		font-size: abstracts.$font-size-base;
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
