@use "../../../../styles/abstracts/" as *;

$component: "c-share-folder-blade";

.#{$component} {
	&__title {
		padding: 0 $spacer-lg;
		margin-bottom: $spacer-1xl;
		color: $black;
	}

	&__content {
		color: $black;
		padding: 0 $spacer-lg;
		min-width: 40rem;

		&-label {
			font-weight: bold;
			margin-bottom: $spacer-sm;

			&--margin-top {
				margin-top: $spacer-2xl;
			}
		}

		&-value {
			margin-left: 0;
			margin-bottom: $spacer-md;
		}
	}

	&__close-button-container {
		padding: $spacer-lg;
	}

	&__close-button {
		margin-bottom: $spacer-sm;
	}

	&__send-button {
		background-color: $white;
		color: $black;
		border: 0.1rem solid $black !important;
		font-weight: 600 !important;
		margin-bottom: $spacer-sm;

		&:hover {
			border: 0.1rem solid $black;
			background-color: $black;
			color: $white;
		}
	}
}
