@use "../../../../styles/abstracts/" as *;

$component: "c-share-folder-blade";

.#{$component} {
	&__alert {
		margin-bottom: $spacer-1xl;
		margin-right: 0.5rem;
		line-height: 2.5rem;
	}

	&__title {
		padding: 0 $spacer-lg;
		margin-bottom: $spacer-1xl;
		color: $black;
	}

	&__content {
		color: $black;
		padding: 0 $spacer-lg;
		min-width: 40rem;

		&-label {
			font-weight: bold;
			display: block;
			margin-bottom: $spacer-md;

			&--email {
				font-weight: bold;
				display: block;
				margin-bottom: $spacer-sm;
			}

			&--margin-top {
				margin-top: $spacer-1xl;
			}
		}

		&-value {
			margin-top: $spacer-sm;
			margin-left: 0;
			margin-bottom: $spacer-md;
		}

		&-copy-container {
			display: flex;
		}

		&-copy-input {
			width: 100%;
		}
	}

	&__close-button-container {
		padding: $spacer-lg;
	}

	&__close-button {
		margin-bottom: $spacer-sm;
	}

	&__send-button {
		background-color: $white;
		color: $black;
		border: 0.1rem solid $black !important;
		font-weight: $font-weight-bold !important;
		margin-bottom: $spacer-sm;

		&:hover {
			border: 0.1rem solid $black;
			background-color: $black;
			color: $white;
		}

		&:disabled {
			background-color: $zinc;
			color: $neutral;
			border: 0.1rem solid $zinc !important;
		}
	}
}
