@use "../../../../styles/abstracts" as *;

.c-share-folder-blade {
	&__alert {
		margin-bottom: $spacer-1xl;

		@media (max-width: $breakpoint-md) {
			margin-bottom: $spacer-md;
		}
	}

	&__content {
		&-copy-container {
			display: flex;
		}

		&-copy-input {
			width: 100%;
		}
	}
}
