@use "styles/abstracts" as *;

$c: "c-contact-icon-button";

.#{$c} {
    font-size: $font-size-lg;
    flex: 1 0 3.6rem;
    max-width: 3.6rem; // required to counter-act flex-grow

    .c-button__label {
        height: $font-size-lg;
    }
}