@use "styles/abstracts" as *;

$component: "c-media-card-list";

// Sidebar
$media-card-list-sidebar-gutter: $spacer-md;
$media-card-list-sidebar-gutter-md: $spacer-sm;

// Masonry
$media-card-list-masonry-gutter: $media-card-list-sidebar-gutter;
$media-card-list-masonry-gutter-md: $spacer-lg;

@mixin media-card-list-gutters($gutter) {
	.#{$component} {
		&__content {
			margin-left: 0 - $gutter; /* gutter size offset */
		}

		&__column {
			padding-left: $gutter; /* gutter size */

			& > div,
			article {
				margin-bottom: $gutter;
			}
		}
	}
}

.#{$component} {
	&__content {
		display: flex;
		width: 100%;
	}

	&__column {
		background-clip: padding-box;
	}

	// Modifiers

	&--sidebar {
		@include media-card-list-gutters($media-card-list-sidebar-gutter);

		.#{$component} {
			&__sidebar {
				flex-shrink: 0;
				margin-bottom: $media-card-list-sidebar-gutter;

				@include respond-at("md") {
					width: calc(100% / 3 - 2.2rem);
					margin-right: $media-card-list-masonry-gutter-md; /* Same spacing as for masonry */
				}
				@include respond-at("lg") {
					width: calc(25% - 2.4rem);
				}
			}
		}

		@include respond-at("md") {
			@include media-card-list-gutters($media-card-list-sidebar-gutter-md);

			display: flex;
		}
	}

	&--masonry {
		@include media-card-list-gutters($media-card-list-masonry-gutter);

		@include respond-at("md") {
			@include media-card-list-gutters($media-card-list-masonry-gutter-md);
		}
	}
}
