@use "styles/abstracts" as *;

$component: "l-cp-admin";
$l-cp-admin-sidebar-width: 25.4rem;

.#{$component} {
	display: flex;
	flex-flow: row nowrap;
	flex-grow: 1;
	height: 100%;

	&__navigation {
		width: $l-cp-admin-sidebar-width;
		border-right: $divider-grey;

		@include respond-to("lg") {
			display: none;
		}

		.#{$component} {
			&__sidebar {
				width: $l-cp-admin-sidebar-width; // force overlap with border
			}
		}
	}

	&__main {
		width: 100%;

		@include respond-at("xs") {
			flex-grow: 1;
		}
	}

	&__title {
		@include respond-to("md") {
			font-size: 2.8rem;
		}
	}
}
