@use "src/styles/abstracts" as *;

.c-file-input {
	&:focus-within {
		border-color: transparent;
		outline: 2px solid $teal;
	}

	input[type="file"] {
		// Only hide the element visually to keep keyboard a11y.
		// Safari still paints the native file button at zero width, so hide it with opacity too.
		width: 0;
		opacity: 0;
	}
}
