@use "styles/abstracts" as *;

.c-filter-sort {
	position: relative;
	width: 100%;
}

/**
 * Elements
 */

.c-filter-sort__button {
	position: relative;
	padding-right: $spacer-sm;
	font-weight: $font-weight-normal;
	background-color: $shade;

	&:active {
		border-color: black;
	}

	:global(.c-button__icon) {
		font-size: $font-size-lg;
	}

	&--active {
		z-index: get-z-layer("filter-option");
		background-color: $white;
		border-color: $white;
		color: $black;

		&:hover {
			background-color: $white;
			border-color: $white;
		}

		&:not(:active,:hover):focus {
			outline: none;
		}
	}
}

.c-filter-sort__flyout {
	&:global(.c-dropdown__content-open) {
		z-index: get-z-layer("filter-option-overlay");
	}
}
