@use "sass:map";
@use "sass:math";
@use "styles/abstracts" as *;

.c-blade {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: get-z-layer("blade");
	visibility: hidden;
	max-width: 46.4rem;
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	margin-left: 4rem;
	pointer-events: none;
	background-color: $white;
	transform: translateX(100%);
	transition: transform $animate-default, visibility $animate-default;

	&__close-button {
		justify-self: end;
		margin: 2rem;
		grid-row-start: 1;
	}

	&__title {
		padding: $spacer-lg;
		padding-top: 0;
		font-size: $font-size-sm * 2;

		@include respond-to(md) {
			text-align: center;
		}
		@include respond-at(md) {
			font-size: $font-size-3xl;
			padding-right: $spacer-md * 2;

			// Force line height to be an integer, avoids .5px misalignments in datepickers in blades
			line-height: $font-size-3xl * (math.div(56, 48));
		}

		&-wrapper {
			grid-row-start: 2;
		}
	}

	&__body-wrapper {
		grid-row-start: 3;
		overflow-y: auto;
	}

	&__footer-wrapper {
		grid-row-start: 4;
	}

	&__overlay {
		z-index: get-z-layer("blade");

		&--managed {
			max-width: calc(46.4rem + 5.6rem);
			left: auto;
			transform: translateX(5.6rem);
			transition: opacity $animate-default, transform $animate-default;
		}
	}

	&--visible {
		pointer-events: all;
		visibility: visible;
		transform: translateX(0);
	}

	&--managed {
		width: 100%;
	}
}
