@use "sass:color";
@use "src/styles/abstracts" as *;

.c-metadata {
	overflow: hidden;

	&--container-query {
		/* stylelint-disable-next-line scss/at-rule-no-unknown */
		/* stylelint-disable-next-line property-no-unknown */
		container-type: inline-size;
		/* stylelint-disable-next-line scss/at-rule-no-unknown */
		@container (min-width: 75rem) {
			.c-metadata__list {
				columns: 2;
			}
		}
	}

	&::before {
		content: "";
		display: block;
		height: 0.1rem;
		background-color: $black-20;
	}

	&__list {
		@extend %reset-list;

		margin-top: -0.2rem; // move top borders of first items in a column outside parent container to prevent double border
		column-gap: $spacer-lg;
	}

	&__item {
		display: inline-flex;
		flex-flow: column;
		width: 100%;
		padding: $spacer-md 0;
		border-top: $divider-black;
	}

	&__item-title {
		font-weight: $font-weight-bold;
		padding-bottom: $spacer-xxs;
		font-size: $font-size-md;
	}

	&__item-text {
		padding: 0;
		margin: 0;
		color: $neutral;
		overflow-wrap: break-word;
	}
}
