@use "src/styles/abstracts" as *;

$component: "c-object-placeholder";

.#{$component} {
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background-color: $silver;
	position: relative;

	&__page {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 13.6rem;
		height: 16.9rem;
		background-color: white;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			border-top: 3rem solid $silver;
			border-left: 3rem solid $zinc;
			width: 0;
		}
	}

	&__icon {
		font-size: $font-size-3xl;
		color: $teal;
	}

	&__img {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 6.4rem;

		@include respond-at(md) {
			height: 9.2rem;
		}
	}

	&__description {
		padding: $spacer-1xl $spacer-2xl $spacer-lg $spacer-2xl;
		text-align: center;
		line-height: $line-height-3xl;
	}

	&__modal-description {
		padding: 0 6.2rem;
		color: $neutral;
		font-size: $font-size-sm;
		text-align: center;
		line-height: $line-height-3xl;
	}

	&__modal-button-wrapper {
		display: flex;
		justify-content: center;
	}

	&__modal-button {
		margin-top: $spacer-1xl;
		margin-bottom: 5.6rem;
		min-width: 20rem;
	}

	&--small {
		height: 100%;
		width: $card-image-small-width;
		min-width: $card-image-small-width;
		min-height: $card-image-small-height;

		.#{$component}__page {
			position: absolute;
			transform: scale(0.334);
		}

		@include respond-at("md") {
			width: $card-image-small-width-md;
			min-width: $card-image-small-width-md;
		}

		@include respond-to("md") {
			.#{$component}__page {
				display: none;
			}
		}
	}
}
