@use "../../../../styles/abstracts" as *;

.c-material-request-information {
	display: flex;
	font-size: $font-size-sm;
	color: $zinc;
	padding: 0 $spacer-1xl $spacer-md $spacer-lg;


	:global([class*="c-icon"]) {
		margin-right: $spacer-xxs;
		font-size: $font-size-base;
	}
}
