@use "../../../../styles/abstracts" as *;

.c-material-request-information {
	display: flex;
	font-size: $font-size-sm;
	color: $zinc;
	align-items: center;

	:global([class*="c-icon"]) {
		margin-right: $spacer-xxs;
		font-size: $font-size-base;
	}
}
