@use "sass:math";
@use "sass:color";
@use "src/styles/abstracts" as *;

$terms-of-service-background-color: #ebfbf8;

.p-terms-of-service {
	flex-grow: 1;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 192px 1fr 192px 96px;
	height: calc(100vh - 10rem);
	background-color: $terms-of-service-background-color;

	&__background {
		background-image: url('data:image/svg+xml;utf8,<svg fill="rgb(255,255,255)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 554 419"><path d="M277 0v203a139 139 0 1 0 0 34v182h277V0Z"/></svg>');
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: 350%;
		grid-column: 1;
		grid-row: 1 / 3; // Ensure no overlap with 192px gradient

		@include respond-at("sm") {
			background-size: 150%;
		}

		@include respond-at("lg") {
			background-size: 125%;
		}
	}

	&__gradient {
		pointer-events: none; // allow pointer through
		background: linear-gradient(0deg, $terms-of-service-background-color 0%, color.adjust($color: $terms-of-service-background-color, $alpha: -1) 100%);
		grid-column: 1;
		grid-row: 3; // 192px after X
		z-index: get-z-layer("foreground");
		transition: opacity $timing-default linear;
		margin-right: 4rem;

		&--hidden {
			opacity: 0;
		}
	}

	&__text {
		grid-column: 1;
		grid-row: 1 / 4; // the first X + 192px
		overflow-y: scroll;

		grid-grow .l-container {
			display: flex;
			max-height: 100%;
			flex-direction: column;
		}
	}

	&__title {
		margin-top: $spacer-md * 2;
		font-size: $font-size-lg;
		line-height: $line-height-3xl;
		text-align: center;

		@include respond-at("md") {
			margin-top: $spacer-lg * 3;
			font-size: $font-size-3xl;
			line-height: $line-height-lg;
		}
	}

	&__content {
		margin-top: $spacer-1xl;
		min-height: 0;

		@include respond-at("md") {
			margin-top: $spacer-lg * 2;
		}

		:global(.c-content-page-preview > .c-content-block) {
			background-color: transparent !important;
			word-break: break-word;
		}
	}

	&__buttons-wrapper {
		grid-row: 4; // the last 96px
	}

	&__buttons {
		margin-top: $spacer-sm;
		display: flex;
		justify-content: center;
	}
}
