@use "src/styles/abstracts" as abstracts;

.c-tag-search-bar-button {
	display: inline-flex;

	&:not(:active):not(:hover):focus {
		outline: 2px solid abstracts.$teal;
		border-radius: 0.5rem;
	}

	@include abstracts.more-clickable-element;
}
