@use "../../../../styles/abstracts" as *;

.c-material-request-term-agreement-blade {
	color: $black;

	&__content-container {
		height: 100%;
		overflow: auto;
	}

	&__content-form {
		margin: $spacer-md $spacer-lg;
		gap: $spacer-xs;
	}

	&__footer-container {
		display: flex;
		padding: $spacer-md $spacer-lg;
		border-top: 0.1rem solid $silver;
		justify-content: space-between;
		background-color: $platinum;

		@media (max-width: $breakpoint-md) {
			flex-direction: column-reverse;
		}
	}
}
