@use "sass:map";
@use "sass:math";
@use "sass:color";
@use "styles/abstracts" as *;

$c: "c-reading-room-card";

.#{$c} {
	&__background {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: 1fr 2fr 1fr;
		box-shadow: $shadow-24-black-24;

		&--image {
			grid-column: 1 / 4;
			grid-row: 1 / 4;
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
		}

		&--short {
			min-height: 205px;

			// desktop-first to avoid reset properties
			@include respond-to("md") {
				min-height: 160px;
				min-width: 120px;
				margin-right: 2rem;
				height: 100%;
			}
		}

		&--tall {
			min-height: 212px;
			min-width: 120px;
			width: 120px;

			@include respond-at("md") {
				min-height: 276px;
				min-width: 176px;
				width: 176px;
			}
		}

		&--small {
			height: 100%;
			min-height: 72px;
			min-width: 20px;
			width: 20px;

			.#{$c} {
				&__logo {
					display: none;
				}
			}

			@include respond-at("md") {
				min-width: 96px;
				width: 96px;

				.#{$c} {
					&__logo {
						display: flex;
					}
				}
			}
		}
	}

	&__logo {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 100%;
		max-height: 100%;
		position: relative;
	}

	&__wrapper {
		&--flat {
			display: flex;
			flex-direction: column;

			@include respond-at("md") {
				flex-direction: row;
			}
		}
	}

	&__content {
		&--flat {
			flex-grow: 1;
			min-width: 0;
			position: relative;
			
			@include respond-at("md") {
				padding-right: $spacer-md;

				&::after {
					background-color: color.adjust($black, $alpha: -0.8);
					bottom: 0;
					content: "";
					display: block;
					position: absolute;
					right: 0;
					top: $spacer-sm;
					width: 1px;
				}
			}
		}
	}

	&__title {
		@include text-ellipsis(true);
		
		font-size: $font-size-md;
		line-height: math.div($font-size-md, 9) * 10; // 2rem

		&--large {
			font-size: $font-size-base;

			@include respond-at("md") {
				font-size: $font-size-1xl;
				line-height: 1;
			}
		}

		&--flat {
			color: $black;
			font-size: $font-size-base;
			margin-bottom: $spacer-xxs;
			margin-top: $spacer-sm;
		}
	}

	&__description {
		font-size: $font-size-xs;
		line-height: $font-size-base;

		@include respond-at("md") {
			font-size: $font-size-sm;
			line-height: math.div($font-size-md, 9) * 10; // 2rem;
		}
	}

	&__control-icon {
		font-size: $font-size-lg;
		margin-right: $spacer-xs;
	}
}
