@use "src/styles/abstracts" as *;

.c-loading--fullscreen {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc($view-height - #{$c-navigation-height-md});

	@media (min-width: $breakpoint-md) {
		height: calc($view-height - #{$c-navigation-height});
	}
}

.c-loading--centered-horizontally {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.c-loading--light {
	color: $white;
}
