@use "src/styles/abstracts" as *;

$component: "c-notification-center";

.#{$component} {
	margin-top: $c-navigation-height-md;

	@media (min-width: $breakpoint-md) {
		margin-top: $c-navigation-height;
	}

	&__empty {
		text-align: center;
		color: $neutral;
	}

	&__unread + &__read {
		margin-top: $spacer-md;
		padding-top: $spacer-md;
		border-top: 1px solid $silver;
	}

	&__header {
		margin-bottom: $spacer-md;
		font-size: $font-size-base;
		line-height: $line-height-1xl;
		text-align: left;
	}

	&__row {
		position: relative;
		align-items: center;
		display: grid;
		font-size: $font-size-xs;
		line-height: $line-height-2xl;
		grid-template-columns: auto $button-height-sm;

		&:not(:last-child) {
			padding-bottom: $spacer-md;

			&::after {
				content: "";
				display: block;
				height: 1px;
				width: 100%;
				background: $silver;
				bottom: 0;
				position: absolute;
			}
		}

		&:not(:nth-child(2)) {
			padding-top: $spacer-md;
		}

		&-title {
			margin-bottom: $spacer-xs;
			font-size: $font-size-sm;
			line-height: $line-height-4xl;
		}

		:global(.u-font-size-12 p) {
			font-size: $font-size-xs;
		}

		&-marker {
			display: inline-block;
		}
	}

	button.#{$component}__button {
		border-radius: 0;
		text-align: left;
		height: $spacer-md * 3;

		:global(.c-button__icon) {
			font-size: $spacer-md;
			margin-right: $spacer-xs;
		}
	}
}
