@use "src/styles/abstracts" as abstracts;

.c-cp-settings {
	&__site-settings {
		display: flex;
		gap: abstracts.$spacer-sm;

		&-input {
			flex-grow: 1;

			label {
				display: block;
				font-weight: abstracts.$font-weight-bold;
			}
		}

		&-slug-input {
			:global(.c-input__field:disabled) {
				background-color: #f2f2f2;
				border: 1px solid abstracts.$zinc;
				color: #999;
			}
		}

		&-controls {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: auto abstracts.$button-height;
			gap: abstracts.$spacer-sm;

			&--create {
				grid-template-rows: auto;
			}
		}
	}

	&__setting-block {
		padding-bottom: abstracts.$spacer-md * 2;
	}

	&__box {
		padding: abstracts.$spacer-sm;
		background-color: white;

		@media (min-width: abstracts.$breakpoint-md) {
			padding: abstracts.$spacer-lg;
		}
	}

	&__title {
		font-size: abstracts.$font-size-lg;
		padding-bottom: abstracts.$spacer-sm;
	}

	&__description {
		padding-bottom: abstracts.$spacer-lg;
		color: abstracts.$neutral;
		font-size: abstracts.$font-size-sm;
		line-height: abstracts.$line-height-3xl;
	}

	&__cancel-save {
		grid-column: 1 / 2;
		text-align: right;
	}

	&__bezoekersruimte {
		&-controls {
			display: grid;
			gap: 2rem abstracts.$spacer-lg;
			grid-template-rows: repeat(3, auto) abstracts.$button-height;
		}

		&-color-picker {
			.c-color-picker {
				max-width: 20.4rem;
			}
		}

		&-image-buttons {
			display: flex;
			flex-wrap: wrap;
			gap: abstracts.$spacer-sm;
		}
	}

	&__logo-and-color {
		&__label {
			font-weight: abstracts.$font-weight-bold;
			padding-bottom: abstracts.$spacer-sm;
		}

		&__hint {
			padding-left: abstracts.$spacer-sm;
			font-size: abstracts.$font-size-sm;
			font-weight: abstracts.$font-weight-normal;
			color: abstracts.$neutral;
		}

		&__controls {
			display: grid;
			gap: abstracts.$spacer-lg;
		}

		&__image {
			background-color: abstracts.$platinum;
			border: 0.2rem dashed abstracts.$neutral;

			&--no-border {
				border: none;
			}
		}

		&__color-control {
			padding-top: abstracts.$spacer-xs;

			:global(.c-color-picker) {
				max-width: 20.4rem;
			}
		}

		&__image-buttons {
			display: flex;
			flex-wrap: wrap;
			gap: abstracts.$spacer-sm;
		}

		@media (min-width: abstracts.$breakpoint-lg) {
			&__controls {
				grid-template-columns: 2fr 3fr;
			}

			&__image {
				grid-row: 1 / 3;
			}
		}
	}

	&__language-tab {
		color: black;
		background-color: abstracts.$silver;
		border: 1px solid abstracts.$zinc;
		border-bottom: none;
		padding: calc(#{abstracts.$spacer-xs} + 2px);
		border-radius: 0;
		font-weight: abstracts.$font-weight-normal;

		&:hover {
			background-color: abstracts.$teal-24;
			border: 1px solid abstracts.$zinc;
			border-bottom: none;
		}

		&:active {
			background-color: abstracts.$teal;
		}

		&--active {
			background-color: abstracts.$teal-30;
			font-weight: abstracts.$font-weight-bold;
		}
	}

	&__rich-text {
		margin-bottom: abstracts.$spacer-lg;

		&--no-heading {
			.c-rich-text-editor {
				.headings-dropdown {
					display: none; // Hide h1 option in headings dropdown
				}
			}
		}
	}

	@media (min-width: abstracts.$breakpoint-lg) {
		&__cancel-save {
			grid-column: 1 / 3;
		}

		&__logo-and-color-controls {
			grid-template-columns: 2fr 3fr;
			grid-template-rows: repeat(2, auto) abstracts.$button-height;
		}

		&__bezoekersruimte-image {
			grid-row: 1 / 3;
		}
	}

	&__actions {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
}
