@use "sass:color";
@use "sass:map";
@use "src/styles/abstracts" as *;

$c-navigation-border-height: 0.5rem;
$c-navigation-list-divider-color: #4e4e4e;
$c-navigation-divider-size: 0.1rem;
$c-navigation-item-spacing: $spacer-md;
$c-navigation-item-spacing-lg: $spacer-1xl;
$c-navigation-dropdown-item-spacer: 1.2rem;
$c-navigation-decoration: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgNTAwIDUwMCI+PHBhdGggZmlsbD0iIzAwMCIgZD0iTTAgMGg1MDB2NTAwSDB6Ii8+PGNpcmNsZSBjeD0iMjUwIiBjeT0iMjUwIiByPSIyNTAiIGZpbGw9IiMwMEM4QUEiLz48L3N2Zz4=");

@mixin navigation-link-border-decoration($_offset1: 0, $_offset2: 0) {
	$offset1-border: if($_offset1 == 0, 0, calc(#{$_offset1} + 0.1rem));

	&::before,
	&::after {
		content: "";
		position: absolute;
		bottom: -$c-navigation-border-height;
		display: block;
		background-image: url("data:image/svg+xml;base64,PHN2ZwogIHdpZHRoPSIzMDMiCiAgaGVpZ2h0PSIzMDMiCiAgdmlld0JveD0iMCAwIDMwMyAzMDMiCiAgZmlsbD0ibm9uZSIKICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCj4KICA8cmVjdCB3aWR0aD0iMzAzIiBoZWlnaHQ9IjMwMyIgZmlsbD0iIzAwMDAwMCIgLz4KICA8cGF0aAogICAgZD0iTTAgMTUxLjVDMCA2Ny44Mjg5IDY3LjgyODkgMCAxNTEuNSAwVjBDMjM1LjE3MSAwIDMwMyA2Ny44Mjg5IDMwMyAxNTEuNVYxNTEuNUMzMDMgMjM1LjE3MSAyMzUuMTcxIDMwMyAxNTEuNSAzMDNWMzAzQzY3LjgyODkgMzAzIDAgMjM1LjE3MSAwIDE1MS41VjE1MS41WiIKICAgIGZpbGw9IiMwMGM4YWEiCiAgLz4KPC9zdmc+Cg==");
		width: calc($c-navigation-border-height + 0.2rem);
		height: $c-navigation-border-height;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-color: $black;
	}

	&::before {
		left: $_offset1;
	}

	&::after {
		left: $_offset2;
	}
}

.c-navigation {
	position: relative;
	display: grid;
	align-items: center;
	grid-template-columns: auto 1fr 2fr;
	min-height: $c-navigation-height-md;
	padding: 0 2rem;
	margin-bottom: -0.1rem; // Note: prevent fine line artefact between navigation and header; better fix welcome
	background-color: $black;
	color: $white;

	@include respond-at(xxl) {
		min-height: $c-navigation-height;
		padding: 0 3.2rem;
	}

	&--bordered::after {
		content: "";
		position: absolute;
		z-index: get-z-layer("foreground");
		bottom: 0.1rem;
		left: 2rem;
		right: 2rem;
		height: 1px;
		background-color: $shade;
		opacity: 0.64;

		@include respond-at(xxl) {
			left: 3.2rem;
			right: 3.2rem;
		}
	}
}

/**
 * Elements
 */

.c-navigation__section {
	display: flex;
	justify-self: center;

	:global(.c-badge) {
		margin-left: $spacer-sm;
		margin-right: $spacer-xxs;
	}

	:global(.c-dropdown-menu__item) {
		display: flex;
		align-items: center;
		text-decoration: none;
		font-weight: 400;
		color: $black;
	}

	.c-navigation__dropdown {
		.c-navigation__link {
			padding: 1.2rem 0 0.65rem;
		}

		@include respond-at(xxl) {
			z-index: get-z-layer("nav-dropdown"); // above overlay
		}

		&--open {
			@include respond-to(xxl) {
				z-index: get-z-layer("nav-dropdown"); // under overlay
			}
		}
	}

	.c-navigation__hamburger {
		:global(button) {
			display: flex;
		}

		@include respond-at(xxl) {
			z-index: get-z-layer("nav-hamburger"); // above all
		}

		&--open {
			@include respond-to(xxl) {
				z-index: get-z-layer("nav-dropdown"); // under overlay
			}
		}
	}

	.c-navigation__dropdown-flyout {
		// Overwrite element styles
		inset: $c-navigation-height-md 0 0 0 !important;
		top: $c-navigation-height-md !important;
		right: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		transform: translate(0) !important;
		color: $black;
	}

	.c-navigation__dropdown-icon {
		font-size: $font-size-lg;

		&--start {
			margin-right: $spacer-xxs;
		}

		&--end {
			margin-left: auto;
		}
	}

	.c-navigation__dropdown-overlay {
		z-index: get-z-layer("nav-dropdown"); // above foreground layers
		height: 100vh;
	}

	.c-navigation__hamburger-overlay {
		z-index: get-z-layer("nav-dropdown"); // above all
	}

	.c-navigation__dropdown-submenu {
		margin-left: $spacer-md;
		border-left: solid 0.2rem $silver;

		:global(.c-dropdown-menu__item) {
			padding-left: $spacer-md;
			margin: -0.1rem; // Prevent 1px gap between left border and silver background on hover
		}
	}

	.c-navigation__dropdown-item--divider {
		position: relative;
		margin-bottom: $c-navigation-divider-size + ($c-navigation-dropdown-item-spacer * 2);

		&::before {
			content: "";
			position: absolute;
			bottom: -$c-navigation-dropdown-item-spacer;
			left: $spacer-md;
			right: $spacer-md;
			height: $c-navigation-divider-size;
			background-color: $silver;

			@include respond-at(xxl) {
				left: 0;
				right: 0;
			}
		}

		&\:md {
			@include respond-to(xxl) {
				margin-bottom: 0;

				&::before {
					content: none;
				}
			}
		}
	}

	.c-navigation__list-overlay {
		width: 100vw;
		position: absolute;
		padding-top: $c-navigation-height-md;

		@include respond-at(xxl) {
			padding-top: $c-navigation-height;
		}
	}

	&:first-child {
		grid-column: 1/2;
		justify-self: start;
	}

	&--right {
		grid-column: 3/4;
		justify-self: end;

		// Ward: first child element is MaterialRequestCenterButton, which has a blade
		// the other navigation items pop up through the blade if the following z-index is removed
		ul {
			li:first-child {
				z-index: 5;
			}
		}
	}

	&--responsive-desktop {
		display: flex;
	}

	&--responsive-mobile {
		display: none;
	}
}

.c-navigation__list {
	@extend %reset-list;

	display: grid;
	grid-auto-flow: column;
	grid-gap: $c-navigation-item-spacing;

	.c-navigation__list-flyout {
		color: $black;

		// Overwrite popper element styles
		@include respond-to(xxl) {
			inset: $c-navigation-height-md 0 0 0 !important;
			top: $c-navigation-height-md !important;
			right: 0 !important;
			bottom: 0 !important;
			left: 0 !important;
			transform: translate(0) !important;
		}
		@include respond-at(xxl) {
			min-width: 26.6rem !important;
		}
	}
}

.c-navigation__link {
	display: block;
	padding: 1.2rem 0 1.2rem $spacer-md;
	text-decoration: none;
	border-bottom: $c-navigation-border-height solid transparent;

	@include respond-to(xxl) {
		border-bottom: none;
		font-size: $font-size-sm;
	}
	@include respond-at(xxl) {
		display: inline-block;
		padding: 1.2rem 0 0.95rem;
	}

	&--dropdown:hover {
		@include respond-to(xxl) {
			background-color: $silver;
		}
	}

	&--wrapper {
		display: flex;
		align-items: center;
		font-size: $font-size-md;
		line-height: 2rem;

		&:focus-visible {
			outline: 0.1rem solid $teal;
			outline-offset: 0.2rem;
		}
	}

	&--icon {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		span {
			font-size: $font-size-md;
			color: $teal;
		}

		&-start span {
			margin-right: $spacer-xxs;
		}

		&-end span {
			margin-left: $spacer-xxs;
		}
	}
}

.c-navigation__item {
	z-index: get-z-layer("nav-dropdown") + 1;
	display: inline-flex;
	align-items: center;
	transition: border-color $animate-md-out, color $animate-md-out;

	@include respond-at(xxl) {
		margin-bottom: $c-navigation-divider-size;
		position: relative;
		height: $c-navigation-height - $c-navigation-divider-size;
	}

	.c-navigation__link {
		font-size: $font-size-md;
	}

	&:not(&--active):hover {
		.c-navigation__link,
		.c-navigation__link + span {
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: color.adjust($white, $alpha: -0.3);
			transition: color $animate-md-in;

			:global(.c-badge) {
				-webkit-text-stroke-width: 0;
			}
		}
	}

	&--divider {
		margin-left: $c-navigation-item-spacing;

		@include respond-at(xxl) {
			margin-right: 0;
		}

		&:not(:last-child) {
			margin-right: 0;

			@include respond-at(xxl) {
				margin-right: 0;
			}
		}

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: -$c-navigation-item-spacing / 2;
			width: 0.1rem;
			height: 4.4rem;
			background-color: $c-navigation-list-divider-color;
			transform: translateY(-50%);
		}
	}

	&--active {
		z-index: get-z-layer("nav-dropdown");
		font-weight: 800;

		@include respond-to(xxl) {
			> :global(.c-dropdown-menu__item) {
				font-weight: 700;
			}
		}

		.c-navigation__link {
			position: relative;
			border-bottom-color: $teal;
			transition: border-color $animate-md-in;
		}

		&.c-navigation__link--variant-1,
		&.c-navigation__link--variant-5,
		&.c-navigation__link--variant-10 {
			.c-navigation__link {
				@include navigation-link-border-decoration(2%, 34%);
			}
		}

		&.c-navigation__link--variant-2,
		&.c-navigation__link--variant-7,
		&.c-navigation__link--variant-12 {
			.c-navigation__link {
				@include navigation-link-border-decoration(0, 28%);
			}
		}

		&.c-navigation__link--variant-3,
		&.c-navigation__link--variant-8,
		&.c-navigation__link--variant-13 {
			.c-navigation__link {
				@include navigation-link-border-decoration(17%, 43%);
			}
		}

		&.c-navigation__link--variant-4,
		&.c-navigation__link--variant-9,
		&.c-navigation__link--variant-14 {
			.c-navigation__link {
				@include navigation-link-border-decoration(23%, 89%);
			}
		}

		&.c-navigation__link--variant-5,
		&.c-navigation__link--variant-10,
		&.c-navigation__link--variant-15 {
			.c-navigation__link {
				@include navigation-link-border-decoration(48%, 76%);
			}
		}
	}
}

.c-navigation__title {
	font-size: $font-size-lg;
}

/**
 * Modifiers
 */

.c-navigation--sm {
	grid-template-columns: 1fr 2fr 1fr;
	min-height: $c-navigation-height-contextual;
	padding: 0 2.8rem;

	&::after {
		content: none;
	}

	@include respond-to(xxl) {
		min-height: $c-navigation-height-contextual-md;
	}

	.c-navigation__title {
		@include respond-to(xxl) {
			font-size: $font-size-base;
		}
	}

	/* stylelint-disable-next-line no-descending-specificity */
	.c-navigation__link {
		height: $c-navigation-height-contextual - $c-navigation-divider-size;
	}
}

.c-navigation--responsive {
	@include respond-to(xxl) {
		grid-template-columns: auto;
	}

	.c-navigation__section {
		:global(.c-badge) {
			@include respond-to(xxl) {
				margin-left: $spacer-xs;
			}
		}

		&--responsive-desktop {
			@include respond-to(xxl) {
				display: none;
			}
		}

		&--responsive-mobile {
			@include respond-to(xxl) {
				display: flex;
				justify-self: center;
			}
		}
	}

	&-logged-out {
		grid-template-rows: 1fr repeat(2, 3.25rem) 1fr;
		grid-template-columns: repeat(auto, 1fr);
		column-gap: $spacer-lg;

		.c-navigation__section--left {
			grid-row: 2;
			place-content: start end;
			width: 100%;
		}

		.c-navigation__section--right {
			grid-row: 3;
			grid-column: 2;
			place-self: end;
		}
	}
}
