@use "styles/abstracts" as *;

.c-dropdown-list-item {
	display: flex;
	align-items: center;
	padding: calc($spacer-md / 2) $spacer-md;
	background-color: $white;
	font-size: $font-size-sm;
	cursor: pointer;
}
