@use "styles/abstracts" as *;

.c-dynamic-action-menu {
	@extend %reset-list;

	width: 100%;
	min-width: 0; // prevent overflow in flex container
	display: flex;

	&__item:not(:last-of-type) {
		padding-right: $spacer-xs;
	}

	&__dropdown-button {
		margin-left: $spacer-xs;
	}

	&__flyout {
		box-shadow: $shadow-24-black-12;
	}
}
