@use "../../../../styles/abstracts" as *;

.c-request-material {
	&__material {
		color: $black;

		&:focus,
		&:focus-within {
			outline: 0.2rem solid $teal;
			outline-offset: -0.2rem;
		}
}

	&__content {
		color: $black;

		dl {
			margin-top: 0;
			margin-bottom: 0;
		}

		&-label {
			font-weight: $font-weight-bold;
			margin-bottom: $spacer-sm;
		}

		&-value {
			margin-left: 0;

			&:not(:last-child) {
				margin-bottom: $spacer-md;
			}
		}
	}

	&__radio-buttons-container {
		display: flex;
		flex-direction: column;
	}

	&__radio-button {
		margin-bottom: $spacer-sm;
	}

	&__reason-input {
		textarea {
			min-height: 14rem !important;
			resize: none;
		}
	}

	:global(.c-Alert) {
		background-color: $light-blue;
	}

	&__alert {
		p {
			padding-bottom: $spacer-xs;
		}
	}

	&__alert + &__alert {
		margin-top: $spacer-md;
	}
}
