@use "sass:color";
@use "styles/abstracts" as *;

.c-metadata {
	overflow: hidden;

	&::before {
		content: "";
		display: block;
		height: 0.1rem;
		background-color: $black-20;
	}

	&__list {
		@extend %reset-list;

		margin-top: -0.2rem; // move top borders of first items in a column outside parent container to prevent double border
		column-gap: $spacer-lg;
	}

	&__item {
		display: inline-flex;
		flex-flow: column;
		width: 100%;
		padding: $spacer-md 0;
		border-top: $divider-black;
	}

	&__item-title {
		padding-bottom: $spacer-xxs;
		font-size: $font-size-md;
	}

	&__item-text {
		color: $neutral;
		overflow-wrap: break-word;
	}
}
