@use "sass:math";
@use "src/styles/abstracts" as *;

$top-navigation-bar-height: 10rem;
$top-visitor-space-bar-height: 4.8rem;
$component: "c-related-objects-blade";
$expand-button-height-desktop: 8.8rem;
$expand-button-height-mobile: 6.5rem;
$max-drawer-height-available: calc(100vh - #{$top-navigation-bar-height} - #{$top-visitor-space-bar-height});
$max-drawer-height-desired: 50rem;
$max-drawer-height: min($max-drawer-height-desired, $max-drawer-height-available);

.#{$component} {
	max-height: $expand-button-height-mobile;
	max-width: 100vw;
	background-color: $black;
	transition: max-height $animate-default;
	height: max-content;

	@include respond-at("md") {
		max-height: $expand-button-height-desktop;
	}

	&__toggle {
		cursor: pointer;
		display: flex;
		align-items: center;
		width: 100%;
		padding: 2rem;
		border: none;
		color: $white;
		border-bottom: $divider-white;
		background-color: transparent;
		font-size: $font-size-md;
		border-radius: 0;

		&:focus-visible {
			outline: 0.2rem solid $teal;
			outline-offset: -0.2rem;
		}

		:global(.c-button__content) {
			width: 100%;
			justify-content: start;
		}

		:global(.c-button__icon--end) {
			margin-left: auto;
		}

		:global(.c-button__icon--start) {
			margin-right: 1rem;
		}

		@include respond-at("md") {
			padding: $spacer-lg;
		}
	}

	&__icon {
		font-size: $font-size-lg;
	}

	&__list {
		@extend %reset-list;

		display: flex;
		flex-flow: column;
		row-gap: $spacer-sm;
		padding: $spacer-lg;
	}

	&--open {
		max-height: $max-drawer-height;
	}

	&__scrollable {
		overflow-x: hidden;
		overflow-y: auto;
		height: max-content;
		max-height: calc($max-drawer-height - $expand-button-height-mobile);

		@include respond-at("md") {
			max-height: calc($max-drawer-height - $expand-button-height-desktop);
		}
	}
}
