@use "../../../../styles/abstracts" as *;

.p-folder-editor {
	&__title {
		font-size: $font-size-4xl;
	}

	&__content {
		padding: $spacer-lg;
		color: $black;
		display: flex;
		flex-direction: column;
		gap: $spacer-lg;
	}
}
