@use "src/styles/abstracts" as *;

$page: "p-material-requests";

// TODO: make styles reusable (see visitors)

.#{$page} {
	&__header {
		@media (min-width: $breakpoint-md) {
			display: flex;
			justify-content: space-between;
		}
	}

	&__searchbar,
	&__dropdown {
		width: 100%;
		margin: $spacer-xs 0;

		@media (min-width: $breakpoint-md) {
			max-width: 28rem;
		}

		&--open {
			box-shadow: $shadow-24-black-08;
		}
	}

	&__table {
		tr {
			cursor: pointer;
		}

		tr td {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}

		.c-table__cell {
			text-align: left;
		}

		&-titel-material{
			display: flex;
			flex-direction: column;

			&-name{
				color: $black;
				font-size: $font-size-base;
				line-height: $font-size-md;
			}

			&-provider{
				color: $neutral;
				font-size: $font-size-sm;
				line-height: $font-size-base;
			}
		}
	}
}
