@use "styles/abstracts" as *;

$page: "p-cp-requests";

.#{$page} {
    &__header {
        display: flex;
        flex-flow: row nowrap;

        // Can't use &__status-filter here due to ScrollableTabs implementation
        & > div:first-child {
            flex-grow: 1;
        }
    }

    &__search {
        flex-basis: 34.1rem;
        margin-left: $spacer-sm;
    }

    &__actions {
        cursor: pointer;
        font-size: $font-size-lg;
        transform: translateY(0.2rem); // shift if to center on single-line
    }

    &__link {
        text-decoration: none;
        transition: color $animate-default;
    
        &:hover,
        &:active,
        &:focus,
        &:focus-within {
            color: $teal !important;
        }
    }
}