@use "src/styles/abstracts" as abstracts;

.p-cp-visitors {
	&__header {
		@media (min-width: abstracts.$breakpoint-md) {
			display: flex;
			flex-flow: row-reverse nowrap;

			// Can't use &__status-filter here due to ScrollableTabs implementation
			& > div:last-child {
				flex-grow: 1;
			}
		}
	}

	&__search {
		margin-bottom: abstracts.$spacer-md;

		@media (min-width: abstracts.$breakpoint-md) {
			flex-basis: 34.1rem;
			margin-bottom: 0;
			margin-left: abstracts.$spacer-sm;
		}
	}

	&__actions {
		cursor: pointer;
		font-size: abstracts.$font-size-lg;
		transform: translateY(0.2rem); // shift if to center on single-line
	}

	&__access {
		display: flex;
		align-items: center;
	}

	&__link {
		text-decoration: none;
		transition: color abstracts.$animate-default;

		&:hover,
		&:active,
		&:focus,
		&:focus-within {
			color: abstracts.$teal !important;
		}
	}

	tr {
		td,
		th {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}
	}
}
