@use "src/styles/abstracts" as *;

.l-app {
	> :global(.c-navigation) {
		width: 100%;
	}
}

.c-navigation__section--right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.c-navigation--logged-in {
	:global(.c-navigation__hamburger__language-switcher) {
		@media (max-width: $breakpoint-xxl) {
			display: none;
		}
	}
}

.c-navigation--logged-out {
	:global(.c-navigation__section-right__language-switcher) {
		@media (max-width: $breakpoint-xxl) {
			display: none;
		}
	}
}
