@use "src/styles/abstracts" as *;

.l-app {
	> :global(.c-navigation) {
		width: 100%;
	}
}

.c-navigation__section--right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.c-navigation_section--right__language-switcher__desktop {
	@include respond-to(xxl) {
		display: none;
	}
}
