@use "../../../../styles/abstracts" as *;

.c-personal-info {
	display: flex;
	flex-direction: column;

	&__header {
		padding: $spacer-lg $spacer-lg $spacer-md;
	}

	&__footer {
		padding: $spacer-lg;

		&-error {
			padding-bottom: $spacer-sm;
		}
	}

	&__title {
		font-size: $font-size-1xl;
		line-height: $font-size-2xl;
		font-weight: $font-weight-bold;
	}

	&__edit-user-data {
		color: $neutral;
		margin: $spacer-xs 0;
		font-size: $font-size-sm;
	}

	&__content {
		overflow: auto;
		flex-grow: 1;
		padding: $spacer-md $spacer-lg $spacer-lg;

		&-group {
			padding: $spacer-md 0;
			display: flex;
			flex-direction: column;
			gap: $spacer-xxs;
			border-bottom: 1px solid $silver;

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
			}

			&-title {
				font-size: $font-size-2xm;
				line-height: $font-size-md;
				font-weight: $font-weight-bold;
				padding-bottom: $spacer-xs;
			}

			&-subtitle, &-semi-title, &-value {
				font-size: $font-size-base;
				line-height: $font-size-2xm;
			}

			&-semi-title {
				font-weight: $font-weight-bold;
			}

			&-value {
				color: $grey;

				&-length {
					margin-left: auto;
				}
			}

			&-radio-button-group {
				display: flex;
				flex-direction: column;
				margin-top: $spacer-xs;
			}

			&-radio-button {
				margin-left: $spacer-xs;

				&:not(:last-child) {
					margin-bottom: $spacer-sm;
				}
			}
		}
	}

	&__checkbox {
		&:not(:last-child) {
			margin-bottom: $spacer-sm;
		}
	}
}
