@use "../../../../styles/abstracts" as *;

.c-personal-info {
	display: flex;
	flex-direction: column;

	&__edit-user-data {
		color: $neutral;
		font-size: $font-size-sm;
	}

	&__content {
		overflow: auto;
		flex-grow: 1;
		padding: $spacer-md $spacer-lg $spacer-lg;

		&-group {
			padding: $spacer-md 0;
			display: flex;
			flex-direction: column;
			gap: $spacer-xxs;
			border-bottom: 1px solid $silver;

			@include blade-text-styling;

			p {
				margin-bottom: 0
			}

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
			}

			&-subtitle, &-value {
				color: $black;
				font-size: $font-size-base;
				line-height: $font-size-2xm;
			}

			&-value {
				color: $grey;
			}

			:global(.c-tooltip-component-trigger){
				margin-top: $spacer-sm;
				display: flex !important;
			}

			:global(.c-input) {
				flex-grow: 1;
			}

			&-radio-button-group {
				display: flex;
				flex-direction: column;
				margin-top: $spacer-xs;
			}

			&-radio-button {
				margin-left: $spacer-xs;

				&:not(:last-child) {
					margin-bottom: $spacer-sm;
				}
			}
		}
	}

	&__checkbox {
		&:not(:last-child) {
			margin-bottom: $spacer-sm;
		}

		&-hyperlink {
			text-decoration: underline;
		}
	}
}
