@use "src/styles/abstracts" as *;

.l-app {
	.l-app__main {
		min-height: calc(100vh - 10rem - 26rem);
	}

	&--sticky {
		height: 100vh; // fallback for browsers that do not support custom css properties
		height: calc((var(--vh, 1vh) * 100)); // '100vh' for mobile excludes browser ui. Custom --vh prop is set in use-window-size.ts
		min-height: 72rem;
		min-height: calc((var(--vh, 1vh) * 100));
		overflow: hidden;
	}

	/**
	* Elements
	*/

	&__main {
		position: relative;
	}

	&__alerts-overlay {
		z-index: get-z-layer("alerts");
		position: absolute;
		top: $spacer-lg;
		align-self: center;
		display: grid;
		row-gap: $spacer-sm;
	}
}
