$class: "l-app";

.#{$class} {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	&--sticky {
		height: 100vh;
		overflow: hidden;

		.#{$class}__main {
			min-height: 0;
		}
	}

	/**
	* Elements
	*/

	&__main {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}
}
