@use "../abstracts" as *;

$l-container-padding: $spacer-sm;
$l-container-padding-xs: 2rem;

.l-container {
	max-width: 121.6rem + ($l-container-padding * 2);
	width: 100%;
	padding: 0 $l-container-padding;
	margin: 0 auto;

	@include respond-at(xs) {
		max-width: 121.6rem + ($l-container-padding * 2);
		padding: 0 $l-container-padding-xs;
	}

	&--edgeless {
        &-to-lg {
            @include respond-to("lg") {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}