@use "sass:color";
@use "styles/abstracts" as *;

.c-filter-form {
	display: flex;
	flex-direction: column;
}

/**
 * Elements
 */

.c-filter-form__body {
	overflow: auto;
	padding: $spacer-md 2rem;

	@include respond-to(md) {
		flex-grow: 1;
	}
	@include respond-at(md) {
		padding: 0 $spacer-lg 4.8rem;
	}
}

.c-filter-form__title {
	@include respond-to(md) {
		font-size: 2.8rem;
		text-align: center;
	}
}

.c-filter-form__footer {
	display: flex;
	padding: $spacer-md 2rem;
	border-top: 1px solid color.adjust($black, $alpha: -0.8);

	@include respond-at(md) {
		padding: $spacer-md $spacer-lg;
	}
}

.c-filter-form__submit {
	flex-grow: 1;
}
