@use "../../../../styles/abstracts" as *;

.c-material-request-center-blade {
	margin-top: $c-navigation-height-md;

	@media (min-width: $breakpoint-md) {
		margin-top: $c-navigation-height;
	}

	&__table {
		cursor: pointer;
	}

	&__loading {
		display: flex;
		justify-content: center;
		color: $black;
	}

	&__title-container {
		color: $black;
	}

	&__more-info {
		padding: 0 $spacer-1xl 0 $spacer-lg;

		@media (max-width: $breakpoint-md) {
			padding-top: $spacer-md;
		}
	}

	&__material-container {
		display: flex;
		border: 0.1rem solid $silver;
		margin: $spacer-md $spacer-lg;

		& + & {
			margin-top: 0;
		}
	}

	&__material {
		flex-grow: 1;

		&:focus,
		&:focus-within {
			outline: 0.2rem solid $teal;
			outline-offset: -0.2rem;
		}

		&-label {
			color: $black;
			font-weight: $font-weight-bold;
			margin-bottom: $spacer-xxs;
			word-break: break-word;

			&-icon {
				color: $blue;
				margin-right: $spacer-xs;
				font-size: 2.4rem;
			}

			:global(.c-card__children-wrapper) {
				@include text-ellipsis;

				color: $black;
				font-weight: $font-weight-normal;
				margin-bottom: 0 !important;
				padding-top: $spacer-xs;
			}
		}

		&-actions {
			display: flex;
			flex-direction: row;
			padding: $spacer-md ;
			padding-top: 5rem;

			&-button {
				margin-right: $spacer-xs;
			}
		}
	}

	&__content {
		padding: $spacer-lg;

		dl {
			margin-top: 0;
		}

		&-value {
			margin-left: 0;
			margin-bottom: $spacer-md;
		}
	}

	&__close-button-container {
		padding: $spacer-lg;
	}

	&__send-button {
		div {
			font-weight: $font-weight-bold;
		}

		margin-bottom: $spacer-sm;
	}

	&__no-content {
		display: flex;
		justify-content: center;
		color: $black;
		padding: $spacer-lg;
	}
}
