@use "../../../../styles/abstracts" as *;

.c-material-request-center-blade {
	margin-top: $c-navigation-height-md;

	@media (min-width: $breakpoint-md) {
		margin-top: $c-navigation-height;
	}

	&__loading {
		display: flex;
		justify-content: center;
		color: $black;
	}

	&__more-info {
		@media (max-width: $breakpoint-md) {
			display: none;
		}
	}

	&__material-container {
		display: flex;
		border: 0.1rem solid $silver;

		& + & {
			margin-top: $spacer-md;

			@media (max-width: $breakpoint-md) {
				margin-top: $spacer-sm;
			}
		}
	}

	&__material {
		flex-grow: 1;

		&:focus,
		&:focus-within {
			outline: 0.2rem solid $teal;
			outline-offset: -0.2rem;
		}

		&-label {
			color: $black;
			font-weight: $font-weight-bold;
			margin-bottom: $spacer-xxs;
			word-break: break-word;

			:global(.c-card__children-wrapper) {
				@include text-ellipsis;

				color: $black;
				font-weight: $font-weight-normal;
				margin-bottom: 0 !important;
				padding-top: $spacer-xs;
			}
		}

		&-actions {
			display: flex;
			flex-direction: row;
			padding: $spacer-md ;
			padding-top: 5rem;

			&-button {
				margin-right: $spacer-xs;
			}
		}
	}

	&__no-content {
		display: flex;
		justify-content: center;
		color: $black;
	}
}
