@use "sass:map";
@use "src/styles/abstracts" as *;

$component: "l-sidebar";
$l-sidebar-width: 25.4rem;
$l-sub-sidebar-width: 27.5rem;
$l-sidebar-collapse-to: "md";

.#{$component} {
	display: flex;
	flex-flow: row nowrap;
	flex-grow: 1;
	height: 100%;

	&__navigation {
		display: none;
		width: $l-sidebar-width;
		border-right: $divider-grey;

		@include respond-at("md") {
			display: initial;
		}
	}

	&__sidebar {
		width: $l-sidebar-width; // force overlap with border

		&--bottom {
			display: grid;
			place-items: end center;
			padding-bottom: $spacer-lg;
		}
	}

	&__main {
		width: 100%;

		@include respond-at("xs") {
			flex-grow: 1;
		}

		// sidebar layout in another sidebar layout
		.#{$component} {
			&__navigation,
			&__sidebar {
				width: $l-sub-sidebar-width;
			}

			&__navigation {
				display: initial;
			}

			@include respond-at("md") {
				:global(.l-container) {
					padding: 0 $spacer-lg * 2;
				}
			}
		}
	}

	&__content-header {
		cursor: pointer;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;

		// Icon
		& > span {
			font-size: $font-size-md;
			margin-right: $spacer-xxs;
		}
	}

	&--collapse-to-#{map.get($breakpoints, $l-sidebar-collapse-to)} {
		@include respond-to($l-sidebar-collapse-to) {
			position: relative;

			.#{$component} {
				&__navigation,
				&__sidebar {
					height: 100%;
					width: 100%;
				}

				&__navigation,
				&__main {
					transition: transform $animate-default, visibility $animate-default;
				}

				&__navigation {
					z-index: get-z-layer("foreground");
					position: absolute;
					border-right: none;
				}
			}

			&.#{$component}--open {
				.#{$component} {
					&__main {
						transform: translateX(100%);
					}
				}
			}

			&:not(.#{$component}--open) {
				.#{$component} {
					&__navigation {
						visibility: hidden;
						transform: translateX(-100%);
					}
				}
			}
		}

		@include respond-at($l-sidebar-collapse-to) {
			.#{$component} {
				&__content-header {
					display: none;
				}
			}
		}
	}
}
