@use "sass:map";
@use "src/styles/abstracts" as *;

$l-sidebar-width: 25.4rem;
$l-sub-sidebar-width: 27.5rem;

.l-sidebar {
	display: flex;
	flex-flow: row nowrap;
	flex-grow: 1;
	height: 100%;
	min-height: calc($view-height - $top-navigation-bar-height);

	&__navigation {
		display: none;
		width: $l-sidebar-width;
		border-right: $divider-grey;

		@media (min-width: $breakpoint-md) {
			display: initial;
		}
	}

	&__sidebar {
		width: $l-sidebar-width; // force overlap with border

		&--bottom {
			display: grid;
			place-items: end center;
			padding-bottom: $spacer-lg;
			justify-items: stretch;
		}
	}

	&__main {
		width: 70%;
		padding-bottom: $c-feedback-button-height;
		flex-grow: 1;

		// sidebar layout in another sidebar layout
		.l-sidebar {
			&__navigation,
			&__sidebar {
				width: $l-sub-sidebar-width;
			}

			&__navigation {
				display: initial;
			}

			@media (min-width: $breakpoint-md) {
				:global(.l-container) {
					padding: 0 $spacer-lg * 2;
				}
			}
		}
	}

	&__content-header {
		cursor: pointer;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;

		// Icon
		& > span {
			font-size: $font-size-md;
			margin-right: $spacer-xxs;
		}
	}

	&--collapse-to-#{$breakpoint-md} {
		@media (max-width: $breakpoint-md) {
			position: relative;

			.l-sidebar {
				&__navigation,
				&__sidebar {
					height: 100%;
					width: 100%;
				}

				&__navigation,
				&__main {
					transition:
						transform $animate-default,
						visibility $animate-default;
				}

				&__navigation {
					z-index: get-z-layer("foreground");
					position: absolute;
					border-right: none;
				}
			}

			&.l-sidebar--open {
				.l-sidebar {
					&__main {
						transform: translateX(100%);
					}
				}
			}

			&:not(.l-sidebar--open) {
				.l-sidebar {
					&__navigation {
						visibility: hidden;
						transform: translateX(-100%);
					}
				}
			}
		}

		@media (min-width: $breakpoint-md) {
			.l-sidebar {
				&__content-header {
					display: none;
				}
			}
		}
	}
}
