@use "styles/abstracts" as *;

$component: "l-sidebar";
$l-sidebar-width: 25.4rem;
$l-sub-sidebar-width: 27.5rem;

.#{$component} {
	display: flex;
	flex-flow: row nowrap;
	flex-grow: 1;
	height: 100%;

	&__navigation {
		width: $l-sidebar-width;
		border-right: $divider-grey;

		@include respond-to("lg") {
			display: none;
		}
	}

	&__sidebar {
		width: $l-sidebar-width; // force overlap with border
	}

	&__main {
		width: 100%;

		@include respond-at("xs") {
			flex-grow: 1;
		}

		// sidebar layout in another sidebar layout
		.#{$component} {
			&__navigation,
			&__sidebar {
				width: $l-sub-sidebar-width;
			}

			&__main {
				:global(.l-container) {
					max-width: 78.4rem; // 912 - (64*2)
				}
			}
		}
	}
}
