@use "src/styles/abstracts" as *;

$component: "c-approve-request-blade";

.#{$component} {
	&__date-time {
		:global(.c-form-control__input) {
			@media (min-width: $breakpoint-lg) {
				display: flex;
				flex-flow: row nowrap;
			}
		}

		:global(.react-datepicker-wrapper.c-datepicker) {
			&:not(:global(.react-datepicker-wrapper.c-datepicker--time)) {
				@media (max-width: $breakpoint-lg) {
					margin-bottom: $spacer-sm;
				}

				@media (min-width: $breakpoint-lg) {
					margin-right: $spacer-md;
					flex-grow: 1;
				}
			}
		}

		:global(.react-datepicker-wrapper.c-datepicker--time) {
			@media (min-width: $breakpoint-lg) {
				flex: 0 0 14rem;
			}
		}
	}
}

.c-form-control__errors {
	margin-top: -$spacer-sm !important;
	margin-bottom: $spacer-lg !important;
}
