@use "src/styles/abstracts" as abstracts;

$maintainer-logo-height: 7rem;

.p-object-detail__metadata-content {
	padding: 0 2rem;

	:global(p) {
		:global(span) {
			white-space: pre-line;
		}
	}

	@media (min-width: abstracts.$breakpoint-md) {
		padding: 0 abstracts.$spacer-lg;
	}

	& > {
		:global(h1),
		:global(h2),
		:global(h3),
		:global(h4),
		:global(h5),
		:global(h6),
		:global(p),
		:global(span) {
			@media (min-width: abstracts.$breakpoint-md) {
				word-break: break-all;
			}

			@media (min-width: abstracts.$breakpoint-lg) {
				word-break: initial;
			}
		}
	}

	&__rights-status {
		:global([class*="c-icon"]) {
			font-size: abstracts.$font-size-lg;
		}
	}

	&__names-list {
		&__more-info {
			color: abstracts.$neutral !important;
		}
	}

	&__previous-next {
		background-color: abstracts.$silver;
		border-radius: abstracts.$border-radius;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

.p-object-detail__metadata-maintainer-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.p-object-detail__metadata-category-tags {
	display: flex;
	flex-flow: row wrap;
	gap: abstracts.$spacer-xs;
}

.p-object-detail__source-attribution-info {
	margin-left: abstracts.$spacer-xxs;
}

.p-object-detail__provider-identifier-link {
	text-decoration: underline;
	text-underline-offset: 0.2rem;

	&:hover,
	&:focus {
		text-decoration-thickness: 0.2rem;
	}
}

// maintainer logo
.p-object-detail__sidebar__content-logo {
	width: 100%;
	height: 5.3rem;
	max-width: 16rem;
	max-height: 5.3rem;
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}

.p-object-detail__icon-button {
	width: fit-content;
	height: fit-content;
}

