@use "../../../../../styles/abstracts" as *;

.c-filter-form__footer {
	display: flex;
	padding: $spacer-md 2rem;
	width: 100%;

	@media (min-width: $breakpoint-md) {
		padding: $spacer-md $spacer-lg;
	}
}

.c-filter-form__reset {
	margin-right: 4rem;
}

.c-filter-form__submit {
	flex-grow: 1;
}
