@use 'src/styles/abstracts' as *;

.c-message-file-upload {
	&__button {
		cursor: pointer;
		border-radius: 0 !important;
		height: 100% !important;

		@include focus-outline;
	}

	&__input {
		display: none;
	}

	&__icon {
		font-size: $font-size-md !important;
		height: 1.8rem !important;
	}
}
