@use "src/styles/abstracts" as abstracts;

$navigator-margin-top: 30rem;
$controls-margin-left: 10rem + abstracts.$spacer-sm; // needs space next to the navigator control
$controls-margin-right: abstracts.$spacer-sm; // Can go all the way to the edge
$controls-margin-bottom: abstracts.$spacer-sm;

.c-iiif-viewer {
	container-name: iiif-viewer;
	container-type: size;
	height: 100%;

	&__iiif-container {
		display: block;
		position: absolute;
		inset: 0;

		:global(.openseadragon-container) {
			background-color: abstracts.$graphite !important;
		}

		:global(.c-iiif-viewer__iiif__alto__text) {
			&:global(--highlighted) {
				border: solid 2px abstracts.$teal;
				background-color: rgba(abstracts.$teal, 0.5);
			}

			&:global(--selected) {
				border: solid 4px abstracts.$teal;
				background-color: rgba(abstracts.$teal, 0.2);
			}
		}

		// Navigator zoom bounds indicator
		:global(.navigator) {
			padding: abstracts.$spacer-xs !important;
			border: 0 !important;
			margin-bottom: -3px !important; // Push it all the way in the corner of the screen

			:global(.displayregion) {
				outline: 3px solid abstracts.$black;
				border: 3px solid abstracts.$white !important;
			}
		}
	}

	&:global(.c-iiif-viewer__iiif__ocr--enabled) {
		:global(.c-iiif-viewer__iiif__alto__text) {
			display: block !important;
		}
	}

	&:global(.c-iiif-viewer__iiif__ocr--disabled) {
		:global(.c-iiif-viewer__iiif__alto__text) {
			display: none !important;
		}
	}

	&:global(.c-iiif-viewer__iiif__grid-view--enabled) {
		.c-iiif-viewer__iiif-container {
			display: none;
		}
	}

	&__grid-view-wrapper {
		width: 100%;
		height: 100%;
		background-color: abstracts.$shade-darker;
	}

	&__grid-view {
		padding: abstracts.$spacer-2xl;
		display: flex;
		flex-flow: row wrap;
		gap: 3rem;
		overflow-y: auto;
		background-color: abstracts.$graphite;
		justify-content: center;
		align-items: center;
		height: calc(#{abstracts.$view-height} - 10rem);
		padding-bottom: abstracts.$spacer-1xl * 4;

		@media (max-width: abstracts.$breakpoint-lg) {
			padding: abstracts.$spacer-1xl;
			padding-bottom: abstracts.$spacer-1xl * 4;
			gap: 2rem;
		}

		> button {
			cursor: pointer;
			padding: 0;
			border: 0.4rem solid abstracts.$graphite;
			width: 25%;

			@media (max-width: abstracts.$breakpoint-lg) {
				width: 40%;
			}

			> img {
				width: 100%;
				vertical-align: bottom;
			}

			&:hover,
			&:focus-visible {
				opacity: 0.9;
				border: 0.4rem solid abstracts.$teal;
				outline: none;
			}
		}
	}

	&__iiif__controls {
		width: auto;
		height: abstracts.$button-height-sm;
		position: absolute;
		left: $controls-margin-left;
		right: $controls-margin-right;
		bottom: 0;
		margin-bottom: $controls-margin-bottom;
		display: grid;
		grid-template-columns: auto 1fr auto;
		grid-template-rows: auto;
		grid-gap: abstracts.$spacer-xs abstracts.$spacer-xs;
		container: iiif__controls / size;

		@media (max-width: abstracts.$breakpoint-xl) {
			// Avoid buttons behind ipad bottom bar indicator
			bottom: abstracts.$spacer-md;
		}

		&__button-group {
			display: flex;
			flex-flow: row nowrap;
			height: abstracts.$button-height-sm;
			border-radius: abstracts.$button-radius-sm;
			background-color: abstracts.$white;
			padding: 0.4rem;
			align-items: center;

			&__search {
				flex-grow: 1;

				> div {
					flex-grow: 1;
				}

				&--disabled {
					visibility: hidden;
					pointer-events: none;
				}
			}

			> span {
				font-size: abstracts.$font-size-sm;
				padding: abstracts.$spacer-xs;
			}

			&__divider {
				width: 1px;
				height: abstracts.$button-height-xs;
				background-color: abstracts.$silver;
				margin: abstracts.$spacer-xxs abstracts.$spacer-xs;
			}
		}

		&__button:global(.c-button--sm) {
			width: abstracts.$button-height-sm;
			height: abstracts.$button-height-xs;
			border-radius: abstracts.$button-radius-xs;
			padding: abstracts.$spacer-xs abstracts.$spacer-xxs;
		}

		:global(.c-iiif-viewer__iiif__controls__grid-view__disable) {
			width: abstracts.$button-height;
			height: abstracts.$button-height;
			border-radius: abstracts.$button-radius;
			position: absolute;
			left: 50%;
			bottom: abstracts.$spacer-sm;
		}
	}

	// Hide the navigator when the iiif viewer gets too narrow
	@container iiif-viewer (max-width: #{abstracts.$breakpoint-md}) {
		:global(.navigator) {
			display: none !important;
		}

		&__iiif__reference-strip {
			display: none !important;
		}

		&__iiif__controls {
			left: abstracts.$spacer-xs;
			right: abstracts.$spacer-xs;
			grid-template-columns: auto 1fr auto;
			grid-template-rows: abstracts.$button-height-sm abstracts.$button-height-sm;
			height: abstracts.$button-height-sm + abstracts.$spacer-xs + abstracts.$button-height-sm;
			margin-bottom: abstracts.$spacer-xs;

			// Mobile search should be shown in separate grid row above other controls
			&__button-group__pagination {
				grid-column: 1;
				grid-row: 2;

				:global(.pagination-info) {
					display: none;
				}
			}

			&__button-group__search {
				grid-column: 1 / 4;
				grid-row: 1;
			}

			&__button-group__zoom {
				grid-column: 3;
				grid-row: 2;
			}
		}

		&__grid-view {
			padding: abstracts.$spacer-1xl;
			padding-bottom: abstracts.$spacer-1xl * 4;
			gap: 2rem;
		}
	}
}

.c-iiif-viewer__iiif__reference-strip {
	position: absolute !important;
	left: 0;
	top: 0;
	max-height: calc(100% - $navigator-margin-top) !important;
	display: flex;
	flex-direction: column;
	width: calc(10rem + #{abstracts.$spacer-sm});
	overflow-y: auto;
	padding-right: abstracts.$spacer-sm;
	padding-bottom: 0.5rem;

	&.c-iiif-viewer__iiif__reference-strip--scrollable::after {
		content: "";
		height: 1rem;
		background-color: black;
		position: fixed;
		top: var(--reference-strip-bottom-border-y); // Set from javascript IiifViewer.tsx
		width: 10rem;
		margin-top: -1rem;
	}

	@media (max-width: abstracts.$breakpoint-lg) {
		display: none;
	}

	> div {
		background-color: abstracts.$black;
		padding: abstracts.$spacer-xs;

		> button {
			cursor: pointer;
			background-color: transparent;
			border: 0.2rem solid transparent;
			padding: 0;

			> img {
				width: 100%;
				vertical-align: bottom;
				object-fit: contain;
				position: relative !important;
			}

			&:global(.active),
			&:hover,
			&:focus-visible {
				opacity: 0.9;
				outline: 0.2rem solid abstracts.$teal;
				outline-offset: 0.1rem;
			}
		}

		+ div {
			padding-top: 0;
		}
	}

	&__fake-newspaper-thumbnail {
		width: 8rem;
		height: 10.5rem;
		background-color: abstracts.$newspaper-bg;
	}
}

// Disable pointer events on the overlay wrapper to avoid issues with the close fullscreen button
// https://meemoo.atlassian.net/browse/ARC-2923
#overlay-wrapper {
	pointer-events: none;
}
