@use "styles/abstracts" as *;

.c-filter-menu__header {
	display: flex;
	height: 5.2rem;
	background-color: $black;
}

.c-filter-menu__toggle,
.c-filter-menu__option {
	border-radius: 0;
	outline: none;

	:global(.c-button__content) {
		display: flex;
		justify-content: space-between;
	}
}

.c-filter-menu__toggle {
	flex: 2 0 auto;
	height: 100%;
	padding-right: 1.2rem;
	text-align: left;

	@include respond-to("md") {
		font-size: $font-size-md;
	}
}

.c-filter-menu__view-toggle-container {
	border-left: 1px solid rgb(255 255 255 / 10%);
}

.c-filter-menu__view-toggle {
	padding: 0;

	:global(.c-button) {
		width: 4rem;
		height: 4rem;
	}
}
