$metadata-collapsed-width: 36vw;

.p-object-detail__media {
	max-height: calc(100vh - 10rem);
}

.p-object-detail__iiif {
	width: 100%;
	height: 100%;

	:global(.mirador-window-top-bar) {
		display: none;
	}

	:global(.mirador-canvas-nav) {
		display: none;
	}

	:global(.mirador-window),
	:global(.MuiDrawer-docked),
	:global(.mirador-companion-area-left) {
		z-index: 0 !important;
	}

	:global(.openseadragon-container) {
		background-color: #222 !important;
	}

	:global(.p-object-detail__iiif__alto__text) {
		color: #000;
		background-color: #cfba8c;
		text-align: center;

		> :global(svg) {
			width: 100%;
			height: 100%;
		}
	}

	&:global(.p-object-detail__iiif__ocr--enabled) {
		:global(.p-object-detail__iiif__alto__text) {
			display: block !important;
		}
	}

	&:global(.p-object-detail__iiif__ocr--disabled) {
		:global(.p-object-detail__iiif__alto__text) {
			display: none !important;
		}
	}
}

.p-object-detail__iiif__reference-strip {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100px;
	height: calc(100vh - 10rem);
	overflow-y: auto;

	> button {
		cursor: pointer;
		padding: 0;
		border: 0.2rem solid #222;

		> img {
			width: 100%;
			vertical-align: bottom;
		}

		&:hover,
		&:focus-visible {
			opacity: 0.9;
			border: 0.2rem solid #00c8aa;
			outline: none;
		}
	}
}

.p-object-detail__iiif__controls {
	z-index: 2000;
	width: 4.8rem;
	height: calc(100vh - 25rem);
	position: absolute;
	left: 0;
	top: 7rem;
	margin: 2.4rem;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

.p-object-detail__iiif__grid-view {
	padding: 10rem;
	display: flex;
	flex-flow: row wrap;
	gap: 3rem;
	overflow-y: auto;
	background-color: #222;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 10rem);

	> button {
		cursor: pointer;
		padding: 0;
		border: 0.4rem solid #222;

		> img {
			width: 100%;
			vertical-align: bottom;
		}

		&:hover,
		&:focus-visible {
			opacity: 0.9;
			border: 0.4rem solid #00c8aa;
			outline: none;
		}
	}
}

.p-object-detail__metadata__ocr {
	width: $metadata-collapsed-width;
	padding: 6.4rem 3.2rem;
	overflow-y: auto;

	> :global(.p-object-detail__metadata__ocr__word) {
		display: inline-block;
		padding: 0.5rem 0.25rem;
		cursor: pointer;

		&:hover {
			background-color: #00857d;
			color: white;
		}
	}
}

.p-object-detail__metadata__ocr__close {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-bottom: 3.2rem;
}
