.p-object-detail__media {
	max-height: calc(100vh - 10rem);
}

.p-object-detail__iiif {
	width: 100%;
	height: 100%;

	:global(.mirador-window-top-bar) {
		display: none;
	}

	:global(.mirador-canvas-nav) {
		display: none;
	}

	:global(.mirador-window),
	:global(.MuiDrawer-docked),
	:global(.mirador-companion-area-left) {
		z-index: 0 !important;
	}

	:global(.openseadragon-container) {
		background-color: #222 !important;
	}
}

.p-object-detail__iiif__reference-strip {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100px;
	height: calc(100vh - 10rem);
	overflow-y: auto;

	> button {
		cursor: pointer;
		padding: 0;
		border: 0.2rem solid #222;

		> img {
			width: 100%;
			vertical-align: bottom;
		}

		&:hover,
		&:focus-visible {
			opacity: 0.9;
			border: 0.2rem solid #00c8aa;
			outline: none;
		}
	}
}

.p-object-detail__iiif__controls {
	z-index: 2000;
	width: 4.8rem;
	height: calc(100vh - 25rem);
	position: absolute;
	left: 0;
	top: 7rem;
	margin: 2.4rem;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

.p-object-detail__iiif__grid-view {
	padding: 10rem;
	display: flex;
	flex-flow: row wrap;
	gap: 3rem;
	overflow-y: auto;
	background-color: #222;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 10rem);

	> button {
		cursor: pointer;
		padding: 0;
		border: 0.4rem solid #222;

		> img {
			width: 100%;
			vertical-align: bottom;
		}

		&:hover,
		&:focus-visible {
			opacity: 0.9;
			border: 0.4rem solid #00c8aa;
			outline: none;
		}
	}
}
