@use "src/styles/abstracts" as *;

$component: "c-multi-select";

.#{$component} {
	&__dropdown {
		width: 100%;
	}

	&__checkbox-list {
		&-item {
			border-top: 0.1rem solid $zinc;
			padding: $spacer-xxs $spacer-sm;

			&:global(.is-checked) {
				background-color: $teal-medium;
			}

			&:first-of-type {
				border-top: none;
			}
		}
	}
}
