@use "styles/abstracts" as *;

$c: "c-pagination-bar";

@mixin c-pagination-bar-two-item-justify {
	& span,
	div,
	button {
		&:nth-child(2n + 1) {
			justify-self: left;
		}

		&:nth-child(2n + 2) {
			justify-self: right;
		}
	}
}

@mixin c-pagination-bar-three-item-justify {
	grid-template-columns: repeat(3, 1fr);

	& span,
	div,
	button {
		&:nth-child(3n + 1) {
			justify-self: left;
		}

		&:nth-child(3n + 2) {
			justify-self: center;
		}

		&:nth-child(3n + 3) {
			justify-self: right;
		}
	}
}

.#{$c} {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: min-content;
	align-items: center;
	justify-items: center;

	@include c-pagination-bar-two-item-justify;

	&__back-to-top {
		display: none;
	}

	&--back-to-top {
		@include respond-at("md") {
			@include c-pagination-bar-three-item-justify;
		}
		
		.#{$c} {
			&__back-to-top {
				@include respond-at("md") {
					display: initial;
				}
			}
		}
	}
}
