@use "sass:math";
@use "src/styles/abstracts" as *;

$component: "c-visitor-space-card-controls";

.#{$component} {
	color: $black;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;

	@include respond-to("md") {
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: $spacer-xs;
	}

	&__label {
		display: flex;
		align-items: center;
		flex: 0 0 auto;
		max-width: 100%;
		margin-right: $spacer-xs;

		&-icon {
			font-size: $font-size-1xl;

			@include respond-at("md") {
				font-size: $font-size-lg;
			}

			+ .#{$component}__label-text {
				margin-left: $spacer-xs;
			}
		}

		&-text {
			font-size: $font-size-xs;
			line-height: $line-height-lg;

			@include respond-at("md") {
				max-width: 170px;
			}
		}
	}

	&__contact-list {
		@extend %reset-list;
	}

	&__contact-item {
		display: flex;
		padding-left: $spacer-sm;
		padding-right: $spacer-sm;
		justify-content: space-between;
		align-items: center;

		p {
			padding: $spacer-sm $spacer-xs;
		}
	}

	&--near {
		margin-top: $spacer-sm;

		@include respond-at("md") {
			margin-top: $spacer-md;
		}
	}

	&--far {
		margin-top: math.div($spacer-md, 2);

		@include respond-at("md") {
			margin-top: $spacer-lg;
		}
	}

	&--light {
		color: $white;

		.#{$component} {
			&__label {
				&-text {
					font-size: $font-size-sm;
					line-height: $line-height-3xl;
					max-width: 130px;
				}

				&-icon {
					+ .#{$component}__label-text {
						margin-left: $spacer-xs;
					}
				}
			}
		}
	}

	&--neutral {
		color: $neutral;
	}

	&--thinner {
		.#{$component} {
			&__label-text {
				font-size: $font-size-sm;
				line-height: $line-height-3xl;
				max-width: 130px;
			}
		}
	}

	&--flat {
		justify-content: space-between;

		@include respond-at("md") {
			margin-left: $spacer-md;
			margin-right: $spacer-xs;
			margin-top: $spacer-sm;
			min-width: 28.5rem;
		}

		@include respond-at("lg") {
			min-width: 32rem;
		}

		.#{$component} {
			&__label {
				&-text {
					font-size: $font-size-sm;
					line-height: math.div($font-size-md, 9) * 10; // 2rem;
				}

				&-icon {
					font-size: $font-size-md;

					+ .#{$component}__label-text {
						margin-left: math.div($spacer-md, 2);
					}
				}
			}
		}
	}

	&--wrap {
		@include respond-to("sm") {
			flex-direction: column;
			align-items: unset;
		}

		ul,
		button,
		div {
			&:not(:last-child) {
				@include respond-to("sm") {
					margin-bottom: $spacer-xs;
				}
			}
		}

		:global(.c-button) {
			@include respond-to("sm") {
				@include generate-button-small;

				padding: 0.9rem 1rem;
			}
		}
	}

	button {
		&:not(:last-child) {
			margin-right: $spacer-xs;
		}
	}

	ul {
		margin: 0;
	}
}
