@use "../abstracts" as *;

:root {
	font-size: 62.5%;
}

body {
	font-family: $font-family-primary;
	font-size: $font-size-base;
	line-height: $line-height-lg;
	margin: 0;
	overflow-y: scroll;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

// DO NOT COMMIT

// * {
// 	&:focus {
// 		color: rgb(255 0 0 / 50%) !important;
// 		background-color: rgb(255 0 0 / 50%) !important;
// 		outline: 1px solid hotpink !important;
// 		z-index: 9999 !important;
// 		transform: scale(1.2), translateZ(10) !important;
// 	}
// }
