@use "../abstracts" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: $font-weight-bold;
}

h1 {
	font-size: $font-size-4xl;
	line-height: $line-height-base;
}

h2 {
	font-size: $font-size-3xl;
	line-height: $line-height-lg;
}

h3 {
	font-size: $font-size-2xl;
	line-height: $line-height-md;
}

h4 {
	font-size: $font-size-lg;
	line-height: $line-height-base;
}

p {
	font-size: $font-size-base;
	line-height: $line-height-base;
}

a {
	text-decoration: underline;
	color: inherit;
}

small {
	font-size: $font-size-sm;
}

strong {
	font-weight: $font-weight-bold;
}
