@use "../../../../styles/abstracts/variables" as variables;

.c-material-request-status-pill {
	display: flex;
	flex-direction: row;
	align-items: center;

	&__pill{
		height: 3rem;
		width: 4rem;
		font-size: variables.$font-size-2xm;

		&--new, &--cancelled {
			background-color: variables.$grey;
			color: variables.$white;
		}

		&--pending {
			background-color: variables.$mustard;
			color: variables.$black;
		}

		&--approved {
			background-color: variables.$teal-dark;
			color: variables.$white;
		}

		&--denied {
			background-color: variables.$cherry;
			color: variables.$white;
		}
	}

	&__label {
		color: variables.$neutral;
		margin-left: variables.$spacer-xs;
	}
}
