@use "src/styles/abstracts" as abstracts;

.c-material-request-status-pill {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	min-width: 0;
	margin-bottom: abstracts.$spacer-xxs;
	margin-right: abstracts.$spacer-xxs;

	&__pill{
		height: 3rem;
		width: 4rem;
		font-size: abstracts.$font-size-2xm;

		&--new, &--cancelled {
			background-color: abstracts.$grey;
			color: abstracts.$white;
		}

		&--pending {
			background-color: abstracts.$mustard;
			color: abstracts.$black;
		}

		&--approved {
			background-color: abstracts.$teal-dark;
			color: abstracts.$white;
		}

		&--denied {
			background-color: abstracts.$cherry;
			color: abstracts.$white;
		}

		&--archived {
			background-color: abstracts.$grey;
			color: abstracts.$white;
		}
	}

	&__label {
		color: abstracts.$neutral;
		margin-left: abstracts.$spacer-xs;

		@include abstracts.text-ellipsis;
	}
}
